{
  "openapi": "3.0.2",
  "info": {
    "title": "Imagress API",
    "version": "0.5",
    "x-logo": {
      "url": "/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Imagress logo"
    }
  },

  "servers": [{ "url": "https://api.imagress.com" }],
  "components": {
    "schemas": {
      "FileFormat": {
        "type": "string",
        "enum": ["jpeg", "png", "webp", "gif", "tiff"]
      }
    }
  },

  "paths": {
    "/convert": {
      "post": {
        "description": "Processing image by request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "image in base64",
                    "example": "data:image/jpeg;base64,/9j/4gxYSUNDX1BST0ZJTEUAAQEAAAxITGlubwIQAABtbnRyUkdCIFhZWiAHzgACAAkABgAxAABhY3NwTVNGVAAAAABJRUMgc1JHQgAAAAAAAAAAAAAAAAAA9tYAAQAAAADTLUhQICAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABFjcHJ0AAABUAAAADNkZXNjAAABhAAAAGx3dHB0AAAB8AAAABRia3B0AAACBAAAABRyWFlaAAACGAAAABRnWFlaAAACLAAAABRiWFlaAAACQAAAABRkbW5kAAACVAAAAHBkbWRkAAACxAAAAIh2dWVkAAADTAAAAIZ2aWV3AAAD1AAAACRsdW1pAAAD+AAAABRtZWFzAAAEDAAAACR0ZWNoAAAEMAAAAAxyVFJDAAAEPAAACAxnVFJDAAAEPAAACAxiVFJDAAAEPAAACAx0ZXh0AAAAAENvcHlyaWdodCAoYykgMTk5OCBIZXdsZXR0LVBhY2thcmQgQ29tcGFueQAAZGVzYwAAAAAAAAASc1JHQiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAABJzUkdCIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAWFlaIAAAAAAAAPNRAAEAAAABFsxYWVogAAAAAAAAAAAAAAAAAAAAAFhZWiAAAAAAAABvogAAOPUAAAOQWFlaIAAAAAAAAGKZAAC3hQAAGNpYWVogAAAAAAAAJKAAAA+EAAC2z2Rlc2MAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAFklFQyBodHRwOi8vd3d3LmllYy5jaAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABkZXNjAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAtIHNSR0IAAAAAAAAAAAAAAC5JRUMgNjE5NjYtMi4xIERlZmF1bHQgUkdCIGNvbG91ciBzcGFjZSAtIHNSR0IAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZGVzYwAAAAAAAAAsUmVmZXJlbmNlIFZpZXdpbmcgQ29uZGl0aW9uIGluIElFQzYxOTY2LTIuMQAAAAAAAAAAAAAALFJlZmVyZW5jZSBWaWV3aW5nIENvbmRpdGlvbiBpbiBJRUM2MTk2Ni0yLjEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHZpZXcAAAAAABOk/gAUXy4AEM8UAAPtzAAEEwsAA1yeAAAAAVhZWiAAAAAAAEwJVgBQAAAAVx/nbWVhcwAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAo8AAAACc2lnIAAAAABDUlQgY3VydgAAAAAAAAQAAAAABQAKAA8AFAAZAB4AIwAoAC0AMgA3ADsAQABFAEoATwBUAFkAXgBjAGgAbQByAHcAfACBAIYAiwCQAJUAmgCfAKQAqQCuALIAtwC8AMEAxgDLANAA1QDbAOAA5QDrAPAA9gD7AQEBBwENARMBGQEfASUBKwEyATgBPgFFAUwBUgFZAWABZwFuAXUBfAGDAYsBkgGaAaEBqQGxAbkBwQHJAdEB2QHhAekB8gH6AgMCDAIUAh0CJgIvAjgCQQJLAlQCXQJnAnECegKEAo4CmAKiAqwCtgLBAssC1QLgAusC9QMAAwsDFgMhAy0DOANDA08DWgNmA3IDfgOKA5YDogOuA7oDxwPTA+AD7AP5BAYEEwQgBC0EOwRIBFUEYwRxBH4EjASaBKgEtgTEBNME4QTwBP4FDQUcBSsFOgVJBVgFZwV3BYYFlgWmBbUFxQXVBeUF9gYGBhYGJwY3BkgGWQZqBnsGjAadBq8GwAbRBuMG9QcHBxkHKwc9B08HYQd0B4YHmQesB78H0gflB/gICwgfCDIIRghaCG4IggiWCKoIvgjSCOcI+wkQCSUJOglPCWQJeQmPCaQJugnPCeUJ+woRCicKPQpUCmoKgQqYCq4KxQrcCvMLCwsiCzkLUQtpC4ALmAuwC8gL4Qv5DBIMKgxDDFwMdQyODKcMwAzZDPMNDQ0mDUANWg10DY4NqQ3DDd4N+A4TDi4OSQ5kDn8Omw62DtIO7g8JDyUPQQ9eD3oPlg+zD88P7BAJECYQQxBhEH4QmxC5ENcQ9RETETERTxFtEYwRqhHJEegSBxImEkUSZBKEEqMSwxLjEwMTIxNDE2MTgxOkE8UT5RQGFCcUSRRqFIsUrRTOFPAVEhU0FVYVeBWbFb0V4BYDFiYWSRZsFo8WshbWFvoXHRdBF2UXiReuF9IX9xgbGEAYZRiKGK8Y1Rj6GSAZRRlrGZEZtxndGgQaKhpRGncanhrFGuwbFBs7G2MbihuyG9ocAhwqHFIcexyjHMwc9R0eHUcdcB2ZHcMd7B4WHkAeah6UHr4e6R8THz4faR+UH78f6iAVIEEgbCCYIMQg8CEcIUghdSGhIc4h+yInIlUigiKvIt0jCiM4I2YjlCPCI/AkHyRNJHwkqyTaJQklOCVoJZclxyX3JicmVyaHJrcm6CcYJ0kneierJ9woDSg/KHEooijUKQYpOClrKZ0p0CoCKjUqaCqbKs8rAis2K2krnSvRLAUsOSxuLKIs1y0MLUEtdi2rLeEuFi5MLoIuty7uLyQvWi+RL8cv/jA1MGwwpDDbMRIxSjGCMbox8jIqMmMymzLUMw0zRjN/M7gz8TQrNGU0njTYNRM1TTWHNcI1/TY3NnI2rjbpNyQ3YDecN9c4FDhQOIw4yDkFOUI5fzm8Ofk6Njp0OrI67zstO2s7qjvoPCc8ZTykPOM9Ij1hPaE94D4gPmA+oD7gPyE/YT+iP+JAI0BkQKZA50EpQWpBrEHuQjBCckK1QvdDOkN9Q8BEA0RHRIpEzkUSRVVFmkXeRiJGZ0arRvBHNUd7R8BIBUhLSJFI10kdSWNJqUnwSjdKfUrESwxLU0uaS+JMKkxyTLpNAk1KTZNN3E4lTm5Ot08AT0lPk0/dUCdQcVC7UQZRUFGbUeZSMVJ8UsdTE1NfU6pT9lRCVI9U21UoVXVVwlYPVlxWqVb3V0RXklfgWC9YfVjLWRpZaVm4WgdaVlqmWvVbRVuVW+VcNVyGXNZdJ114XcleGl5sXr1fD19hX7NgBWBXYKpg/GFPYaJh9WJJYpxi8GNDY5dj62RAZJRk6WU9ZZJl52Y9ZpJm6Gc9Z5Nn6Wg/aJZo7GlDaZpp8WpIap9q92tPa6dr/2xXbK9tCG1gbbluEm5rbsRvHm94b9FwK3CGcOBxOnGVcfByS3KmcwFzXXO4dBR0cHTMdSh1hXXhdj52m3b4d1Z3s3gReG54zHkqeYl553pGeqV7BHtje8J8IXyBfOF9QX2hfgF+Yn7CfyN/hH/lgEeAqIEKgWuBzYIwgpKC9INXg7qEHYSAhOOFR4Wrhg6GcobXhzuHn4gEiGmIzokziZmJ/opkisqLMIuWi/yMY4zKjTGNmI3/jmaOzo82j56QBpBukNaRP5GokhGSepLjk02TtpQglIqU9JVflcmWNJaflwqXdZfgmEyYuJkkmZCZ/JpomtWbQpuvnByciZz3nWSd0p5Anq6fHZ+Ln/qgaaDYoUehtqImopajBqN2o+akVqTHpTilqaYapoum/adup+CoUqjEqTepqaocqo+rAqt1q+msXKzQrUStuK4trqGvFq+LsACwdbDqsWCx1rJLssKzOLOutCW0nLUTtYq2AbZ5tvC3aLfguFm40blKucK6O7q1uy67p7whvJu9Fb2Pvgq+hL7/v3q/9cBwwOzBZ8Hjwl/C28NYw9TEUcTOxUvFyMZGxsPHQce/yD3IvMk6ybnKOMq3yzbLtsw1zLXNNc21zjbOts83z7jQOdC60TzRvtI/0sHTRNPG1EnUy9VO1dHWVdbY11zX4Nhk2OjZbNnx2nba+9uA3AXcit0Q3ZbeHN6i3ynfr+A24L3hROHM4lPi2+Nj4+vkc+T85YTmDeaW5x/nqegy6LzpRunQ6lvq5etw6/vshu0R7ZzuKO6070DvzPBY8OXxcvH/8ozzGfOn9DT0wvVQ9d72bfb794r4Gfio+Tj5x/pX+uf7d/wH/Jj9Kf26/kv+3P9t////7gAhQWRvYmUAZEAAAAABAwAQAwIDBgAAAAAAAAAAAAAAAP/bAIQAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQICAgICAgICAgICAwMDAwMDAwMDAwEBAQEBAQEBAQEBAgIBAgIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMD/8IAEQgAZABkAwERAAIRAQMRAf/EAIIAAQADAQEAAAAAAAAAAAAAAAAJCgsIBwEBAAAAAAAAAAAAAAAAAAAAABAAAgMAAQUBAAAAAAAAAAAACAkwBwpwAGAEBQYZEQABBQEAAQQBAwQDAAAAAAADAgQFBgcBCBITFBUwABEWYCTXGJgJORIBAAAAAAAAAAAAAAAAAAAAcP/aAAwDAQECEQMRAAAAv8AAAAAAAoyFKE1Oyb4AAAAFQwpSmjaTwAAAAAHiplLmh8TKAAAAAHNplRGlCSnAAAAAHHxlhGneSHgAAAAHBBX4LfwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//aAAgBAgABBQDin//aAAgBAwABBQDin//aAAgBAQABBQCbZAYBijH9R+sTTes4dsWneKY4tWKuzsZR4pLLSaOj726MncVS26j4yJHemyvpdiy+jPzlnemJxtJtyHqMtxKog4aBLMVjzzQMTUq16g2yjbGdQMj4xEcbLrhhGYhlCymWjy0oaY2PLnHhnY05589xJrAIXtT/2gAIAQICBj8AKf/aAAgBAwIGPwAp/9oACAEBAQY/APzf9fcX44btvnjdWLZAeTL+dtWFb5fcrLpM9GSOEt/4/bK/n03XXb0ecx7sLmPePiuRk7ZHI26A9E46b/0s8/8A/mR5Ff5G/XhtqW16XoGwabaP9hv5LoupXKx6Be7F9J5V7lXYb723WySl7BL/AFFfiGjFr8hwT47NqIKPSMaE8/F4KC8KsSDsqcYL5NG0sS9LyTOjQK9B54+jpfAq1W+UcUvyVTTJfqvhqcex8Xnve30guE8WPL+7QE7h9vlpNU7T9BoFordwXkOrQUtOtFZpe7DSpW0UlctZ6nH8kwtPlv4iegpA7RfTEbyjNv8AXzaoPPvMLLIRjzccgbuOgay7ZKgR6NazEDw5Xsjnk++IhLhv1ZnVfkDJZulLGRi8e/j0Dx836iw+jZNpsE4r9sq0yJXROG5FIM0kY54FQ3sNPwj8InkdINSCeMHoBHARBRpVygblgl6tg81/lr2yeLfkgwaoUCWYi4Vcxj+tMQBTBltTaCMRlMxbgXI2yxBFuQC4JblqzHb4D6uh+RudsYuP8g8M+d0jurTTgfQguVP47Kp/NZfbXISLj3SukKyLxbJ0rpxcIb8d/wDGryPpTO8ZfocYppIMyehvMQMsDiiQlwqEx0Rj1641h91LmPfC51Qip9K0kCsgl07SMvt0n9ICUlJrx/3IEa55n+8Zf1225Y820iDA4QxJJIYlAztFeKbhG5VAfsi8QuPffphsOWnb1bTasOMhN4xB/JCd2fKbq5bEXxHq9Dc05RrIpqY8FMoEgT5uNYiJC9bO2rf8d18ZfJCqIsFKtQPmQ02y43b27O7mzbuR1/QqFMGA47CWyvFcr6InoWB03IZo6Edo4OAkPP12XIvrMj13QbwhlIixvyxwdxJtft63ZItDlSepMhDcM1DqOqSrcwgDpqb90x0gaA8hcIlOMZAPxYPWcplnzZxdMd0HjRJ39TsggpD14wP+yjxMqMQ2sux9JUJGVJ24Px2fxw8goT+3de7M5zosU1aruuRaABoZvD3mnPD856XDb3eieslq41lGKyNj89C+KRtnkT5Ebt7BjctGR5/lGR2Ah6HrdEFI+qL1jWQu26v34f2kO69B+kchEnWsro6VKU1V/Sn/2Q=="
                  },
                  "rotate": {
                    "type": "object",
                    "properties": {
                      "angle": {
                        "type": "number",
                        "example": 45
                      }
                    },
                    "description": "rotate clockwise in degree"
                  },
                  "flip": {
                    "type": "object",
                    "properties": {
                      "x": {
                        "type": "boolean",
                        "example": false
                      },
                      "y": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "format": {
                    "$ref": "#/components/schemas/FileFormat"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "image": {
                          "type": "string"
                        },
                        "format": {
                          "$ref": "#/components/schemas/FileFormat"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "output": {
                    "image": "/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAG4AbgDASIAAhEBAxEB/8QAHAABAAICAwEAAAAAAAAAAAAAAAIDAQQFBgcI/8QAPxABAAEDAgUBBQYDBwQCAwEAAREAAiEDMQQFEkFRYQYicYGREzKhscHwB9HhFBUjM0JS8SQ0YnIWJUNjkqL/xAAYAQEBAQEBAAAAAAAAAAAAAAAAAQIDBP/EACMRAQEAAgICAgMAAwAAAAAAAAABAhEDMRIhE0EiMlFCYYH/2gAMAwEAAhEDEQA/APqmlKUClKUClKUClKUClKUClKUClKUClKwob7UGaVw3M/aLl/AW3desal9u9tjMfFrofPP4iaupOny8LLWQutz/AP6cfSsXORLlI9G5lzXguW2jxnEWabcgW7q/Deur+0Xt3w3BcBxOpy+y7Vv0tO67rvItIF+e1eW8dzDiuI17dbiNW5b7xYykIkrneKr9pL3iOQ8eWXlrdw94nfZrleW31GPLfTQ/h9/F32g4nX4nU5hxmlxNrqNxp6tpFtrsCQh9a9d5T/E7lPEltvH2avCXv+qOuz6mT6V8e+xGvbpccBqFrtDtO1es6D1WCJARJn4pUuVxW3T6W4HnnK+OtHheP4fUHONQmt+3Vsu+7fa/Br5e+6lxjsRI1s6XHa+nPRxGtaGzbfcDHbetTl/qef8Ap9NSeaSea+av725jbcmnx3EpGF1Lo+O9Ru5tzK6Z47XQNvtX+dX5ovnH0rdq2W/evsPi1pcVzjl3C/8Accdw2n/7agV82a/H8TfNt/Ea9xEZvXP1rWvtu1AUvuTy5p8p5vfeYfxC9neCP+8+3v8A9uja3fjtXS+cfxe1rm6zlHLiw7X690v0Mfi15k6WopgtZ7/veo36RaP2upYQTA5ms3ktTy23ub+3PO+O4m3U4njuMm26bbNG907bU8FqT85rvnIP4n8dwxbpcw4c4qxBsZ6byc5xDvFeU6vGaGlcmhpOpqkKpW1ocRqavG8MMdd1lt1x4mYKzMrPcTenvnKf4i8s4q77PjdPU4TUhy+9ax6mT6V2vgeacDx1o8JxWjqn/jcV83X6Oi6zIlxOS5JcY3rY09XU4e627Q1dTSuO4rmtTls7amb6WpXh/KPbvnHL4tv1P7VpWwRfnHx3K7vyf+IvLeMC3jLb+H1NlPetn866TklWZSu80rV4Lj+F46zr4TiNPWI/03T9StqujRSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlcTzXn3ActtfttYv1e2lp+9c/Lt86luuxy1afMOY8JwFnVxevZpnYXL8DevOeefxB1l+y4S10lx06YX3/AF2Pj28103iOY8Zxl7fq6jY3S3Jd13x63OPoVzy5JOmLnp6Vzj2+4fhZOH0y2fu36zHV6lplrpfNPa/mfMJC68se9/u2x/6mfq11/T07LFutHrTN1ytz8VZaKXRCjG372rllnaxcrTXu1uI1F4jUdU3BQtPgGColpdduBg9BrKhcgOIM1nqnuSOFiaxtENVnTcsyxHdGf0rOu2a3C3WsRdaj6iVjpYVRHPj0/lVWjeaeo6dwszcHp+5oPC+J4G/lftFxHD3iOnqIdsLI/Rr0jk+rfdw9oXXOIjeK0f4l8n6mzm3D2K6YWa0d7ey/Db6Vqey3MLbtMsucxEtdN7m2r7jtlurxFt+VYwnasnG6hdN1p0m4x2pp9N2mfdjbGKzZbbKOBj1hqM7ZOL1kXT0HUtmbYi5juJMibfzqP2/Eof8ARXiP+w/OajdoR1e7nyv4fKsHCrbdcC2Wx1OUJ700u4n/AGnidPOvZZp27vUhd5gCVfSoX8XxV2nNvTbJv5zk2rBoRMWh8IM/Ko3QJKsYjc+dNJb/ABr6pr6mdTV336c1TdoWrK3XpsXOFrbUtVhnYYkqMSMCD3IM+PWrJBRp6K6lmnYQ3oB5V/rXJ8p0rXj+J4m7Nlvu2ZxAQP61DhdNts1NS2CMWo4bkynwJ+tbXTbocJbp2HvXsRvjvPyqX+ES4dv1bi4l62VPrW3fDfG52BPzqjhzoDpFJnJGKtv3BSU7OR2rB9lqgDg3E71K8tvPeBfMR281hZ6TB6mPpWW6RtATfP73pBfw3FcVwmqX8LxF9l8CSonwd/OK7byX+I/MeDCzmVhxGl/uu3//AKD8yulN1xYt1xF0RaYiO9FLvugx3VmPFamVnVWZWPduTe2XKeZ22xrmhq3bWauB+F2zXYrbi4G1Ee5XzMWBcti6au9rE/E2fjXK8p9peccrT+ycVc2H/wCO5936Mn0rpjy/1uZvoaaV5byj+KERZzbhEcDdp4T5OH5Nd65N7R8r5xaf2LirLr3ey5i4+VdZlL01LtzFKCO1K0pSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBXD899oOA5LpN3F6tvWbWDmtP2v9oP7n4e3S4a22/jNU90XFp5a8f5hr8Rx2tdq6+o/aXXLF2WfK92f0rlnnr1GMstOx899vON4+6/T4LTu0tLYJ6Z+Lu/KK6pr36/FXt3E691w5bLJttn5Zfm1U6d7m648Y7/ABqxG1JZI3O9cbbbuudtvZp2WlhaFoYwGNqy3ADZmPGGO9YGDqSe0ww+KLcjnbv6VnaMDjEjEeZpaXBNv3vCdisi7EA5R/SsXLbcSz6mKDKSGBN5aheu9tuNvl5KyGQBcYnFZGbVGPQ3KCCNpEszERtVevplx1WkNuSe/pVyqzduePNRd5mPQJoSta6y3iNJ09QL7LxLrbiREhGvM+c8q1fZ7mPXol13Aalz9ndv0f8Aivp2816Zr6TZc3Wyl24fmfyqrW0dHitF0Ney3W0NQi624w/12qy6XenW+U8dZq6QTE4CuXtumJyu0k1wnEeznEcv1HV5W3a+hMmjc+/b6C7n41dwnF9XuajfZqmG28hHwjW97LHqXsL7MaPOfZvm+rrwcRfcaehqXMGm2xco+rE+hXNX+y2jpcBwGjy3jLDhL+h1LrtPr/tF110Td3LQmD5zNdK9kOe820NfS5fy7jtOzS1r2009a0bJd1ns12I4Tneno36Jqcutt09MssbZW4LmA8EmK3G8dNH2x5No8JyvieLvbLf7PxFuhp26ek2AIoM7hG7n4157ddbLMmD6+a7t7Za/NTl2jpcyu4Lp1dSX7GW7qtMTJjDXRwhYId1cVnJnLv0y3CgbHYzWxw+hfxGqW2wLluNrQ3mp8Pweprhe2lml3vf0O7W+tuhpOloiSSsyz5fWs266Z7VXW2lx02+5Zi3ser8/0qrS6uIvIRsFCO53f0qGo/aPRYKH3rh7+Ct/Q07dO0DeMB6bFYtVbbEYcxk8RtVaN10vS5+eKkF3TMZ7bzS5bfuwr2fj2+tAJtuItkfOY9aw3AnUmWdslZi3q3B2Deo3IuDJhI3zQSRY6lJGO7UQYNj1Ht4qVtlySwdPcz8qXQTMAgx+dBi8iBRYmZ2KhLKME5feqUDhInCuD+lYi0H3RM7mZ/c0GLblIcphjA/zq7Tuv07zV0LrtHUIbb7LoR8+vwqJba3MSA7Bvio8RqXaenaWs33YsU/F+FUelew/t3q8RccHzNtbz3bdU/1J2fWvTOH17NfTL7LhHxXzfYFnD2OiFrY7953n1716R7Be0/2gcNxN0XkGe55rtx579V1xy+q9OpUNK8vsLhwk1OuzRSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBWtx3FaXBcLq8RrIaemNzWzXnX8Q+c/a8TZyzQZ07Eu1ke/YrOWXjNpbp1fnHMNXmfG6vFagl2opaT9202PSuA4zXNLmJZAWFoXej5/T6Vykl2pIwGYrr/Mro0tTUuRu1LgBMxNeXe7txt23i4tubTZJjMlLwbi5m7E4jNa2nc6cW3MpELuj/XFbI+6Tm2djv8KiM9MxB6mex5/GsWCpgtJxBQsVjKw5OxvmpMkLdJ5iflQVXELF0q+IzROseqX/AMTapuGSFjZxTa5ns5jv2aCpJQhfBtWP9wYiVEx9amsTDL4ctZuJTKoG/f0oKpmYyPcPSsF0Oz+FLjGZMzisDApMehQZWYm0PTEVrXW9K3AWvfOH+VXir26fU+tRuv6rwNto7/8ANDaqzVFbb4F9O/pWdbT0OIB4jSsvdhutF+TvWdTQtuVmExEYqq7R1S1bLmY2Ge3rRUbeXcNbDZfq6bMTbdJPwZrd4O/+yaepYXaOqX7utpdd1u5hkjztvXHrrWpa2j32T6+Haq3X1C6Oi1j1f5VZaddL7uB4bqTU1tW6O0kZ7TmrLLeE4dnS4cbhSbpuZ+daTqa9z7thjBMsVK3h+I1ZluthyWkfj3p/00nxPFz968tjAH6Fa8anEXFpNtmcxDceucHxrb0uCttnq87DKx3Vra6S2C0A8vep6Ntbh+Ht05bumQMGQxEf1q+C6DJ3h2cVm25htQGcpS64MXdnZ80Nq0uHqUjyGKnCxMdkjsP5UgAkFcx59flUburrwoxl8n7KDNizst24H8/hWbJC64i0WKKA+9c5jbc8VKwAUtTvD+lBIi0ZkXCnjv8ArULgXDjtvirCAGVXMEE/yqOQDdWPl4oivpCJlDGaXXQJbvOAay9I4E7D8e1Stmbolbe/pRWLbYiMI5MpUdC41eJVhLRLRMerH4VPXU0b23NyFp8XB+/Sq+BB4niemE0m3TJ7wS/nQXaaXad9rhl2xFV8LxGpw/EW6ukxfYzM1KwTX1R6QfejwVragl10ChlO31qkr2j2I9o7OO4a2zUuOswi9/Fd3teq2Svm7kvMtTlnG26tqgw3A4j+de4ey/OdPmHCWJeKgjNejDPy9OuN3HYqUGaV0aKUpQKUpQKUpQKUpQKUpQKUpQKUpQcV7Sc0s5RyrV4m6G/7unb/ALrnYrx7W1dW66/V1GdXUVuXKqzPwrnfbnm/9583NLSu6uF4ZbbYcXXd39Cuu66oRt+KV5eTLdcc7v0qvQtSJnCHauF5sl1tkDBOAnauX1kLGLZ2iWfwrhtY+21by1BLRDf6VhlZ1N/BW6ik6bC94cP6VscLc36TkU2YxWlwN0N+hcII4HDJDUeR6tzqcRosN1uFnsMY/Cg5Q6rQFMMxtD+ysiC2pHfEuaT7lxIDmT4f1p/qIUgczQEEVlnGfH77ViRXMPk8OPlUrWMXS+H+tYu7Fx3Txv3PSgjdiAZPEdvNRQz1dV0bv9asi23bL4clRULgkFwm/wBKCq4MzbDPmTv6VgYRSEMd5alE3GVAWJy+v6VG5bkQT4bfMoIXSiL39ai3RakvnGJ8NTDqtUVO76eKjdazAQEgucfKgxNzL1E7evxisjmRRBwkNRttfIxLHdKW3feUYWIdiglf92FQPPie34VhsYIZO2IalMbxMMed6WwRNwsZneghAT1XChEE7elStIepWHYMvwqIArKQO21TW5tG5F7IwnbNTassMrEbEYc/pSQWSVJWKwoi437UmL0zkxOzQQhuWbS1gyePh9KXZexHcJf0qV6xtJEQvpv+NBZGGYiGqiKwnvMRu1FG4MZzuv5xUpi5EJfhNZF6cbwO3aisWi2xOFjO40tR232l7vmljFzDBkECfxoEKw24xJQSukGIQ8flWAmS5U3/AB8Um3q6p9IZrJBgd5YXNERRJGOn65/SpWCwBLEHoeGkxgMB5/OrNGyb8wC4Tegp1UeJ0tNi2JuiMqYD835VTy5beJ4+xJuNUuIeyFLLi/jb7gZt1C1zsQh+M1XpXdHOuICIu0xlxtRY2OJenXEGW2J2K19XVuLrhMH0jFbPEEaoHTcEyP8AOtW+4+0IyrGcExQjHTNyek75xXZPY/nl/LuLLL700bk37P6FdavSC77zMMsVguZEQFyD28Ulsu4stnt9Kcn46zi+HtuLhYzXJb1457A+0N2ldbw+vfkxarMn8yvXOF17dfSL7WRr145eU3HWXftfSlK0pSlKBSlKBSlKBSlKBSlKBXWvbjnP918qbNK/p4jX9y1P9J3f0+LXYtTUt0tO6++4tttFV7FeL+1fNf725tq60rpWzZYH+0/c1z5MtTUZyunFl0LErsZ/Oo6lymUj82sXMkMB52zUGUAiI3MQV5XFDWf8O6Ry4PX1rh7NS6zmiMQ2Jg7n/NctxbGl6bYrrfEX3W8dp32odpJj97UWOTu6TXs1LRFc5netXhZ0PaTXtVC+wuCN+z+lbekW6iXSyHnFavGrp8+5fqTi+y6xgkUBh+jViOZsGSVh8/j+VTiMIno+artuiUhJTGe1SUQRyTBH4TQBM9jYj8aSOSSYek29Ki91hY9cfhRRgukU3aDClzCTBBGPnUBHKs9pKlKMISeUrC9onEw4CgXPTkFHeez3rFzC9WFzBSIBZky4xPzpcSwJEzlj8KCHVlFIfWiLc9IiqIFC3OA3iJzWW0F2HIzd8v50FbbddKowec1WMR1MTsNWQA9TbO+CU8E1HpxlCXy0Gbr8Q57B2ahAp2x4nPxqwstLZB+cR5KXXARaPkk/GoI2t3fLt6/1qV0dQExHeo23AsQ+E8VnMCrKfHun5UVkS3ASuZfHpWLoYQU2qQIiyxBDvn40iEiS3ZnzQYtPeTMwEzilqHvG+2XvUoAJCJnZhI8/KsMNsKE+kselEQtEi1JZyO9Yib4Fzj1ankESfDOaxe7JPU4Z7Pb9KKjqGza5PJ9KjczDKuxPf1rMMq+6Mwb/ALKe83LODY8ek96CUNtriZx8qnB02ojLv+lQtliCZYxUrNwJGZjfPeZqolarckEbQFW6JF5upmquktRMLiDerZjTvubhi1ZmO351BwfJ9U1eO5oKvRqWGM5hf1rZ4pjnOlGV0kY8D3ri/Y6/7TjuczlOICDGC3euU5iOnzPh7hYhJPhtVX7bHELKEDuu6+lcTxGsmqEvurtvNcpxN7ppfDL3WPjXCa776pDLvt8T8aQjb0267SVRXPx+NZ0Uubn7xMQeacKF2ld0rgj5+nmtS1TVbWZnYYKDmOF1L9HXL7LkvsjpTHevXfYj2gOI0bLdS4HZHs140XdKKSYdsVy3JOZanAcZbqHUWOLo2Tz8a3x5eNaxy0+jdO8vtEZKnXWvZnm9nF8PYNwqGfJXZLWSvU6s0pSgUpSgUpSgUpSgUpVHG8Tp8HwmrxGshp6drcrQdT/iLzj+zcCcDoXhra2bo7W15hfdMSo5MR4mtznfH38y5lrcRrMN6J3g2A+VcdqPYlAhryZ5eV245XaXVjyepGKwtsok/DDUbkLTpziJTb0qKzddAAbeCsMq+MY0sxHmuscTcvEIXYnPb6/zrsfMH/CFwzsYK6vq6n/VXWv+rwVYscxwGoXafTkcx43pzK2OK5ZeSNut0uJ3tuPxxWvyu5Lrhm6JBra5gdV3AG0cTbjzM5/OpO0+3I2ZsnuenbtisttwZF2381HRRt6iZ2j+VWJZaBcGDaNqog2pfEdILAuKn1LaLu/z7UCboMzs/vtRemJjLMUGLgLVYx23n5maxsYFXeGpKQplnd/lUVAZSDKEz8qA3MQgS7fvyFRlDpuA+PcqTsXSRDnx2+tVzaWu6vZ/Ogk2s/6Xq27RHaajaDMsZZHEtSELZIGI32qCDaiTKyHagjcwskziH8msXMgdt4KK3TiP1rMy4w7GN6gwuJbc+mYI+mKxdmGBXEhgrKzc5xthiiTbBdHVOPT1oI2YTz2wwfSpxF7MBAhGPnUbS5XoRgQhwVlu6ewg9s/soJXNysAg+M0sEUQ2yPmozsswG73qRBe9UImwYooSQ7GMdvjmorGDHapNsGY8QvrWMEGcGzRFd0KZuRkXH5RRktd/Ar+EVlMEIhjO8+aruJxbhQx4miwQTDK5z+VBkLe52c0e84naBmgLazJDljNNiy25LVTD38NSttmbgYcSsVjTxDdAd+/0rIN0zmY70FluLszIj8/0prvTw2pMXMJESbVm0DtKMrt+FV8ShbdvF1qfspv2mnVfYa7q5v7QWqQcRb8ptrnub3dPE8Pex7tx5rrvsKpz72jHtrabL6212PmtpcWbmZ8w1elvaHEt6tzKYUckVxXFEsuYJe9ctxVw6Vu8gYriNdIYl8vb4UI3OXag2AERvJhrW4g+y4ovNpymz8at5Uzdd1S4mJ2ac0Fi4z0wzFIfbd0nq0y5ZkjBipWrKLB2DM1Ry691NELt9sVdqW3F83QW7580Ha/Y/nN/Ba9mjqXRZMWM9/H8q9k5Tx1nFaFqIsV8623BF0ym1xXoXsR7QKW6ercl9sFw4k7Nd+PP/GumGW/VeuDNK1eD4i3W0i61HFbVdmylKUClKUClKUCvPP4k85zbyzRu7dWrD33D9fpXcue8xs5VyzW4rUibSLB/1XdivEOM4vU4zitXW1L7rr71uXdlZkrjy5a9RjO6UmXLLusZfFRvZZYdypE2igrEy+KpuuG7KPl9K87kXE3EBMkpOfSsCruj3krCJkggwLOZ3qRi1nJAzDQavMlt4dZnfB5rqGtd/wBeQh1OfSu3cxF4Z3Y8bQ/1rpN90cysiCXxVix2DQvNDU0r2UbonbDia5HiS67X4c36b7tRT0tQ/G4rR4vSuu4Kxt2tyYn8K2NG9ut+0MjpIL5Un8qRPtyfDdTpWxbLG8Ympr1ENuO2axwaGlaWoBu4+s9v6VC67qXKOXsS/rQSubmbbum3vJhh9ayrswSQ/wDNUyqO55l/CgygsuyPb/mgt6cspPkrChOUdoiZ9Kkwx1EvjsRUC731hRwJ6UGSC3MwCtYCYiPhE4onV1dKJOTfE7VG4Bcw4ifyiglcgdUEGJ70XBcpCsztFREbXLK7fvasIFhcjHp+f41BhARiXxHfzUbhF8742qTJO8r38eKwbluCMz3+lFYQLvRyz3xUotNpV7VgeySuM/vesgXW2io5ZM0BktggO6PfzFAekiR3HeayEWRbHhnxWLskOx2WMveqM7QwKNZLRgYAZaWkKxcCee3jahaAHvRJiRjeoIuRLSXushj+lYItyWj6qxU4IEkN8/od6hdgWQmPFBFZTEeh3qOoYbnKoQ/hU70LXZNu9QvQDLPV5mgg3TBdMeFipLj3rpM4wfKq7mQmPAO5Vg9sqggHf0oFoijcBEzMx6VYEZVCO/ZqtZcpO8eX9xUpBBmCfh/xQXWAmLsvh71HiS5PeFIylZEjddshtTVW+y46naX6Pig6d7LXHD+2fPdFkNTT09W3zibX9K7Vxfv3QsAfKuo8JrWv8SdJ0k6r+CuL/RESWu2cSTfMk+HtVvZWrrIaZE9j1iuN4lEm1MQJNb2u3wCA7REJWjqCSuR7+r2qwiXLLw1G2JZjFbnG6Y2XdUR8a47l98cUGYfG0elcxxdtyKATKgRj+VT7HHco1AvbLnNrEVynED0TKRO/euD050eOxgd/C/GueuLdTh2IA3nMvil7Kr0WdOJFnD4ra4TiL+F4qzV0kEZj0ezWlw8BMkTCTt86veqCfu+ezTZvT1/2Q55br6Nk3Yu7PZ7ld60tQvtEa+evZ3md3A8WF1yaVyHwfNeyezvMzX0i25Jr1YZeUdsbuOzUqNtwk1KtqUpSgUpXV/brnf8AdfLvsdC7/quIm23/AMbe7Ut17qW6dR/iJzs4zjThtFnQ0VMOG7u/pXTbS5uGTEk/hTX1HV195jyzmZrNrEWqTswfv0ryZXd3XG3bF502qJHce9UjmItR9CCp6mdOQEy4chWuXTAxMQdioi226bmIkiW30/ZWerqTszOc1CxhlsxMYxNZuS0Y2e3ioKOPk4ZgXvIROK6HrScxt2w13zjnq4e4BcbldF1Ru5hbBtdEuNmrFjutmmX8HbJakYE2xVHBW3W6OrpmbWEnDK1t8vg4ayF2wO9YttLXVUggkNt6iNzhbbGyYT3YzVOr7t6KDHY/CruDLTRW5RufERWlroa7naCH8fnVGeo6pwpmHarLfeFFnYfX+VUrapBDnLirtPATuEq7UF5NpFvaNnFQvW57nbGCal1WloWvjf02qNygWpIpgctQZSAtiCTb61BZuW6JRwYJqUWu0GN2ZjsfGoswdUMlUMj1bOMVG5WQzuxHanvNxEnZmlyl4jhxJUERV6LRjw7UJzMBECFYhtuSIQzvJ61kkS/eNjakUDqWUIJl323azaQKIJnHwqLcKJCMb7npWQDBB5PSgWq3lpLJAO/xqTjFyHaFzWBC1By58sZx6VGYWLRg7NBbcWnZLTxmsOJm0e8TWLZBgV3ntWRep6XJv61UZlUwmNpzUfdc73LuzvTcXE9yd2X9Kj0sxl74zQYLZlyHef0qNwX25wbfh2rKpgIF7uaINn3RRZCoqq5bU74iVM/1isWp2EJiFrGq9K2u89zvWNO64ZLSX8/hQXiJiRiFPz9MUtZYRTs/OsWODqITK7befSpGIyA5oLLEDYe0zn51LUxo3dYdUIJg9KjZaXIZHvjtVmtcmmigxKxRHm3Jb7j+Jd+ndEnC3Wk/H+ld/wBcC2Zklma8/wCGPsf4n6V0h9poXh9T+deg8RnRBc75rV7ay+nE66TEqu+Nq1W22Ec53nb1rZ17oUYHy4Z+Na94W2oKziGqjX4JHiRSScY/GuxaouiNwZBzmuucNd08TJa5xO812WG/hSZwNZ6pXX+YW3WpqCLbmB/Gua5fqW63DAqdVu4bvcrj+JtL7LrZPXH4VHlOt9lqGldIf6ZNmlG9oM3tmJGYe5V9rIqwEh8PQrUE0+L1bbmFyRv8fSrrLrrrWwJXYfFBZpPVpyxjuFdz9j+c3adxpal3v2bZ3P5ldQtsLNFW4AFbnBVOlr6mlq2X6NzZcM43uz67Faxy8buLjdV9Hcp4y3iNIRFrkxxXmnsZzk4jStZC4gvtnZ9PSvROF1jV0xGa9Uu5t2l22KUpVFPGcRp8Jw2rr61xbp6drdc+leF8/wCb6nNOc8TxWo3Yxp2+LfFd3/ifza627Q5doajaP+JqsSf+I+nf6V5tq51feCX/AFTJXn5ct+nLO/TOhpoN7m5zlx86k3SNpMxPy9YqoLrd1TBj86ssOolB3QNmuTCN2LVEhxO34Vp23CXBaK9zPz8Vt3vuIm448VqNyXZtbZzHZoLtO4QnZyefWp3oBkgxE1Ros2k/CavDOCMTtM/OoKeLZ4TVQg2nb5V0RX+8L5lbcb+td44sHRvSXt6M/wDFdJ0bG7mfERIGPWrFnTunAN39ltLoLo3GYrYtuL7dQCb+mEYPnWjyzUHhrbbph2e3zrc4ZLtXXHPu49MlEbGidGh7sB4cy1x+tcGoXk5Zh2rkE6dIjYxDsfvNcbxepFpuOw7MvaKEZ+0bly3Z7wz4q6xSE3cpJ32c1p23XZAk9PO1bOgRsCXAQ9qDdFMWkOcruVi9g7ysT3+TTaJywGcRS656RtJzB8KgjcAr1MSE7dt/hVZIQMyzUroLiWc7Rn50icXIRmO9Bi5J6kgw471hZutXE4xTLcxCxg9f5VFRwGHz2oD7qWqs7sjLUdm1w+d5iosSb+Xv9KDaLdhxt2qiz/QRgndzDUbUbmQ8BFG46tsmRD08VK2cjBOY8VFLhWG4U3nvWcGLmHJFYAJUQCFnEeaKEhcJ2T9KqM3MyrHjGKySIO89sNLHdMnas2Tcpsmx4agzcpIrJ28+JagoEEme7kfFSvFC1gd5TFVygRbCu7RWVVm7C93+dYvcIpGMEDPbFYhBll9DesXgBdg2JjvQa17d1syrudj19ala9SSSGIkP+Kr1rluIkVn5lWad0wtpPiKC4BC53jK/lipJIkRO2JqFhEwOyhsTvvU4mYQDv2aC7SJjMRgXz5zTiohWRmJhwU0lVgHuzs+ahqq4lMdnaiPPOZP9m/iFyrUxGpbfbIYcDXfLodLqYh2lmug+2dzoe03ItYULdZt8bn9K71p33PDtzE7np/Or/Gq4vi83qxPnvVWobEMmc/pVuuDexk3ntVareCu0SMZrURq8O9PFkhDnDGa7RpzdoEQz+Hy7V1W2244siJnE12ngrV0wc4+ZWaVx+qe9gHKIm7XHa59jr2aoMWOzNctcN3EXSK7QbejVHE8PNt02u2EzWiMlxq8RZqsEmYfyrd0TMspPug5+FcZw+hcadlktyzAen6VyXD6eoRZYyJ7zaY+BWbTSzUbr79wRzOQ9Dy1HS0F1LbbS5uvZcS3djG7WzwXBavFa5o8La33rnxaeV7Fd45NybS5faX3P2mukN6beh4K3hhclxxta3s3ynW4BdbXvbb7iDTOx6vd+Fd+5JxqRZc5rgbLepAJa5jlXB3F5czNenHGSajrPXqO2ad3VbNKhw9rbaTSqryr2x9nebaXG8Rx1xdxWlqXN7fpktpOBt3IIMeK6XcXK9MDuj3+VfRzXW+e+yPLeadd9tn9m4l//ACaRE/E2a45cW/cYuH8eKpdY3N2DDjJt9SsW3ZhC3sI4fhXZOfezHHcmuuu1rG/Q2t1dMm35nb57+a642e5cWNobtrkn9+K4WWeq52WeqjqopN0obG7WukyEXPjdmrobWAVdh2j0u7/Oqb7y69li5xDhHaglYSsBbG3f61Nufl2j8qpxbN1tsPmIJq1962FVe5UGNQHSvSYhxM10vgbevjuOuMw5PFdzZC+yZ91UO1dW5Tpzqcz1FVL0zvtVhOnL8u1D+y2v+kwKVyXBWjrX3W7Ngz864vktpqcDeSqqmP3FbvKNew43W4UuW80y9BmBY/SiVyWp9xnadq4jmDFhEz28/OuZ1MWtu6nwneU9a4XjMCTJO6p+HpQivRVCcPcmPkVv6CSMynpHatHSbgsTJ5MHiuQ0OltJ3Xd/XvRauZicqee3rS4eoxPcIxUrQbIzHlYajfJjCHacvwqIi93IDvPimo2uFLbYMz3+NNtjspOxmoX3TD1EGYjf0qjERvMx2cVG4NjJ5qXVKJGfSarv1OpbhZiX4/SiijFtgC4U8lZBxBE7M5PVqtzdIpj5/Wp2w2oS3O3f61BK2IciEyzElS6nqAhE7tQCTML2O3fHrU490brQu38fCgTIqgfnQEYIczn84rBKwgT6SnzqcoM3T2I+sUQZVBJPH73oCyDDvC7fGsREFosdjDWQW7CDGUopdkEjLldtt6wR0ZTuRil2Iu6hnG05N/wpae6q7GI7/OgxbBbiB7jVaW22uXyBLFXIuVEex2PjVOrdvGUY8fOg0eIOnWFk7Hlq7Qi6wjqE9Yj41r8WxBdPbZGr9HARdjEd2g2BMdOSfOF8VItXeQ7jjFYsY+6RG2dv6zS097puu3JySLRF+jFue2YrGssIFpOXtSxhgGYzWNS61uG6WZUmYmg86/iUNn936xI2cRaj38frXdNF6uEsukBsGflXWfb3hLeK4Oy1YuLy7GYRma5zg9e3U5bw93VaxaEGcx3rdl1tr6V62bnMD3fD3qqXqm0CcR3qV93+Ikg+N2p6lpbba257o4aI09Vf7TYnu5jNdj4O7/DJ6ch830rgOIf8XSuy53Xt8K5rhbgtsm1G6c/0rNKlbb/1V76RH6VVxMi2geG5yH82rtS5NS901tLmJMq+D12nxWdPRekuvCewZCd/n5ojT0tK6y625bizq+6uXHf09K57lHA6/MOIvt0LS2wYuvTFh+r6VdyTkV/ME1NcdLhLcCMXXvcPTtP0rvHC6GlwujbpaFltmnbsW/m+X1rphx2+63jjv3VfLeX6HLuHNLQtZ3uvd7nutb2lpXarFox5qzg+Hu17yZiuycDy8tBQr0Sa9R1aPL+XbNxXYOH4c07SCp6WkWhEVeEVQCKUpQKUpQRvttvtbbgbXCOa6b7Q+wnB8c36/LU4XiHLaHuXPw7PqV3SkVm4y9pZt4Hznk/F8q1fseP0brBxbck2r5HauF4jR6b5u6ricXH3j+fzr6O43hOH43h7tHi9KzV0rsNtxNea+1fsHrcPbfxHJerW0sroP3j4eT03rhlx2dOdw17jzW9bbZuZsIC/t8E7VZZdFx0sAbvmnEl2ncwFt0xcXYyYRGqgbtJLZ6jLa7h5PJXJlfcxKG5Gdq4TkulHAcxucN2rcfFrlbdWdILu0z2+da+jZZw/J7lgNW666N93+VUa3KtU0OD1m7AKq7Vq+xWnqa/O+acdrLb9rZZZZadrRU+tUXal/EH2FkmlZm9Dd7Fdk9muAv0OF1OIutizWuLRfB/zXSY/j5VrWpuuQ4lS1YFMR2iuF44YYwLs5zXMcUsuMZYMZwVxHFp0rsOyuK5sRRoIGMBgB39a5PQEJYXYK4rQZuCJzk2+lcpw8QW3KjnG5ii1sgEm4fvFQu+7gQ8xWbXqHpCVll/KpslooPo9oqIru95u3JzHbbNV32+GUzHeKs1DcNzecZ/cVTc3Cyw7yUEZAfdWXssxUW4SUDdl8+lZvuSUZnDUZS2S4d5PFFQ083EWpOZfNW25VkuPD3fBVdrMWsAmTf8AGrCwkgyyCUE2JMLbEEORqUS7piM7/KokwTO0/CKTKhnbO00EgiIuk9GGsg3XPYnf+dQk7IQbd6KWm5nGO/pQSFuuxPxXtWG+5uWQHEH6Utfd7neYmo9TAxPqbRRElW4BjMvh9anZMkbeTvUbbeoD9fnV02tuLZ9Riiqbrm2TEPbZ9M1XqImRnED+vpVj0kzkaq1UbHLGN+/xoOP4tHUVt6u++I+FbPCk9K2ybPb5Vq8TdFzsnk3+tbHCqWCbTMn73ofTZi7dly479qzaWgyMGSc1lQGJDZkl+NZLZhxH5tEXWpBHwkxmqdaOrcgMp2e0VdaShcwECneqbmOpYxkPrQda9p9IussD1z5rjOA+10bi21S1THafNc5zjT69fSCUlFK19HhYuMeK9PHJcdV1xm57S1bW2+LrS13Dskb1bfb1cMNsrOPNd95Z7O6HPOWW6d/+Hr22/wCHqm9r4TueldU5nyvi+Ua2vwPMNJ0tQOq25PdvNhte5+Vc88LixljY4fVOrRIczsE5rluHbjS0xWMCm8+D1rjtIWxGYOxuvgrlOC037LqugvBM7Wng/nXOou6dxx2xgDwevlrkvZ7lepzbWb7hs4Cxi64w6idjweWquU8m4jmnFWGra6fLrJb71i7V8W2m8eX6V3/R07NHSs0tCws07ALbbcAHau3Hhv3W8cfurNOy3TstsstLbLQACADtV+hpXat4ExVnCcJfq3EjDXYuA5eWgpXd0Y5XwhZaSVzmnYAY7VHS0i0I7VdQAilKUClKUClKUClKUClKUHUfbL2M4Tn2lqauh08Px6Y1Axcm3UfrvXkPHcu4nlevdwvMdG7T4ixcqZOyPcfJX0ZXEe0XIuE55wbo8VbF4e5qh71j5K5Z8e/cYuO3z5r6H2pd1e7c+GC709GuM5nqXaupocFw82dNp1zvaG6+a7b7Rch5hybjbeB1NG7Wv1ro0LrLVNR9PXyVwuvynX5drXWcULr3s3XRPyHwVyw47b7THH37a/KeVvFcTpcLw9iCwp+K16R7R8qs5ZyflmhZaCl0+u1Wfw65B0xxOtZ712cm1ct/Eu3ps4AJOkv2+VduT1i1l08x44i9gF7lcXxZ7jcMPg/OuS4z3r4HKxBXF8XdddZclsx3nY8V5nGNPRlTaZ3N4a5nQhtAETEhEFcNw+OmALzyTH9a5fSVCEHZ7Z80Wr7cOIhxJWbnEZk3DM/OoWpIgIJnxVluDADL6R8aiIXXEzKu+IHxiqckTuMxP7irwVAyx3Yds1RcRHuiJ28UVVerODO2f0quVS3Ay7fl8KndOQ37YqOmK2jkuzhzjtmgzbbOWc5a2ABgweHBPrUbBgm2OxHf1qTp9UJC+DvVEUgdux4rINx7wqMouxWICSZBYI+k1m0BJ8zJv/xURlAVtnu4YmgSqh2YDz6VFtgcqi9u1JuhBxHneipJsbkdyPlUdMLrvegg2MzR961ZnGWKlbBhnA75qos7fe6liZ+ePX+lSsYOohxmPT0qsZMkpjGH0/Wp2uIIDO5UFdyCw4XC/wA6qv8Aet6s2psePnU7kFYgNu+ajqh0ws2wpDBRXFcV1OCCTOcx52rd4TpNIuBMQm35VpcSxcOZjM1ucJjTMi91oVurd0GVu7w9n9xS0tCBUO+w+nrUIubl3xJFJftCHO1EXWE2vVE5hj6VXqMxKnrH5VZaRAqvdNo/nUNU6XEDKb71RxnH6c8Vw0m9zvW3Zwp1ElUcSTxmgsPvlc9paM3GK78PTth07r7GafTp2EV3DnXs/wAHz/ljwvG2o72alp72mxuP6V1r2TsiyzHiu/8ACkWldbJZqtWbfO3tD7Ncb7N8y+x46wv0bl+y1rbfdvPTwxuVzfJfZ7V1dOzjOK0brNBh07LiG/1Tx4O9e3cbwfDcbpGnxehp62mJcW3kgneqOP4CzXsTpDEEVicUl2zMZLt55p2QhaekBXM8t5ddqXF1xXKaHJSzVlJrmuG4W3TtAAro01+D4I07TBXI2WAEFSLQrNApSlApSlApSlApSlApSlApSlApSlBXqaVmpHXbatuRSY+Fdd5x7M8Nx2vbqXWEjNdmpQaPLeCs4TQtstAAiuofxNJeD/8AW79K77XQv4mQ3cKO3RdXPk/VnLp5XxWL0YtRUSuK4mbbQCZFxvNctxQfaS2423w1xfFXWolwAKxOK82nGNLRUhVLXt6+a5nh/e02RcYjeuJtC2Ibomd+1ctoE2CTCRmD8fjRatHASgsYNoalexBgJzOPpVWS4BV8u81ZEhLuxkKiIs9LcKCw1Tq2xezh3g7Vf72YQyP/AB4qrUBVLh9V/CKqqbs2BMG896xplqnSR5E796Nk3fdh2Id2s2uWTPbLjfuVBcito4lw+nlqU229wTEH86jY3dQQBv6VIRluRjGcyUETEYGDtWB6p6YU27MetZELgbYO45+ZHbFC6bu0BBO8+n86CNtwrgjZ8tIypMfg1m4m7IR5DNLguIAEx5qoW3XZjAeTFZsVXZBjBu0FQCTvjB+NJSQgQlQ/WgsWCWEAn0ayPubA75xLVQ3XHum+GasO8LG0v55qCtuJZfRqu5W26A7b4rN6m4xhHOKrvSHPaDw0Vx3EorkLh+Nb3CJ9mkkm72rj9eG9hhN4+G3mt3gyLAYScnn+tNjbhFcrj1p1KE4l79n1oyKwmMQgz4oI3CtzBuMM0RZaNqzCOZGo3kKMTEYI/GpQ7AGCTf61HViVMm4r+dUaHFTbxPDGZ+0MJmPjXa9KzJFdS4z/ADtJRY1BE75/Ku5aBMfKu/D9uuHTu3swe7b8q7zw33SukezO1td34b7pXZtsUpSgx0lZiKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFeffxOzrcKOToWPnXoNedfxNZ4zQP/1/q1z5P1Zy6eZ8ae8kx2hxmuI1npuUFHec1yvMGFty3eN8fH61xeoKiRA7h2rzOMUWYvlGNoTZ81ymizo2yZ3CISuPsAve8LnzW5pL9kXLPaO0UWtjSOq5nbGZ3+NXOWO2+ap4fvlcee9WXIXZtU+O/pUQuG5SBO1x4rX1BbjKEsKb1ddedLDAOJxPpiqrzGUWNooqpXrICImXalgWpDJnC/vNYVtUJDGHb4UtZuN2gs6hi1UcYmpXWrEWpOzvWLXquN19fxqXUy2gAuTutAi0HqkTcO1LV6WVTbJigTvagsANEW3BHxf1oDb7xNoeajcYm2MEyMIVIuG4Il8mahcKD0kP5/ufpQZlDZVJlyTS1hcJDOcVG2boCY8RUyUkSTODeiLJOliWSU7Hr+X0rFirgWO1Op6RIHIxvFYsZT6JVEL0ELmSYjvVesBppAb+v0/CrLupvZCPDn6VXrD9izBbkkKiuL1d8o9nzW5wVwBBCYIzBWrcraqQz8ZjxW1wSlogTv4oNrwsPie+alaLcRCTIu1RuWGMkzBWBG/Exj0+dBeGQzPTMFV6iN0Qno5/fash7+GGsawL1WsO0BvRGjxFw9D0pFwzMxkrunD5BPBXSeK+6obRnzmu68IzpWPm0/Ku/D9uuDunsy4trvPDfdK6H7Mu1d74X7hXdts0pSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgV5x/Et/6/Tjf7Mz82vR681/iRdHMcJPRb+tc+X9Wc+nmfMbv8YG1Scyww+PSuPvZmWLdp9fhW7xKqzcTOzmT4/WtLWepAnpJiCfrXmclQQ2jCPcIrc0hbAZRe8zWnFw4DDiMQ1tcPLbLJjD2oNzTOlnCfH+lTuRZSPwiq9K6LBPmG5Ui7qSGFZ2qIjeLAnSKf8FRvAtkZuHYgqSpc9UpKR2KrvQX128tKquVnFq/i/Ko23Wt2xazl8+KlekpgN5N6jaTdbdbbmIy9pxQW4LhJhdjD9anJDhPEZxUC0kServP5VaPuOwzIfD17UAbS3HUx5l+G0VHbGWO3lpajdEhOZWWpJFiDmTNBAlvLUx/41FLQAlBgR2ams3sQWmIqOqyA7THigyCKYe2EGKjb1RkVnAGWn+kLu3p2rIhYA4MR/KqJZuFtMbep5rDAgztLOCsyII4ZwdmKjbMwyBmXxQIW5vOnLDOKr4uTTCSMIC/hVkf4hEJ5Xf5VTxSEWuc7LPf8Kg0L7T7NC2E3m5mtnl4trML5xWvr5scSzMLGdpq7l77s7tpQb09NjCIki74x+lVpEdSrIONqzczEywiwARWLQZbgB7JmPSguDJmX8fTtUdRGUScO0Hzz5rNqk9Mlvrv6VG992d3L/SrBp66dN1rAmZcTXceXs8NpPmwfwrpnEYmSSHZ713Hlb1cFoXJlsPyrtw910wdy9mnJXfeFzYV0H2acld+4TNhXdts0pSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgV5f8AxJu/+1YWem34bV6hXlH8Rmec6m0FoOY7Vy5emM+nnnFI33WiDvnxWj0ykyDu962uKffdvTzD3/GtZZBwYWO0eX1rzubHSdb47r5ra4aTAKG8Gz5rULlTqhY3rZ4c6bLklHZoNizE9KjkTz86nKEEQbhlquyWIB7ybz++1TRUzjujFEOlZYYcVC+2Ccz2VxHirOqAy4kR8VDVUye8TED2orXvb+mVDMA96jYrDu5D4VLVfeS73fl8KjpwJlbUJnfftQXxFlsXZnK1Y9QCo95/GoAG0vlPPxqcrHugPn9agxvdMIXQkxEfzzUrg7zmWZpCPTbu+Ic/OsBF07TiGcUEFyRvvM4+NY1VyLH41nWFuuiOrG+ceKqZIHfKJtPignIWyXKm+e/8qzFrtlTYqFrazur32+dZfdbZFXfOfjQSN4/ZHaionUYmN5ms3vSoK4+Mf1qstG+AYCd81RfpW++twmPFaesTrJ2ZZJ7VvWQFyiv0+VaV7N92BJYnB+4qEanEPuoEmYY9e5VvAnuIiZw+nmo64IhnvJn8alwV3XYETG8TQbUzMBK79jHes3ZujA5z58VE+6tr3iZqa9FpIyj6fOqhYdUAhGPnWL0tnu5XMd6zau2DeJ2ajexPUQd0NqK0+MQMwiRHrXbuRM8s4Zf9gV1HiR+xBul8m2fWu1+zqvKeGnfph+tdeG+28Hd/Zp94+Nd+4T7hXQPZn758a7/wn3CvQ6NqlKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUBryL+IN//AN3xLu2wfDBXrrXjnt0jznjcyFz8q5cvTGfTovEpde4UWUj8619QkRtIZJ8FX6txdOJZj0rV11LjB6SxHxrzucCAiJ8TuR+VbGgJLjG0Y/5rX02LlwuyvfvV9l3VMSZx6en40K2RW4S2NqmwBaBIxB5+NUBPTGJzM1dNqkSoURkbpI7GTv8AuaheSo3Qby4pa9Vywndz9CsX3TcDCmBO9BTqA32qT9P1qFgCCSY7+tZ1Sb4ZOkwu1NJW5mF2HseairofdIkzIdv3isy52x2nP/FRhNTIz4asg9Q7hu1Rmy+XbefG/rWbmd5BIg3rB0tz0wRKJ4qGookIHddigjqF3VGEfWq1UQmd4TMxFTbVSLm57Q4Khczbsj42h9P60EtIUJUtIJKm/e3un1MR8Khp3LbDATiGlzNzMTth/GgkvSlzCwZCmi9V2FHbNV6l0BkPj+NW6JAqzGfjNQX9fToraEeJy1p9UrIJlmcb71sauNEt77z6ela+odMBb2lN2kGtrC2zaERErmaxy9DrD3UYqWrBYSYfqfCo8DgutELsyx2qjbAZG4jLWS6666R7YVZaxA2mSO6dqw3II7sQ/wAqiJTcPSw9j4Vi8ZIHxDRSSJIiR71jUEcKoTnbeqrV4suRlHu47V2f2XZ5RoJ2k/Gus8SjporHnxXZfZZnldhO1yfjXTi7bw7d79mvvlegcJ90rz72axqBXoPCfc+Vel0bNKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoDXivtxcHNeMuWB1HvGzXtTXiHtldPMeLcM6l0S+sTXHm6Yz6dQhVZ3zn9+K0eMPeBzGcxHx9a5DpcI7DmM1x/H6j1ECpiTFcHOJ2pbvEYXEh6VdawN1rHr6+K1tFXTVY3kmIrastDpWJd6I2rLXpHHkX8oqWnaMzJ5Zk+Oajp3MdTG+Xv4iakIKrsdsrNBFEvYSHAPp5qNxF3U3AxtVlpbC3B7zhGX51FEuYUTaO5Qa+rm6CW6JIzM+BrNsY6SF9MetR4v8AzLI2iIjIVm0tEhU3Ph+VFW3iMrMwzJkqeC4gDbJmKiKXQdOcq96ml3UpCJKvbGaDEQFrCM5O/wAKrYViY3O7FWAyrMBkioXsCgb4AzFRFepLcRMH0h8Vi+S2EPADmKzcolwS7s9qjcw5uHMznbNFWWYsxgnE1DUEmUHBBimmXNuHB47Vi+HDCbkH61Qbn7Qhxs+D61saItl0wB37ta2nLqQCj5/StjRIthRhwAJREr4bgcuIzgK19eSUnDI+nhq++3qv6lJ74qjVgue59PWiqdQLbZuwwkSgtVcN964tDaZF/Gat1BBLpe12MVRwofaI/dXzgPOaDesBIuUjKuy+B+FYbpJLHeJIj5xS5uAGI7bQnmo3pbA3ZjfyUiJaZ1bQ52PT1ooMqz600rukFMbYcxWL2OoQCcdz4UGrxRNrkSZ9U8ldk9k0/u4hmL3M117iJt0gwySsTiue9kH/AOvvDY1GunH+zeD0D2b/AMz516Dwn3D4V557Nv8Ai16FwmbD4V6XVtUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgd68J9sbp4/XzE33fSa91a8E9q7l47WlBb36S1x5nPPp18FlFxhPyriuOX7yu7HauWUhcrv61xPMktsUd4idq4MRnhP8m24FZmdyK3rQISRiA/r5rT4BnStLZjfBH61uWi2gRiIzv8AChWzaN1lpYiTvGamHSAqu0m/wqvThyWsejj4RU5i48Gw0Rm06bukw7GO1EG9ucsxtvQEJVliPWosCGBln/ig1uMQ1BgVxC4PlWbGXAq5Co8UBqWoMSmd6B1X2zcJb32+tFXgLLl8d/hVhdFp1XRmajbYCqSmJKlDZcZE7S49d6gyoDHmE7+v6VXdcBNoFoI989qk2yM/FZqtDpu6mPQN/WqIgiTMbvmKrvRvZlNw7VO5hFB2IMnxKpn3YFgzHagttksFEtTsYaruZUG4e/bFSWB96ZxL+VRmYQybA+ncoJ2H+IEqEZcVsWC2MkLt6FUadrIMRu9s1slwWyYXvtQRWLyTxIsQ1r3i33AMvbd+Hyq+5DKKm47P86qbIm4ggUe8zG/ehFF90GRZ8lU8OnXmFnMMQVbeSdII3Qsu/wAqhpYvZi17YkCg2Lrl01fQyTjyVVqsQK3PaDtVsHSCCz7zmI8TVFy361oSk7Rmg2NIgIjKZrF93U4lkif6VMum1IPEBO1Quel2icZdqI1de4bWJSFk/e1c/wCx7PB6oCf4nf4VwOtIhcjGSMT8a5z2Qfc4m026jL8K6cf7N4PQfZt/xvnXonB/cPhXnXs5/nxXonB/5Z8K9Lq26UKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUEb8WXfCvn/2luHjb5J95T6te/a2NLU/9Wvn3n9x/bb5w9S4+NceZjPpw90wYXCbzXFc2xo3ys4M7Vy1wFzaQsjjsptXFc1bvsmCI3WuDnGeAn+zkoYlgyetbttwWQSjHetHl71aIbiEn6VvadrcCYlAKFbJdM3Bh77VnTQxERM0tcFqR2yVkG07OZI/WiJW3RcJMx2rPSlwszuH51hItFmYwHmsWzJakO49/hQa/FIali7dUhtUbJbjAExnEeKlxWdWwSUcobULUQdsdpj5UVsWGxdme9Z1FSbgtPSGsB7qoDGCKjfcjISPae9EC5LhbsPdxPpVV6zIrvs5rOrcGzJE7bPpVF+pLgPMG/wDSmlYvvwto7R4jPesEARmJ9M5qnUFMEJl8tTGNjD2dqaF11w2DAx2zFYm19ZzgqBHYQe01IYuYz4Xx5oL9JBcMOSM/nWykkorvnetWyIQcziP1rYtVEX4HdIoaRYbhMZ7+Kr1823WKz1QxFWjFwMhC581RxGFlnPagp1Ibgdto7FU6a3anTaB2k7lXXJMwQfv9ap0+q66/pRRk9f5UGz1JpsAM4cJFU2S3Tndns/Kp3M4xbOJNpqu0JC1J8T3KDa6t4MHf8yoodLcqI4PlQEtDHU7SYKje5bS0MZndmkFOqoYyGc5rl/Y9ftOLHORrhrgLHABhTK+hXLeyL/1XE+ttrvW+O/k1j29G9nn/AKj516JwT/hnwrzn2fY4g+VejcDnTPhXqdW4UpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgq4rHD63/AKP5V89c8uni22Mly/LPmvoPjmOD4h8ad35V89c2W7irokWZ7Q1w5mM3GsNr0iITL5P3vXF82Z0kZuXGP1zXKXiykmBkw1xvM/esdh3ka4ucU8tf8EmQ8m8/GuSsekF6gxgzB8K43lnUWSLI7YiuTsPdMzswMR6UKsLkMoTmF7Vbbd2MM5N5rXtVHaJ2YmKttbbnqIGIoi/TxlW70IqVgNxBMeBSqbLsLIxnHf8AZVll0C3Rjdjeg1da1v1UtYIVJ3ppi3Gyb522qOqzq4cbvmpWpiZCH3jtRV5cYmdtjNV3u8EDIMzj1ipXXAE5DC1Rei3FuDZl3KCOpqB95G09c7f8Vry3Wz1SP3sbVm+FLYFAcY+tYttAXcx5rQxEXdKR/tjvU+05SIgdv3moiu2OxO8eayPu9LuYmY/c5rIyZtwuDvip2CWnVhMRFQvlSLsRENSGQhl2iKDa0kJUQQk8/T51bY4G4E3xVWn7tncX8f2RVumpjKUEVm5xB43+dat903IRnHnPrV+rcqt0inY3K12H/S5zPnvE0Irui4YtmJDePWmlbcXIXEpL+2lzkwjdmOxS16RGSfnJQWawXIYtTEJt61C0OuRz43PlQgeoAImE+e9RPdvYYhM+fhQbNrAhgd8TUdWS1nMsZmpW2gisz8NvNRvlgYBPwoKdUgiXPYSuR9kZOYa4wzYPrv3rj9S1brvd7ZHsVt+ytxbzO4tfvWVvD1k1j29K5CxxB8q9I4H/ACj4V5tyJjiDvgr0jgM6R8K9Tq3aUKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUGpzZ6eWcU+NK78q+euYvVxOqggbOWfWvoD2gu6eScbd40rvyr584wXWvRRHD59K4cvbnm1dQARlxntXFcbFwgQRgXcrlL7oLl6vEjn51xnEjdf59R29a4sRTykVvtIgz8GuVQLBLiYlnvXFcsg1rz7w+P1rlBOm0RUZJwz4oUtwoZPPap6ZIwsbRGf+KgMZuZO0FW6V0TMoGI7jRF9toWgJGf+ajfd7j+81m24LYCR3qnVRZhe5jcaUiq5ljpIO/esw9DsjiPL4qFxM9WU2hrNl5adKC758+aKtSSOnKd2M1Rq+7IjklirpS1jtiTv8K1dS5BBYmJhoIT1MgKsptt+v8AWpDKSfGMYqJawrC9o/Ol0ESWx4zOe9AtulAjDtOSlrt7oLnfvWS1ZQPlS0RLhxtk2/cUEmW7pjMzVpbIzvvVUXdMyw5q7Sm6F2diaDYtbegmc5PRqXUlhIKsqtRtxaAybku1QuxBIDkTvQR1UbVVjEJVOUB2GZifnVjcKhgDLiqnOLVJ7Pf0qwRvW65jJ5dqiyXHdj6HiihLaIOEcPwioxOWM4RMVL2LBxE+o7/L9+aisa3TDttMr6UtbS5EQjY2pcn2opFr4FaC5S0ZNnviCazA2hlishJcgp6+Kirbp3JaPeFhoIa6Itq4IRgWrfZu4t5xYCI2sRWvqiSlsBmTefFT5Dd0880RhWdvUrWPe2se3qfIv+5tr0nl/wDlHwrzXkX/AHNtelcv/wAm34V63VulKFKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKDifau7o9nePf/ANbXgOvaXXsyMoZhr3n21u6PZnj1/wBn614RqTKmxsdvH864cvblydtHW3jxIrgP51xd69VwyHnz6VyvGPSsjImDs+a4hum5kiWV9a4sxHgot4i+boCIjdz5rkpCzvMYunJHns1x+jBq9ph9fpW8KxOZZx3+NCrQG06omZ7tW2WxaZVfWq9P7pIDENWDJFsEO7jHpRFgPStu2Pr6VVqYf9S7Sb1d1SZiN4aquIXDKxK0IqmbUCZPofpWLZLImFY38+azqOfdm3sJ3KxZCZkDNFS6sAzPY2n1rX1k62VDeHNXwQGWPHf4VrX4u96Yhhcj6UGJbvEYECc+D0rNymbYe0fpUVCC3Lvjs1LogFM93dmgWSmUJ2nHyo9PWWtpONmJaT7xa7OSaQs3CITk7x6fGglKDbAAdq2NG1YWCMjFavSdSyLA571taclgniD1igsuP8NmfQjtUVepwEem/wDKjcNruPT3yfveq77oJIMUBBxdCbg4qF2LUmZMv0isjKkj6GWq9Rhgz2V2rSK+q1YVEUy+PHipNonUPpPaoD3CDweKnYykWucbGayqwPeZxEI5+lRXA2iMwvYKk3TjBnft8Wl7ISZNg/KgsLm0bjIndEo3XW2oAQRkmPxqEltgsB5nM1i66Z2Db07ZKCOrcACC5xmFqPJbn+/OGnfqZzJtUb2WFmZyVHlSnOeHZEb+1ana49vWuQ/91bXpXL/8q34V5ryI/wCpsr0rgP8AJt+Fet2blKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoOu+31zb7LcZEdvzrxHUUvtIjO8T3r2r+IbHstxPxt/OvG7tO60dRTpN57/CvPy9uWfbhOb3/AOLdZaMuz6Vxke8LI/HZ81vcUurxN110lpO7HrWnrsXBmI3Nq5Mxi094uYYe5tXI2WPQEgRM981q8PpdVwXxG8CzW0sAm5g9c0KtGEFAfpVtqIEEPeK1W5SIySx5+dXdN1gJIPYoi4EtxC7T2qu8BySveImsl8Rcq4lqu6+3DcSzg3zWiIXsLOez49KiCQGR7x2DNL9QJhRjD29ZqFqlpvGYJn6fjWasTbklGEe5t61rp1LFy5dyDOJ9KuvuG1ifi4quyCZzcy7bfKtCVloDvjCO8zUbxYlFTYZ/4rN1wWozcu2341AtLjGHu+fSKyM9K3MEKTDDQ6fQVnJRAuBM7QFSI6elJZ3H8KDNhF0vTDiA3+E1sAxARt6VXpWl0yjmI+VWAsz2TJQROrwKQS4f3tWFlYjM5iJ/pViMsou5mJ9ZqpgcPVjt+VBm1i0ABN3+VUXJcsuUxP4Y7VZq3ALMPg7fCqrri61uMKSRtTQyOPeyzEDj4VZ0zDPS+Tao2ApdCYHHipXa1lu2yMnitDFyjFyAbESvxqekhhFUljEvx7VXLcD0QMov6fSs3T1gYtCcME+ayLIuteltY9fWoXkTNoNux+nyqJqdMzKOX+VQu17kYtJpBC+XpRMd9qly4nmvCQn3hqu64uS65A3is8tbTmvDXmBvN/jWp3Fnb1vkX/c2V6VwH+Tb8K825Cf9TZ5r0ngSNK2vW7NylKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUHXfb23q9nNYne63868U53re7bo2fdN31r3D2z0vtvZ7iSBiLofRrwTmdicRdaloGd68/L255uP1bbrdNW0VYz2rQvG7VLTIRK1ucTZfbYt1tq53X9xWtp8K22lzZYKTDLFcmGzpgNs7x2+NZuf925seSar0rUsSLB+H1o6F+pcsab3AkihpsaZ9pqk53MmK3bkcFyAATma1dPSNKFttjbCmfpVxp3MNreP/jfI/JmiGqpYRba9vlVNygkBIzGZ+FZvdS1LZuTvJav5Vi5bZbhcz91/CKRVQBaxMbI96gyuYgJznHirbrjKOn5ywfCKou1JuV6ICMXgOaCNy+YPl+NYtxMIPke1R1NSCQG7sFw4qN+oW2+9ar32H61dmk4ktmQN038VNtlG2WPGKpNRxm2GBW7v2Jqf2oub9O08kz8/NKJqFwCPfwVkQtFZZcH6VVqXWjK2pEyCx9D86pNe1uC7piNpR9MVF05Cy4hGRNo/Wpl8zgGJrVt1JJIWYUFxU7WYuBEgjpdqGlzctjhMYNpn9tQ6rszAee1VF1yw23DtHSx6frUm4WBIJgbWaJpG46kgMdqn07SQTt5irNPSvQYvJwJaH51O7TuhkvnvN3z7U2aUg9h94+VSdDpTMq4WrHSlLjTwRlvfx8U6Ftxp2KsRlzQUombsxmJ2iotwjc3C7xNW3aSpLpj5Bn6TmoOjGC+2GYSwn86GlN9wXDIhnfv4qF11pcRcQLiatvsulXVJNgttJqnpepW9YJI6fo4qiNxbc9PWQYY/OoaOpZbxug2KvXaSTLkrS5px2rw+rpcNwnC8Vxmvfa3dPD6ZcgMZC1e++1U8m4rjb+ecDpcfynX4Wy/Xttb9ZbUZkOlj8q1MbZtqS9vfeRaacRYp4r0XgyNIrpPLNO23iLQNq7xwp/hnwr1OrYpSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlBrcw4W3jeD1eH1Lm23UthTcrznnP8AD3TsnVs4y+8WYu0z+denzUNSy2+1LiSs3GXtLNvCuI9k+m9LtdU/8P6/Gqv/AIva/e4m+NsWh+tezcTynS1FekrUOR6c/dKnhinjHk2l7IaTcxrayvi0mtvh/YfULTo1dVOrqltJmvWOH5TpWR7piuR0+HssILT6U8MTxjx09h+JZ/xbn42f1qR7E8Vp2vRqCwgtqZr2Q07TsUdOx7FPjxPGPCOI9juaGoo6KeOpH8StTX9meb6dq/2VuA3tS78mvfNbg9LU3tK0tTlWmy2kVPixPCPAtXl3H6bGpwmuG3+WxWtdy/XZ6uH1M93TY/KvetbldxLavyrR1eC17ZhurN4YnhHherwLcRdoXWnlsR/Kqf7unUC3RvXuNq17lfwvEIjn4k1S8s1rnYPgU+E8Hj9nBazYWnC3Dcxixw+dqvOB4tA/sut4AtdvVivXLOTalzmStvR5Av3l+tPhPB408s41M8JrOT/Q1h5LxmoDdwWqo4W2vcdP2f0+8/OtmzkOiYSr8MPCPBbeR8wDHB6kTibVq+3kfHghwep//Lhr3e3kvDh90o8l0JktKfFDwjwR5BzKXp4PVlc9sUs9mua9UnCoEwN0PzntXvLyTR7W1XdyPT7FPih4R4toeznN7r37TT0rbPN2oL8ord0/Zfi2G7V0bWId3HpivV7uR2mxVV3JY2GrOLFfCPMv/iN1wGpxVuCILXH41P8A+I6bi7i7k9LP616M8nfC1F5R6NX48Txjzt9k+GAHidXGMWg0PZXgwh1uITxIT+Feh/3P/wCLWTk//j+FXwxXxjzo9lOXm/293q3n6FTt9lOXIH2Oq9s6jNejWcmP9tX6fKLTsU8Yajyu/wBhtC7jP7RwPH8y5c3af2V5w2oHXbIwqLEhj0rZ5b7A8v4TjtLjNXW5jx2vp3/aWf2rX6rS6InpAF+NeqafK7Lf9JWxZy/TN7StT16HWeW8Pqf2gUY713HhhLAar0uEsscWlbVtoFFZpSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApBSlApSlApSlApSlBhtHeoXaVruFKUFf9ms8FZOHsOxSlBM0bTsVItDsUpQSgpSlApSlApFKUCCo9I+KUoHQeKx9nb4pSgx9lbWfs7fFKUGSw8U6TwUpQZgKzFKUClKUClKUClKUClKUClKUClKUClKUH//Z",
                    "format": "jpeg"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
