{
  "openapi": "3.0.2",
  "info": {
    "title": "Imagress API",
    "version": "0.5",
    "x-logo": {
      "url": "/logo.png",
      "backgroundColor": "#FFFFFF",
      "altText": "Imagress logo"
    }
  },

  "servers": [{ "url": "https://api.imagress.com" }],
  "components": {
    "schemas": {
      "FileFormat": {
        "type": "string",
        "enum": ["jpeg", "png", "webp", "gif", "tiff"]
      }
    }
  },

  "paths": {
    "/convert": {
      "post": {
        "description": "Processing image by request",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["image"],
                "properties": {
                  "image": {
                    "type": "string",
                    "description": "image in base64"
                  },
                  "rotate": {
                    "type": "number",
                    "description": "rotate clockwise in degree"
                  },
                  "format": {
                    "$ref": "#/components/schemas/FileFormat"
                  }
                }
              },
              "example": {
                "image": "/9j/4AAQSkZJRgABAgAAAQABAAD/2wBDAAQCAwMDAgQDAwMEBAQEBQkGBQUFBQsICAYJDQsNDQ0LDAwOEBQRDg8TDwwMEhgSExUWFxcXDhEZGxkWGhQWFxb/2wBDAQQEBAUFBQoGBgoWDwwPFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhb/wAARCAG4AbgDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD7+ooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKQkAEkgAdSaAFormvE3jrw9osbmW8WeRBykJBx9T0FeS+OPjld3G630RBEjZAdOT+Lnj8qylVhElzS3PavEviTRNAjVtV1CKAuwVUzlmJ44Uc1wXxF+Mmm6VoF9caJA9zLbQPJ5sq7Y1wpOcHk9K8D1vW9Vvb9Ly+uXYyzKW2/MRhgRknnriofiRK194E1ZIpxGz6fKrL3+6a5pYmTdloZOo3sZP7Pf7TfxBvr69uNa1i31BHuC629xGAEQ9FUrggfnX0b4T/aD8J36pHrMFzpkp4L7fNi/Mcj8RX5tfBG7S210AXAjY8YbpnpX0LYHfCrhhtAwWBz9SKTqTg9GOUnFn3FonjDwvq8avp2vWFwGGQFnXP5Vrx3ED/cnjb6ODXwZ/qyJB8vOBjINXrXV76HIi1C6jA+6ySuAcdutWsU+qD2vkfdG5f7w/Ogso/iH518PjxJ4hSRkg1u/YAfKTcvj69ajfxJ4kfdu129IC/d+1N/jT+tLsP2qPuF7i3QZeeNfq4FZmp+KfDmnA/btcsIMdnuFH9a+Ib3WdRl3Ry3946kY+aZjz+dUZUecBiJZCPU80fWn0QOr5H194i+OHw70oEDWDeyDolpGXz+PT9a8w8Y/tPXjs8Phnw6sQA4mvXy3/AHyvH6mvC2trgkfKEOerDp/9eo5rZY1JuJ4htGcKec1DrzZLqNmr4u+L/jfWNSS5v9c1UtHJuSK1nMEaEegQjP45r1zwD+0LrtgqWmuWA1ON0VomLeXMoIBAY4wcZx+FfPl1qljbOy2do1xOpBJK1fsb2e51qyVsea8KPIP7uc4FQpyWqZPM0fXnhP46eGdRl8jV7e40uUgkFv3kZx15HI/EV6BofiLQ9YjD6Zqtrcg9kkGfyr4kltbNrw5VldS3IlIyeOOtXILi4spUezup7dx3VyeauOJkty1V7n3FRXyt4R+MXjHRAsctx/aMCEArN83H16ivVPB3x18NamFi1SKWxmPDFRvTP8x+VdEa8JeRanFnqtFUdE1nStYg87TNQt7pcZPluCR9R1FXq2vcsKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoorn/FXjPQNBjb7VeCWcfdt4PnkJ+nb6nApNpK7Bux0FZ2v67pGiwebql/Dbgj5VZvmb6KOTXi3jn43XjsbXTENsX4EduBLN+LH5V+p6eteZahrusapMZbi4aJnyzsH82Uj3duPyFc88QlpEylVS2PcfGHxp07TwyWNuqZH7uW7bBf3WMfMRXl/in4neJtb3KJJRE3eY+XHj2jXn8zXIQQxRMXRW8xh80kjlnb6sTk0MwfGCykjpj/OK5p1ZS3Zi6kmF+97fTlr24a4HUKzBYx9FHApgQPJ1UAkAegNKSquVCn5cDk0vmbjncMg8E4zWdySO5O63PJzk7cdyDn+lOvjDdaW8ZxiWMq3uCKaEOGZirKeR29v8Kr2Uqw3Bt5FJzl1Ht/nNAHyjqWkTeHviHeafICpt7khe2VJyD+Rr2zwfcyyaeiiRzlcY64rL/aW8L+Y0XiuyhJa3Aiu9o6p/Cx+nT8qzvhdrUb24hkb5sYya3vzRuaSd43PQornUEl5YnHBGOKcuq3CvueIbF6ggdqLfy5LccJtHAxxSxRpvKk7Q2PfBqbIzuKNTvWQtDYtOhO5NoV2A7hhnII6f40z7ZqZQf8SaVWVv+eI5/HNNezxv+T5h1LN+n4U0aeWjeQBjHGRvPJAz3pcpXMiUX2pw83cMUCD5jvZQ/rgKMkn2qKfUtTe33R+Wm8fez155HSmi0ALbUUeuMDn8KbJtDAsxOBjGMj8aOVCcl0Kd0L+f55rv73XZzVWSzjL7md5WHQO3BNaJKIzNg5zgHGRTNu5WwGCk9VwMH096pJCuypb2rm4igiXDSsFUepJ/+vW74Utozrt7qMnzRxfJDzxtUYB/rUWmQNHFNcIQMfLGQeC5HJH0Gfzq+ES00hLeIfPKduM5wO+fwqZPoNElg0txIsgy3mtkkfnWhLtaXbnIHQAj+dVbBfKQCMFhnPK44qef7wDMNxHGDyD0rIOoRsQgUnAxkFf4qfMI5Vy6qWzwSMdvWmlgwRcBcdxx+VOaQlWRVBHXn/PWmgLWm6jqemXIm07UZYpAAVyzAr9G6+vFei+Cvjv4i0sLDr0KX1uP+Wkn3v8AvsD/ANCFeXNI4iJeQAORtQHGMd6GKv8AcUHHck5I9KuM5R2Y1No+svBnxT8J+IIkC3osp36RXJChv91/un867SORJEDowZW5DKcg18MLEA5eItAxPLI2M/UdD9a6Dwp498YeHXA0zVXaNesEh+Q/gcj8q3hif5kaqr3PsnNFeB+Ef2htu2HxJpBUjAaSD5SPwPB/A16x4N8deGPE8YOk6pFJIRzC52yL9VNdMakJbM0Uk9jpKKRSCOKWrKCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigArnPHfjfQfClq0mpXaeaBxCpy3tn0rO+MHjf/AIRbT0tbCNJtTugfKVjhYl/vH+gr5s8Q3d/rF491eTnznkYkOdxz6k9zn+lc9Wty6LcznU5dEdt47+Muta08lvpMElvbjhVDbA3+83U/hivPb6W+1CYvfXsjqwyYosogP4ct+JqBoZj8zyKOw29/rUzBkYZOVxwQetccpOTuzmcm9wt4o1iEYCKBj5QODxTi4ADRjOB2OCR3pobA8wjPON2Dg+lBMhDHd0/iz2qbiGq3y8AggY9c0RCRV3J98jkEdAKcrHOFAAPLA9/pSSMyONzZx3HFACuAQDtUgc5PeopWPVIxjp9B6inAfMAATxxnilViYyytjHYdRQBGysi43HJONuOlQ38IkG+MYZPmXPf2qy5JO5/vL6HvTGxnO/GD0AzQCZSljjvrZreZFmjlQrIjrlWUjBBrwzxl4cuvBHiPz7VXfSbiQ+RJ18r/AKZsfbt617ne27RSM8e4hxyo/mP8Kr3lraahZtY3cKXVrOuHSReG/wDr9KcZcrKTscT4U1iK5tVGdueAM10UcgOAeSemRmuX1DwJqOiXBuvDzPeWm7ItXb97H7KT94frVnStT3/uZzLFOvDJKNrA+hBrVNPYTR738DPh9ZeKvhx4jursKt5NIILK4c4FuUw5YH3bGfYV083w6tLbQdJs9B1mFdOm8prl3tvN/tGSR9uX7hAM7R+Oc15f8IfGHi20v7fw9oWtwRW93KUEF1GGiy3UnPY12Y0zxtBZyWi3GhRpBAIoGTcxcCQ4A/ujI4rWNrbG8OVrYy/jF4Vs9M8LX2rSvCn2DUEs7eO3tTCAGUkKc/eUY+8efrXjkkkeSCWGQPz9a9Q+Ml54pXw5bWuvPpGy6nyfsuTJvQcbsjjg15Wq4c4TB6sSMZqJ7mVS3NoOLqSEXoOgHNXNPs5726CRgKT8xcdEA65qXTtLuLsLMUWK3HWYjg/QdzWszR2do1ragrkZY5ySfU+9ZuSWxG5XdIw67E/dw/LF2B9W/H+lQW2+9nXaVMYYhcDqO5/pUdwfObyIwzKv+skU9T6CtayhSGMKPvY4C9sdBWbZRYTZt4POOR6Y6VAQzvvIQ8/icU8CTZnbyTx1zRIzJ/qyCx6g/Xt+dIQDfG4ATKn+8M496RnQEByPmOenK0uE8z7wBzgDOcUx2DN8oyRwRjrzTAeyscbyRkHb3NNQNtHAX/aB7elOjikIyxA8vuOfwpZMDOdoBAIGPzpANlGCAWDNjJOegqPJ3MCAM8n56eApG0jbu4JPA/8ArU3EYB+QEc9RyT/nNADUkYrhvmI4OOAf8atQSSwzC6tJJLSZcMksT4ZT6+/0qNUjZztJADdAOvFN1GZ4YEEZ3SSHbESv6n6UAe3fA/4xXV7INI8QOjSofLjuQf8AWEdj717np15DdwLLE4ZWHGK+JoQsenxNagRtCev8WeuffvXtvwF+IPnKum38mJVwOT94etdtCtf3ZHTCd9Ge60VFazLLEHU5BGalrqNAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACqmuajbaTpM+o3bhYbdC7e/sPc1brxj9onxV9p1KPwzZtmGBg94ynq3ZfwrOpPkjcmUuVXOC8Ya3deIdbuNUuFYSXLkIufuIOi+1chrF2LfxGIsKIliCyezev9Pyre3K8+8HATkCuQ8SSFbSa4dgzzygAEc7c15t7u5yN3ZqK6JK0a9GG7HORRMqtIHYl+M/LjmqUDvCRG75ZAMEnllP8A9firyN+7BblAeAp6/SgQpTO0Be2Rz0A9f1psKliDgIM8YFKImY7clmwcEdh15px3KQTJkeuM/hSAgkGGIEuST/dxzQy+ahDknn7g6VKwIfICkkcBuKTkSEt/A3OO/Y0wIHUF1XBb0HTNJz86rxtBJDLx+dSFguSG3N6Hk0sgyQMkkAdT19qAIN2QdoyD3A9qQSYbof05pJQduDlcHJxSIcAlc49hQArEtglAMduMVSkj8smRQI2A55+Vv8KtKzM2ONnuPzpsku+cBeh4APX/APXQFyvBcKXZJMAkenf2pbuGyvQpvbWKZugLoCfwPWnXFokjE7tpHGMcCq8ltchCYpDnHIU57e9IY2LQ9Njw0U1xA27GUfIz9DmtPR5f7Mt5oQ9rcic/Mbu18106j5TuGPXp1rHc3iEI0YOefukZ+voelQvd3CybTEhx7n/CqUpdx7bFuTSNN3lZry5fB6ZGOe2eamhj0ixO63sAzqSMuS5J/Gstp76RvkiXjgZycU+Ox1C4yGd0w3IQbc/j3ou+4WJdS1Pd/rJgmPlCjv8AQVTxcXrhFLRxjPO3DOPfngfWtC10mNM+Z3PAByxx3LGr4jWPCoAq+p70tBXKWnWMUBZn2blAwF5A4xj/AOvVoKHAXkdwD0PFOSQ7TGVAOeSO1Ekijh+MH7pPU0guQlZFfeWGPUDipMFsbsHoRjsD/KgqqgFgCW5x6+/4Ux9/m4UkHHzHHUf5FACxFs/dZnIyoA/r9KdDuAdxhATih2VUJ3ucHHTqPSnxBQpIQr3APb6UwHrtjUhgQTwxA7d/61HKoZuG4PTrxUowqh9xJJ3YGBn/AApgyFVcbiTg+w9KBEQRQBklgox81DuQGVB8wbgA0p2A5AK9gfXPanxBsuACzIOvoKQxI0A2gfKQfmHJFMsHS51NmJUrGpVARwfU4/SpL5itnI6DLkCNfqeB/n2qHQgG1G9CbStqUgXPfAyf50AWbYpJBKhOCSenG2odLvriy1BLq3bbLCck5p8KsL6dSUVT84HoKpXAYO+FJAOSO350DTPpz4I+O4dY05IJpB5i/KQT0PpXqUbB0BFfE3gvXp9A1lLqNiFODIoPGP8AGvqj4YeKrfWtKiZZQxZQQc9a9GjV51Z7nTCXMjs6KRSCKWtiwooooAKKKKACiiigAooooAKKKKACiiigAooooAwfiP4ih8MeFbjUnwZcbLePP35D0H9fwr5svLi5keW6nfdcXDlnY8liTnP0rq/jp4nPiHxeLW2k32GmEpFtPyvJ/E39BXGXrFgCvQfmRXnV6nNLTZHLVld2K8pCxsuM7uGA7VzHisq6RgBsLn5QM9K6O8ZRCdseemMtn9K5q8U3V1KiMAVQEDr+VYmZKHMuiJOXGbc4YgchTwf6Vc0uRpbVhkMR0bHFZmhOFaWxdSA6ngHg5GDTPBFxK1xeWbAF4jtJz2Bxx+lMRvJvQBSRwcgdNp/yKcCqsUZcZ5G0E80mR5TjIUHkkD2/+vRx5gILDAPOaQxXUMpZgW3cc+n+e1NypY/Nhj3HcHj8KehA+VwTjoc/1pH7K69yPTr3HtTAjk+XChsgdBt7etMZV53+Y+Op/wDr1NiNOhy3YHkUxiFkC7lUnhlxn8qAIJFHO5MNu/vZHf2pAQrKWXBA45zk0/bl1GSQFJIzyff+lRyM7sGAYZ9Og+ooERvuKkM3U+/FMd9qMuTzzxxn0NSqC8ZYEkZ5b29KjdG3YAACkgFjnj8KQxMyHL7xnp1GfrinIRuyGIKg/KRg1HGjdN4O3JIxyRRE/wB9irbScYPQUASS/wCq2FioX1PbPb9Ka0R2ja+R2yMGnk4HIGcHb6jmhNg2hpATj5s9aAI9oXJeQMwGCq55HtT4htbexO0ngDk/SmKoUs2SMA/d6CpCXMYaRgxHQqcEduaVxjmwSzkjGMDHB5/pSZQMdwyxXJOOlIWBUtleD2oJIlKc/MOM9DQBGQ8jNlBGQBgg9vp+VI+WPZdvcDJ/pUkrHHTcMY2sfbr+tIGbcrbTu24INMQxmII+dsEdW7U1gzhTtycHqTx+OKeWw5DAZP0yKVS3l4X72Ax47UDGxqSm3OVJxz1BojZTwvXpk9z60sTbZWwcKchWAGf1oVcEtgpx8u4daAHPuAIGCB1x39qRRnIdmIPP059KMp5nmbu2NpzTl2g7VP3gTgnmgQxlI3KQNh9s5P8ASnQByFQDJAwPYehoDEHAAwB6/wA6ns4t03JChjwR1FAFW7ZW1K3tiQm3MhGOSRwB/M/hVfw6THqerQkZcXSuMHqCoohkWXWpHUHMVwEfn7q4Kj9c1DbP5XjS8VcYlgU5PHSgaLmpN5d8rgHLJtz0Wqd1cSCR0K8D34xxV3UARdBB5cgGcq3f8aoSuPPGPmJODngZxQCECZcj2z154rtfg/4un0LV1illItpGHX+A/wBBXESsm0SffJbDZOMUiyEMrAgKzcgHt6U4ycXdFJtO59veENYi1OwSRXBOOa2wcivmr4B+N5LeRNPu5fmXiMls71/xFfRWk3sd3bLKjAhhXpwmpxujqTTVy3RRRVjCiiigAooooAKKKKACiiigAooooAK4n45eKv8AhHfCjQW8uy9v8xRkdY1/if8AoPc12dzNFb27zzOEjjUs7HoAOpr5i+K3iQ+JvFk97ljboTFAo7IP85rCvU5Y2W7M6kuVGArgMdpJPRef50y4kLL8zDaP1NNcgjB2gY4PTmo2yQAANoXkjjArzjlI7s/6O+4H5jwvv71zcE7xeJyrBcPCQMDuP/110GrNttevAGBg9a4rUZnj1uGZGAzxuGcf56UDRuP5S3sU6KQWbnnPWqGmZs/iPdoSyieESKuOvY/0rQtljmZZcnKj14qhrJaHx5o9xn5Z4ZIjgZBIAbB/I00I6aJWyCWOGHcfn/KpAADtIIwOAT3qJHIyy4Kkkcc9qcSCqsG5GcDH6ZoEKGHJ4UYwuP1oBBO4ZGcHYOntTGxyTtJA9+P0pHYEhXLKSvU0xiMQ5wVzgYGOPxqMMG5ZjntkU4Fw2CBuA4yRSMT9zbnjIB4ApAEjbDuCkqTzn+E96a7AMd5wW5wKCMKGOcg5PHGfxodQzYUjGcnLY/SgCMudzBmG1vfrQysZT5akEkggDrQI+cgDrgDPNKyBWblQRkHL/h/jQBC6O5LEqcL681EjYwHbGTwDU20Kh3smevC5I9BmozH8vJC5PqaAHSyfLtJ3dlHY1FgEr249M8/WphFGI9yq3TuRg9xRJIqrtRW9V3D9aQDUZ8YPJ6e//wBeny7fMCgHGOcimRuASVwfQjsKU7toLE7iPXPcj+VAxwIQbQMk85I7e1NfBKsFYr0+lPCspDElsYXB6jP1owFYAFgnQ59aAEjHzlTncQATnikjIHzr1xjk96fhFVcgYDZ+6cEY9fwpG2smC4G72yce1AiKNSCEKAnPIJ5NIBmXYrN8xx7mpOQCCucng55pJjyHXO88Nn+E9v6UDGTg8NGclfUflTJGLYbLE4wAe/vTiDuLN8gbOBjOf/rUg3ly24YHQentnvQBJhkQ/LnPB+lSYXYhDA7jw2OntUce5sYXdk44p0XUBQQc5A68985piHoSZCu1cdCAKsWgIlHViDn6VX8sIQRwTwQDzVgnbbyOXU4QtnOO386QHK+DrgXGt68pYnybmEcc84J/rV7VDjxlAVG4tbEHHoD3rA+D0vna54m3fMV1BVIBxgBOtb3iFWh8T2cgc4KkZA9ulU92V1Ll+W3MBgEcsepPtXP6hdEXQXcfkY9OpNbupStCRLtOWPUnH1rl78/viWGCWPXp9R+tCBGjbtI9ozFgSfm+v1pbNlkLn74zjA7GjS1V7V/LZuFweO/t61nxMRdGNs5DdAcCgDpNLnntb1ZonKyw42Ecd6+i/gj41W+so45nAb7rKT90180K5jIYruHBHHFdD4J16fRtYS4G8RMcS46Eev1rWjU5H5F052Z9qW0qyRhlOQakrh/hn4mi1KwjUyBiQMHPUV20bAjNeidI6iiigAooooAKKKKACiiigAooqrrV/b6XpNxqF04SK3jLsSfSgDz39o3xR/Z+hroVpKBc3o3S4PKx/wD168HmkyFyxU4IGCPTNaXjbWp9e8SXOoXTENO4Zc87R0AH4VjXDdlBIAwa8urPnlc5Jy5ncfv+TruXPGRjikLR7ipGfpwRUcjKEGznjGSOV9qaWLO+0AADj0FZkEGsNi15AK+tcLqTs2oEK/Abnt+f+Ndrr7f6IrNwc8heBXBXc4/tR4yf9YewpoaOl0CZZINnIYZx6daPEaY1PQplJDR3uxuM9UcfrxVPws5EjqwL4BCn0q/4gXfJpI6bdSj49c55/nSW4upswYaHd3X/AGeo7cUrI6rhgT0+960yyYNHvAOfukev0qdhEigOg4HTb0pgRMjCXbt2BScAng1IXJQMfvN/j2oA3PgHOTwf89qVjs2kgcnJFADZFVUJOOO3XP4jmmjAXhSSfvYNPJXYSOTu4JP9KYxUKckYXkqAc/hQAM7bdpAXc3TPT/8AWBTQWVNjqBnrk9RTj0V9wAKnn07fnUWUEbH5mJPAP86AHshLdUO/p2xjtmo0UMSWOMk5B4yaepAi3DAJXHXpUZVShBXdkncAelADHIVjkZ3cYP8AI0kjZUKfu9cCkJL5+TGf1p24FsrwRwMDrSAaxG3Jj5HTHOBj8uKSTnDYDE8EheBSsxLnk4xg4OKVl3RYD7fMJ+X296AGRcMOecfLwcD8qk2kSkEAAAEDbx+NMiVyxEZB2ggEHgU5n2cYDKp7c/5FADpC7OcBSAf7vJohBBIZRwPmUjvTSeAxzgDqe9OTCzHeVII4AHAoGKN42nOBxx2HvzTCccD5e31p7Jgcgc8YJ96bwuBzwvQ0CIZdpdeXYEkE8c/hihtyxseeeFLH9MU5lG0YKsBxg9c+tQyKG+VOGIGR6ZoGhGUMOGyW5Oe3tSg5UJ3X+E80jZ+bPGemAc0qgmMk5XaeTjmi4EsTlULFeCeD/dNPjjyC4Bw3GScUlvlcFyqrnnv+VKgZycnOSO/SgCaPCv8ANkFCD9T/AEovWEenTEgO2wgjGR0p0QAHTLKclumfwqHUmAic4OHjI6dfwovqKxwHwOcv4u8YRkjCahH+GUrrfF0gj1KznYL+7kHc1xnwLJHj3xoh7XkDZJ9Y67XxVGJBGeRzuHGcGqejZT3ItTaUsZGJKjBYHkAVz+qKSckZwMnnNdFqjhrZOuQBgetc5fMNpIBbHU9h7UCRpeHZlaAKoxt65Xg1S1BRb6msw6A/MR0P1qfws2ZH3knjJXPQ0eKVJw4GdmDuxQh9TUtW32wkJzuXHA4p8RbJVjgdgDnNVPDkpnswHPPTirM6Os25yFTrz60CPQfg/wCKZtKvo7KeTEZbERz0P93/AAr6W8JaxFqNkjhwTjnmvjCOQKVfduZejjtXsfwR8asypb3EhEseA4PG4dmrrw9X7DN6U7qzPolTkUtUNHvY7q1V0YHIq+K6zYKKKKACiiigAooooAK8c/aV8VZdPDNpJwB5l1g98ZVT9Ov5V6X4616Dw54ZudUmILRqRCh/jc9B/n0r5W1nUrnVNUnvJpneWdi7k8kknORXLiallyoyqysrFccty2WHJOOT6UyU5bJweCKeu5FJUMTjJLelVpHUyfMynjk+1cJzBIu6QAAZyMkZ+b2poJLdSD3yKRgwO4YXC8KzZ5z1py/LGxbkYBzg8UAUfEjMmnMd+eTwPWvOLyT/AInq4cDeefavRfEYY6a3U49BwQf/AK9eXTSEeJIsYGX9KaKR2FjKLSeCZgWVpMZxjg8ZrZ1EPJe2a9fLmeZiP9mMgfq4rL1a2eTRo2TonI4z+lXLOV3j+0KNwa0YBiP4iy5/lQiepuaZvNqmEySOoHBNSMwkGCnHbmk0dlW1QIQFA+Y8fnnt/wDWqOSQOzHcwPJ7DJ/rQA5zIS0bhI885HBwfenMzdG2jIwf/wBdVtzMwb7w7nJ/SgHcwBO4gYIPb/8AXQBYEZ3MSwz6gU1ioJ5YHGCMZz7U84OPMGT2GOBioxJ++LYJB4DA+lACrtEfIOACWpFG7G3H+7jPFDjfvKOCN3zDrxnpTHAUkbsHAxn+WKAHOVUb9gAU4znk0EjaHLDBJznptpikGMjLbieB/npSEKIg5Vtvt39/1pAI4CkHAY56Y7+tRurBjx83U46U85BPXJPGR29KQY3qnC7ec55P4UDEIRX6cNyc9+KcAinI3MT29KQHsRknjn/PWnKoeJASQRk7gc0AI+5UwNqgfeIPf1xQFfygFBVuoOc7qcABFiML1wc+lJJ8w2t0HUFscnvTAUYAU4UsDzSqiHAbACnJpUGCTh1Uj17enSgIgUL8+MjjIOOtIBjcqyouW/iJyBx/9amjanzBFPuScVJtXaCCQOvP9B3qOX5Qx3AZx6UAMJywO3HqF70y4A2mQ8sxA2kdPSpJSBGTkMOneo5ioAO453+uaAIi4OEfdjspOKkJyPncsADxwM+1QudwAbHXAB6ipVP8PzFiAQoXv7UAEauCwLgDGc5zj2qZVK8kkDb37GoSSWySu7rtx1P+cU8MFYAk4AP0P/1qALMQBXIfk9cHvTNREjJ84JAXkg05GG3qTwOQOlFyWliceYfu5I/A+lAHmvwtkWy+M3iuzOVFxb29ynqcZQ/0rv8AVcSyYY4UD14rzrSLqNv2krc25G+bRHWbnoVYEZNeh6kN02dy5PYjpVPccuhQvCgtgFJ7AeuKw9SYFdyEcYUjNat8ZdoBAU9AMYIrKuFK7ifmDD72OhPamgRJ4YlCzlMZOccVo63CrQOXIwBxzWN4flK6oo5AJ7dMe1dJqySMpIUDOSwUY+X/AApdRPcxfCE4WcxO3zIcY9K39QB8nduIwDnI+9XKW+6113g4VvvehP1rrXWOfTjggADnPOT6UPcGRWTA2+MgnPB9KvaVez6fqcV1bOAyndj1B7GszT8Bc7xtDYIz938atNv2rn7hPDdjRcd7H0f8IfF0d3aRAv8AK46E/dPcV6xaTrLGGBzkV8b/AA81+TR9VVJHKwSsB1+63rX0t8O/EC3dqsbuM49a9GjU54+Z1QlzK53NFMicMuRT61KCiiigAoorhfjr4u/4R3w59hs3H9oagCkeOsafxN/SplJRV2JuyuecftE+Ll1XWhptq+60siVyDw79z/QV5nGJGcNuHAIB/SlvpmuL7Gc49TnJzmliO0BCRnGDgf59q8ycnKV2ckpczuJKCkRIYbR94HvVVTzt2xkN0OBgVLcZNvvUAjknB5AqmHDEBsZxgdhUkliN8u20ruGMlO2P8il8wuynoQc884qKJip3GLAzjjjNOdkQNgcHt6UgKuvbl01iATxkEDGeK8lu8r4iTpw9eta4RJYOArNkcEdq8nuVaTX0wOkmMnjoapFRPUIYVl0hMqjLt4BHTiqmjI8dncW4+ZGIK54IJNaPh/A06MKTyvAPWkjjEbzsw2jAyq9OtSSaOmJEYM4K/Jg5qvdYSZlLAHb/AAj9KsaQsa2ZLkqXPHy421mXpVb5hu6YGD+v40wHFx5meCy87WPFTR/vFLKxyeAff/CqrFC4wuCAeTxVm2+VRnqoySTwaALa5RdsZ6Yzg8VFMS79x24GFzT96BAqHsOvt0pspKqEK5DEcA8mkArAgBNu0AjGD+NRs2ZSXC5IPyjgA08BCMDA44JznHYfWmHOAHAbI54pgJ8wbzcYOBgUxy7Egc8E7dvQUv7wyADcOxyKSQlZgytweCQaQDEYsfKRTj0PQ0DdzuwBjAIFJgpIV24IHPXI96cNysJcZx0HShDBQHYhmVcDOT1PHU0sS7QSpCleflPtTGcFlIwVbGM9R7U4AA4BAyeR7UAEZZpRGMtuGAD1PvTm44dwMHGCeaRSoQqG5Y59Tjnj2phOCwCK2F7NQBYcID9whAe3NNbjcTGD3C5pse4KQEJJ5JzxTkJ8w7DyvX3piF3FmUbSuF+7nmm/uic4y5b7xz1o+8pbjOORnqcn+lMEb7sfM2efl5oAaibsucqP4iT1+lMkCypyMAHHX27U5iw4C4BPc80jKrRfcBIY5APWpGQSMUZe+BjJI5/+vimxsOwIGcYJ6UlyTGxQn5t3cdDSQSODuCLkjnnqfpTAtBgVyoIO3BI7e/txQhJOChZccH8abEeFLrgjknp09fapFwpU7goPPSgCWIgL0B5xnPP41JPgWjiVBv2kAjgD0pkUayMFBIbvkdRUt47LbspcAgZLYoEeJeCpHX9peW3cruXS3QZ/3v8A61ev36gJuzuGTnNeP6Yv2X9p+CTIH2iylUfmP8a9hv8ADWiqW5xnntVy3Ln0OevmG/blmZuvHSqDJHtYNz83XPT3q7fPtYqcBs9Twc/WqcwSONlBJzxg9qCSpoxU6kCRkA8cfrXZXYLWgLhfmUH5ua4vTH8vUsqh5OM9c12+1pdLG7Pyqe1LZjkcf4gjkQrOrAtGc4B/Wun8PTx3WmKCzDenBA+8e4rH1JBLA6ZHTnjr7UzwldfZ7lbaTco/5Z5HQ0MXQ1bBsytFxlXzg9xVuNgUZicBSQPp7Cs5CsGrTxu2CRuGOv19qswyO8bQquS3QEdqAJ7VhJb5bHB6hetemfB/xTJDItpNJ+9h+7z95f8AEV5zHEIrIkuqhQSzk4Aqta3lxbXcU1q5idWyNv3n59+gq6c3B3RUJWZ9qeFNVS9tFIYE4reQ5FeHfBrxUt7ao+4K6kCVM/dPt7V7Lpd0s8AZWzxXpRakro607l2igUUwK+r31vpumT393IEht4y7sewFfKHj/wAT3HiPxlfapcM+R8sEfZE7KPwr1P8Aag8Syo9p4cs7howf310QMqf7it7d/wAq8Ruubn94o3N/HnINcOJqXfKc9WWthbKAqDKwy7DPLcfjT3fKmNQcgZ49PfFVwJI+WYkcDjv71PEN43FQepAHQ1zGIyTIjYqy4YYz0x+FZqOGDhYgSejA5/H0rQlI8kgjqDxjpWcZCsvKGPPOOxoAtW7gqMn5Tyvr71JKVCjkYHGM1VtGBjG76Zq0B82QmOM9M5/GkBW1c50mdlXC9Aen4V5M5b/hIJM5Zk469ea9V1YKbORl3NgbT6HP/wCqvLbOMv4mvAMgLx71USlsen6CX/sxFfAfbwQc7ato4ljmAXMgjwynAz71l+GZlbTkRwcEcHPH41o6YySXV0D82I+PbkUiC5ZqIrH5AFB6A85NY944W4E43cnOD0rYYbLYBeg4weg/zzWJq022MD5gegOMHJ7YoGh3nO5Pzl+ecgHPpVmAlcMOrHJGR36Hms2J5CSFXI/2fXpV6xXHRQRIAMHtQBpqxBxGuG5wxPUU2ZgB0OWOM45/A0DgjIyQAOeMUSu3lgouecD2FIBjgKxfedpIGenbr9KiG4JgHO45NOlwrrk7ueBjkfWjbu4kIG3nHegBJCu7eRgAAnHekdsyIW43DAxRyZDtIJxwPf8AwqNyp+UDhhxk/doAGyhCFic/eOQcmm/dZGyG5565Aph2bh97pk9/ypFKKS/DcdO1MCY/6kAYA3clucGmoQZDlV9AMUjON/3eRyCB149KegPKnA3DJHpSGDgk7TICwPOR1pwwBtd8EZGMUihRkkEBRgnPGPWkYqNwVwR2I/pTEOkOdxJxn7vHFOTcGAY8k8Y4NJCTywGR/DTocuxXG1l6D0NIBZGIyrM2Qemevpk1G7ALgZHPduQfSnzAlQhwDnOSOKhyQBhMEnqaQxzli2ZBgseSf8abMxwQWGBjhcA57cUhBUNubcf9kdabMAqLJ8o6AnHegCjOz+cdwJZjyOw9/enxsXZSw3AcAZA//VUV45LjGQWbP4ipbdy2CUG7uuKYyyFBCyN12/MT/LinkZUrjbnpxmo4RjdtU9CQOgz161KBuyAQAO/Y0CLFqNxHONvAJPf15o1TbgsxIJOCcHgUWhYsSoBxyc9D61HdFmG3JHHOD0oEeN+JG+wftB6BcZGJ45kyBweAa9Zlw1r5hAwemWzXkXxmdrP4meFLxSQI70x+mMr/APWr1e3lkawLsRkcrx0/xqn0LlsjC1XBlJIGfXPNV51+6u05HPP9KsXqqZ2xyM5J7VAWLShSzcrjIOMmqRJQsCE1YbgME54OOa7233PYrjBz+n4dq4BEddVXbtyTxuNd7oyE24U88c+oqWEjHuVG/wCVQeSCCOSaxr4fZb+K6VTiF+VYHmugkBfUXBBLZwQOnsaq6lZZjcGM9OCOaYIUOlzfxXTYG5OcHr9K1LNfm3NllB+RQeT7Vh6fZutvHFlnLE4Ue39K29OhnXEMT5Ur87IOPotS2Fia5Mks2NwBQ85GVT2H940y1tGa4SNFkZ5mycJuaTsOOpq7o2lXWoXq2mnxmaVjz6Rj1J7CvVPBvha10WMTOfPu2GGmYfd9l9BW1Kk5+hcIORS+G3hq80Ym9vJykki4Fuv8I/2j3P0r1zwTqzAiF25FcnDGXIVRk10nhbS5FmWQg5rvhBRVkdKSSsj0G2kEiA0VHp6FIgD6UVQzwD4x+BfFlrrd7rcivqNvPK0rTQKSY1zwCnUYGBx6V5i4kZz5eAepB7/hX2qeRg1xXjr4Y+G/EQknjh/s+9cf8fFsoAY/7S9D/OuSphru8TGVLqj5eIeJ3Z+AQDxyp4/MUkcnzbWVUzwCG4f6V23j34e674VkeS7hM1oeIrqAbk+hH8J9j19a4t4j5DrEUC9TG3zDP+fSuOUXF2Zg01oyO6ZSwy+SF6DqapsN2VGHI7dTmrWGQ7FBZiOFJ4x/sv3/ABqtNKHlbcdrnjaRgqelCAdAMuwVVTaeO/51Kzv+H8OP5VWG1MyJHhu5xgZqwx8yLaSST3FIBtwqtayMoOMHjOa8x0NPN13VZBzsPIx0r0194SSLfnKEkDtXA+EoC0+u3DEkpMRz1PFUhrY6Lw7Mv9lo38C8KSK3NFQG8kkTo0QIPrzWD4LQTaFIuSxZyRx0/wAK0/CV3ENbudLWQtKtuJSobOFLY/pSJZtz/wCpYt0zyK53XziJSM7v4fU/WulufljZMZYr9M9cke9cxrGVBG7Kg9WJGfw9qARDZl2AyNpx8wzjPsK17BhkENkr14x2rKtmcCNhyO7DgelbFlsZBnqx6t/XvQNlk7iM5YsByD296Rw29eM55UY4qRArQ4wcf3icEVHNuUbcKwB6Z5P0pCGtwCcEKp4OeuKS4aM/KWCIVHzbup+tLwp4XoCwz0HNRTOTtO8YHzbdvX2pgNK7Rlic47HimyAYwvIJ6+lO35YMpHPtnFQzTb2LhmzjJ+v5UDBipASMAFuCV9RTlDZUBcZ6HPI9zULZMmQWHH4/nUqYMZUZLnp3/OkA+LG0/MCFzk5xkU7ed4A2kMOMmo0BK4bBJ6DPHfj3qXH7oM8ah+p7Z9KAEySC7EKB0HrQqkHAAOTnn+eKRdxbawAz14yR+NSEsoIZ93GFx274oEDZZiAygqf4f89aVQTkA7WHOGPT603G0gICcdgMMaVVJkwrAELyQKBhJyisuOW+Ynp060gx5PLDoQBxzRJwA/mA7uD8ueR1/SiNTsLE9Bxjv+NACR7AmFIBI5DVCwREJ3NzyAMnFWGDscsQQew7D61Xun67Tkg49Me9IDJ1ABLsEkjPA9TVmx2vEu0uGHvjH1qnqzbSqvnjHRgc1bs8gLtfjjbxk0wLilcrs+YZ/vfKx9KeiFhzlV/iB44psJwfkG3B456f/XzRGPn2PIORkZGQTQIt2mE+bHBzjmm3rHaVCoN3J7YoiODgKc4+akuHjLqX3NkEsM5xmgDxj9pRTF/Y94oIMOoxkN3Pb+tenWjb9Kik3AK0Stn8K4b49abHqOkRxM2HSVZBjnaQc5rqdGu0n8N2cm+NsRKuBzzjvWjT5Uy38KIrsEuwzgHuT1B71Xyd+UUDPBXvT5nHnkbgD6dSaknQJGjoC2eSDwaRJm3RP9pREfJ82Oa7XRpP3ChinIH4n2rkL8/6VBJgnDdSeo+ldPpbgJEDGQZM4P8A9akwY+OP/iayNx0xj+lQalkMyKoORhnblV/xNWbhyLiV4WZA5xkckn0X36Z9KW3tj5QllC5/hVeQuev4+tIRm2tvJE6SlpFi8z7hb5n4/i9vauu8IaPfa3qEkVnGI40bbJKw+WIf1PtVnwV4Om1txPeK1vpycAqcPMe4X27Z/KvVNLs7bTrJLWzgSGGP7qoP1PqfeuilQctZbG0Kd9WQ+HNFsdD09bW0Q56ySt96Q9ya1LW3kuHwinHrU+kWT3cwyDg12uh6KkaqWUV3JJKyOgy/D+hngutdfp1ksKDAFS2lssagACrSjFMAUYFFLRQAUUUUANlRJI2jkRXRhhlYZBHuK80+Ifwc0fV3kvtBK6beNktGB+5kP0/hPuK9NoqZQjJWaE0nufInjLwtq3hy6+x61ZvCG4RyMxufVW6VzF/a+XNufe65+VwfnX/H8a+19a0yw1fT3stStIrmCQYZJFyP/rV4f8V/g1eWUcuo+FN91AMs9kxzIn+6f4h7da4qmHa1jqjCVJrVHiErMiZkbMYIAl7fQjtU0UhEoCNtCjqe5o1MPC7BQI3ziQSDGSOCrA1XCs9qVQNvU7mQ9VHqvqK5jItStjLKPvLg56Vy/gq3xoOtSEEF7pwPc10CXG61AkHTOe2PeqVlFFY+D3ZtoFzK8gHXqf8ACmBS8K3AtNHuWk+UKSxJ6GqHwVguLzxtr2u3Lsn2mGKKGMfwxhmI/Oqss018PsMWVt4TmZgPvHstdt8NNGntNKm1CSPbHdyBFJHZf/11vGn+7c2actoNs19TLiMvgFl4I7EVzGuA4bHyqT908810mqF8kY4yTgcc8Cud1dh5ZboD0JPArAyRUsWAXgYCjAAPX3rdsgQuSAT0A9K5+xbLhcZ+b5hjH5Vv6ftwEkJIb5hjqvFA2XVVVJTqAPz+lRyY2ZAKj1x0pY23q2wDJbLZP8qkbIjUlQc9iemKQiKT94XGCM87e3TmoJU9DkrzjvippwcELyy/ezxg/wCcVXlLqxy21uuRQBHlFB+Qtk8YY5AphkDLkqF6nJ9fanTOwJZWzng+9MJZUyHDcnI9KBkUBLSDahXPO5vWrEeSS25XX0Pc+gqGMg4RioUjkdf1qZYlDLgctkAigCRtu5eGKYwNp5U08As2dzDjHPX8KYN21QwPTOPTFKTlyAN2AOemaAHqAMYk3A+hwaUAyOR0APXP86iJXHykDA6d6ViEXOV5447+1ADlYvJ8uevUt2pHldnJyFU8EDt9KI2Hl/xL3zjOKYHO0HZn3UcYoEPLEuoBxzk8cN71JDnIwflHUr3psce9Qv8AX8asAxlOE3cdQcUDK7yFCy5Xax+70PtzUFyQV5Vs4GAf6+1Tt5QJ3DIPv1qvcsDCx3Nt469/rQBj6swa4ZjHv5yeeMfSr2lru2FkyOh7fhWfqMhDkZBGOo6/nV3S2YRKQPlznIP+eaB9C7h/vEk4JwO/anRqgUgggA5GecUrMFDYyq9DuGSfenImcNkYP6mgksIRtG36ZAxzVe72+bncNqjkjse2KsRDcwVzgLgMQOtV5TguxK/KMgfnQBw/xNt1khiVR3PPrWHoH2m1kCRuQjMMr2z611Pi+EyXsCjLAkgkdDVSz08iVfl6EV34dJ02mdNNXjqPu0aOXbIgRgMgdiMdanmTfpwZCSc8c81634Z8DWHi7w0lvKfIu0T/AEe5UcofQjuvtXn/AIm8O6t4ZvLvQ9atmt5lXfG5HyTL0DI3cfyrGrScH5GU4OJzdyvmWgwfmB6AZ5robAuLWFSTtGFJHXPovvWLbKTCwbOAfuqOSfQVv6LC32TzHwJApHPRB6D/ABrBkljy+qscYGODhVHoPf1Nbnw+8PXPiS9M7hodIhbEjjhrlh/CvoPU1X8J+Fb/AMRanELhGg0aLLTTE4e59EQdcep/KvX7KCC1tI7W0iWKGJQscaDAUDtXVRo396RrTp9WS28UcECRRIqRooVVUYAA7VbsbaS4lAAOKm0nTJrlwWU4NdnoOiLGAStdhuJ4X0wRIpK11NvEFUDHamWlssagAdKtAYoAQDFLRRQAUUUUAFFFFABRRRQAUUUUAed/GT4UaT4ytJruz2WGrlcrcBfklI6Bx/Uc184a7oWpeHr59L1yzkgvIWPJI5HZlPcH1Ffadc98RPB+k+MNGay1CILKoPkXKj54W9QfT2rnq0FLVbmc6aeqPjm+tPtKP5g8t2PBD4WT29jWF4lnkuJ7XRLHdF5aDzs9YwOpPrXonxF8GeIfCutR6HPZvdy3j4sZIUJW4Pt7+o7Vy994bvtDvHh1BC13KcyPjP8AwEH0Fc1Ki3Kz6GcIXepT8KeHm1DUYNLsoiFZsEgfmTXtnxF8OQ+H/B2hWUUYUkSbvfpU/wCzr4LMYGpXUXzvyMjpXQ/tLRiOHSFXI2LL0/CuuvpTZrU+BnhOtriU7QGIPzDNYOrD9yXDbWx91R+tbmsZebYp5LYwKwdWd3hcqmdvQ7ug9K845EZtnksOm4nqOuDXS2ODEoCEEcEgYwK5mw4KbQFkB/iXO3/69dHasSq4IB6HjHPrQNluP5TlSuDxkUsjfJjncvUDnP41GjDIIAZVI59Kmj4GAADk45xj60hETyDO7cxPXgAEduKrcggsOVOQuf8AOKtBSxCqMtjucEcc1VkG3B8tSCvOD1FAyCUsSSUHPTn+lQhmLhOFOT0P6fSpJN2So64+XimW4LMgbkPzweeO3NACxR55IPzHJ4q4oCttU4A7NwCfemQK20Ax4zwMd/entDvwRgnuqjrTAawwD04wB2pVDuPnUkg5IJ6Ck2quRuyATgY6emaWMAMCfXOR1H/1qQhWUBy8eTyScHGaAMkkgdjgD19qY6YVjvJKk9u1GZMMA3GOeetAx7DoPvDHGRj8KbbBZJPnIGB0XnNBy8ZbOeOTjpTo9o+Ug8A9eaYib+D7+8tjIP48e/8A9anwkBN4wcj5ivt7VErbk5G4g7eBg+39akjb5dqkADPUUgIZSgY4PDH5ST0/GoJvni38oR0Hp+NSOQrMduAOh680y5UbNpbKEErg4FAzA1XeTtGBuHPPOPXpWnpHli2DqrDjBHT+VZepEiRTlt2Oc1p6VgWyncGIHJNA2abF/JXBJc9cHsf84ojVAMBiVHfoG9veogHZ2OM8ZGKXLeeu089KCSzAAyEybdwBwdv5VDcHOMsy+px/KpY12kKWYnuR0x/jUdyPLbjAOSOvWmBh67Bu1SyyPvOcZrQh08b1yvequpAnV7Rjg/vxXWW1rlxx3rtwvws6qXwnqHwZg2W8Yx2r0jxp4J0fxp4ZbS9ViIOMwXEYHmQNjqp/p3riPhPFtij49K9e0sYiFdLSaszRq58ZfELwDrXgLxL9j1iBZraQn7Ldon7uZfb0bHUV1HgvwRc3FtFrGo2bw2jgNBC4wZv9oj+76DvX1PrOlabq9ottqdjBdwq4kEcyBgGHIPNUtd0aG8hK7AMDAwOlYRw8VK5mqaTueN20RUhEX2AArpfDehyTuryLW/Y+E0iud5XPNdNpunxwIAFAroNCpo+kpDGPlHFbMMSqBgU9EA6CnUAA4ooooAKKKKACiiigAooooAKKKKACiiigAooooAjuIIZ9pliRymShZQSpxjI9K4nxj8P9O1e9S4eFcq2eld1RQBk+GtJi02ySGNQAox0rzr9psZfTvaOT+Yr1uvJP2mdplsFY8eS/86xr/wANkVPhZ4BqZIlYEqhUkgiuf1HKRhQN2QTwec10OqAfacsnHQ/NwawdUeMhldQoBJC7uK86xyIzLQuNpLEIx6e/rXTad89uSQW4429a52NVTbgvjdnr2rorAboFYZwRj5gB+v1oGydW+ULkhSccDpg0+UkYGQATznjP0quNwkCAknPJI5JqbBKqSepx8wGKQhr58suCwBOGqrdIRMdwwcZwD0q2d+DtZRghvb8PSoLgKWJDqePvE/pimMqvlogN+BnIPekgVCy7Fx6gjv3oaMl/uYJ4AB6mnIeTuHzA8fMeOvcUgLBVmZAeMtwfb1NPBROdyqQMEA9fxpkRfeBgBevtTwytlnIO3jnnIoAapwFGAdq9jTVO8EptJHTsce9KhVXAKYH8QIz+Ix24oD5k7YC4GRzn2/xoAYkgLHgYzg+powMs652/o1OkGXwVGB0IHNDgOmFUKRwO9MQRvJzjhQf4hwaWIkseAQDjgdTQpJUKuRnnjgfrSgsAwBAKjLFR/WgCZiQu47SFAzx900qn9z0CkHPPGTUCl3T92OvDZ71MmDnDnGMbj39+aQEDOu5txzjg8VDIzNE5CjoMZOKdMWA5BwMEHnioZmXaTnquB6NSGYupEM5+YBwfrWrpRX7OVyuV6ntWPf4aYkHaV+9j6dPWtTRxtgUEhlzyPX/69O4zR2sHJO4tx74o3sVXI25PGex96DuBJ2kccYIBB9KRCDICzOcDqDgk0Ek6BkY7sEHkkHio5hhipxnGBgY/WpMN0AA4GR1z9aZdbckjkHkEn+dMDI1TKajZDJz544I5x9a9AtYvmGBXnmr/APH3AzAnbOpUjvz/ACr0uyUHb+FdmF6nTS2PUfhiuI0/CvVdN/1Qryz4Z/cSvU9N/wBUK6zUujpQRmgdKKAG7B6UoAFLRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAV49+08Qb2wQ8gQE49Tur2GvGP2m2zrNovpb/iPmNYYj+GzOp8J4ZrS/vCN2O2Dxg1zt4djs4BIY85Oa39fYKxj5L+nXj6/nWDcAkqRjAPUDtXAcqKsPEuSGweAGHQ+tb1mxNkhI56gYwRWPEoEp5DYJ59a0rVj9mDk57YxxikNly0G+Uk8DjJz1+tWDy23HA55qtYZ+Y5J45571O7KHwUJHfnr7UhCOpcsNoI7OPSqk6s0gO5gMnBI61YklXYcNtAPy54z7cVBKPk5YMccLjrQMgYt5wwBjbnJ6CkiARhg5GDwx/zzSFijMoyFwMg9PpQh3SDqfwpDJjIrbYyxB4yuae6EhSEI3fdPWmxnfIAMlvcfnTw75MahQrHkZ5JoEBVApL5BXqB2pYy2wliSOgyOKFXPJQgE4Cg9KGBMfyjGOuT/WmAMmJBmMD19qjdRjKAfKM5BwQKkDqXA25J6Ec1E6kqG2Lhv0P+c/lQA7JVcYLEjIJ5GaRDtJO0jBzycU2LL4Vc49MVImSuQRleeBwaBE2V8skZO4ZI7D3/AJflSQsS3Ck7R0o3nywVADHIOOuKbCxLD24IpgRSkAgOdyhsY7mobsBbdhtVeD7/AJfpU8nmGZiyjHoTn8qhvVP2Q5wE5G4DrSGYN1975iDjg+taWiSAIMLgg4GOcCqEhdoyxG1s/XOPSr2iFljBAXIGT2zQM0D2YkHnjPfmnICXG0gjdkE9KY5OCByAc4A60iMGlwCccY7fjQItqPmA5yUzhaguGBk2YI9ARn/PanKP32Fba3em3aqTvjbBHGAOtAjK1B1YRHy2G2RTnOccivTrDlFI7gV5dqufLJCdMcjvzXqGknNpE3rGv8q7ML1OilsenfDM/Kleq6Z/qhXk3wzP3a9Y0v8A1K12GxeHSigdKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigArxT9pc51+EDqLdefT5jXtdeIftIuR4j+UjIgQAH8awxP8Mzq/CeGeIXP2sKyEjPOTgkH09qx5jndk7UxgH3+lampsSzBnXIf7rDOR9fzrLvSJGAGdik4wM/nXAcxAoAdFIDA91GK0rVSYVUklSe+c1m4kVuFXg8Y4wav2GSm45HHBzxSA0rcbDngr9ev6VLKQTuK49+mKgtnCxBwP8AeAHIp6vvIIOCTk8dKQhsqsQAw2BiP/1CmTBAmQ2XU9BgYp5Yh23gsMkYzwKhmZQWOOvT1NDGQEs2flQn9T+FMjdGfoqEnk+vpT5mXLLwBjOQOaYi5kR0T5sYOW7Z4oGWMqHVhnax5UHB/OpMrgnaVyflxzxUaouQwzvPXJ/Sp1b9wegOchfp79qBACgjwN5x/eyfp0xTTkfLgnb29TRGwaTaGVdxyWJyaeV2xEBucj5s9KAIhlpghXjH/LOmMIwAACVBwGDdDUjkGVsYCDjGKZdMSqg9C2PSgByAgsODxjggHFMi37cMrE54AHJo/gCOeg9O1OQqIgoY7RwB/hTAeMyKSi8fd9x6004DAEHpk54FKCCqsp4bOAOxxTUDb8HIA5yR2oAQKzSGUBOTtOeKh1XIgC5XGQQoJ5+lTAH7SNoDA9ST1/Cq+qlQFQ/Nk9Cc9/0pAZEyDyCoTaw65c5q94fBMZyVJx14qne4MB4yc7sE456Zqz4fP7rd1KD0oGamQkJIZSGGQSOeOP6VCVwRvJLEgNx0p0jbsA5O0gnAAGKSNVOS6gA9iOce1Aiwq8gbgxxz6+3amTsG3MGGeD0wB9efWnRkjITKoPXr7UyZhszjcxyT7e1NAZt+V8t0bAI5JbjNeleHyG0y3b1iU/pXmWo5AbK7lweh716V4Xbfoto5HJhX+VdWF3ZvRPS/hoeVFet6XzCteRfDU/Oor13SuYVrtNi8OlFA6UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXg/wC0m/8AxVbBWORGg9h8te8V8+ftHMW8aT9NqooPzYxxXPifgMqvwnjeqFTK6AhT159KytgJAbIDHk96v6of3rD5eOnrg9/1qiSGQHgYBO3PBHqfeuE5xoRfPP8AdA5J9av6bkfKqkgdcD7p9az0dmZS+CQOvrV3Thsicglgeh9aQFyH5clCQTkEev41LlguBjA6gDLVDFvJAAB4yCOuf89qlIJZfm47kHFAhNjHJwcMcVHKm0bsNnsSeMelTbyAOW4yCD6VHdEg5A3rnGAe1AynMZfL3Egc4UHvUcJdsHqckD6U+6I3lHGz1yOnSmW+0MPmJQgZz1HPagC3grEmH5zyTUzhwoYspwc5x071GFA4GW5+Yj1+tSZY4+QBWPf+tIBDy+7BUPgjOMY/x5p8ir3J5yc5o2sG2R9T/dAPP401VxJuzjPBDZ4oAjc/MMdeoOePrTbljgqW288d6ddhzK5BG/jrzx6VXbIwrH5jkgjoT6UASgqItyuWYDnnv/hSgI3I5ZhyBUcRQg8EkjrnH40rfIyblZix555+tADxjOM/X2x2oLEFTIPl3Y65zSzEoxUMT8v1x/8AXqJUBn2qGwBkc80wLVqn74lwRx6Vm3oDXrL2OTkA44rVh2qHZkLEfh+FZkxzM/AIycZ4H+cUgRnagTsIAyMna2PfuKn0IfuCGUjng+3rTb0KQVA3dyw5z+NP0R/NgA252/exnigZf3Fi2FGSevYcd6WTDPjgHnJ9fSmL/qmKH+LG7dUjHykXcDkg+340yRYh5gCqQMcfjTZiqbj1IyTzjvTkLY25A64z0NRzMFBMgwO5A6UDM3WCoHOCGGMe9ei+Bm3eGbIn/nkBXnWpBvsYVnycdR05969B+HRJ8J2Weojwfzrpwr99m1I9S+Gp/eD6169pP+pFeQfDT/Wj616/pP8AqVruNy+OlFA6UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXzp+0HKD42vmHJQgdOnAr6Lr5q+OrB/GWpknIErZ9q5sT8KMq3wnlGolXmIwSrNlht/nVO5XKkFFwQRn0FWrlw5I25Oce1UL0srqMDnpk4x9a4jnQqbQu3Gf7ueq4/lVuwDDccjjptGP/11Tt2IcnAJ6Env3q3C+/O3I54wOnt+tAMuoWLgiPGAM5qU7VQIFGQ2MDufrVVVyExxu5BzVglCwIJJApCHAvuGOw5Hf/OajmXcxVpNq9dx4oibe7NtIzyTnr6CmyuWcA4JXgEd6YFa4VWlRiufy5/Oo4VAcKRkDGefelu1Jmwcr5Y4Y9KLUsztkKWzgHsPWpGWcN8i7cjncFPI/wA8U7JwenyngbuR/wDWqMBluMlWzjoTUxC9OQP4gOppgOhlJfGOufTr70rnPJDBSMYHWkGwyHZhcZIYdxUdwWDAq4AzyT0FADJ1fzMYBB7ZqFyzKVGc9cEc5xipChJGHLknjB4FRO2Uzghj2zjB9v8A69AElspKAEkIuACO1SPjzPvPuzzuHGPpUVu5MeDgAH5cGlkOXbOM5xwevvQA528thI2C20ZIFFkxeXIJUg45qK5kICjcF47j86ns1IBZnzjk++aQFoymO0JRVAHbPJrND7iQyqRgkHPHXrVy64sxHjnOc57e1U7keXhVTOVyV6mhAUrxSY9yKu0DGS3OaTw8wBkUfIQ2OtOusLEAy8E/iPpTdEO1XQOA5JycdBTGaCqp3KZBtGTSq7yPuDY+XgknJpNqmNTuXB6kdqQuQjA9SBtbHX6UiR+6RW2Eqew+lNnByMA9MYJ60EjcpGVwBkE9aS4DBuCxIGeenWmMz9XDshBZTxk/L0Fd38MCG8JWpHbcP1rhtRKmAqWOOx9K7j4WnPheJc9HYfrXRhvjNqW56x8NP9cPrXr+lf6oV4/8NTicD3r2DSf9SPpXebl8dKKB0ooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACvl/wCOEgHirUnJwGuG74xg19QV8sfGWTPiLUD8p3TvjJ/2sZrlxWyMa2x5xgs7HP3jk5/z6Vl6wp8wA84OeSMfX3rXCHgqfuqedvJrI12c+YpAJZflyOK4zBEkbKn3sYyCflyB7VZiO1WdGx746H0qlZMzW5Zjt65GcYq9EgGwnGW60CL8SHYG49QT29sU+2jBJySMdW3ZH15pls7bN7Y4PJ7+mM1ICoJZj0HGDknNIBhDiU4IwRgA98etMcbZd5dVOORU0YTDO6j5zwQcn8ajcESHaSpXpjuKYFO7IL7AWLkZXAzuz6A05NuF8tdpPtx70zVubiML93bjGOQKdGqK4IJIHIx6fypDJ5VKtknOcHdkfMKl4DjAUZx8w5xTELCTA2c8kkdakIfzCwwQRkk9uOaAGldoVGwwJPI7/Som2knbnb1XJycVMoO5id2AORiopm2qXUD73yqo5xSEQz7mkXbnCj8MH0pJsrHtKrzwAG5ApXYgh1GSTk57Ux22tguDznOTwOaBk0WFi44Un5d1RzgrkMQDkAAcYot1do8BvlX07U2XBODgr1GB/WmAM5+0DD8AYPoPzq5ZgtE+dqqvQ9zVG2Ba4wqkqfX+lXbRdseCQcN8oABFAh820uqnkjGOeAKpX2Vyyk8NkH0HoatyoJJt5YZ78dKqXW1XPG5ceuMd6Bla4CpHukOGAIxkgE1Bp3+tcIq9M5BPP1zVi5DAEPk9n44qppSj7QQfuE/3uAPXmgZqxKrLhyRt5ZiOCfQH6UhfK5WJuGxkYwPriiUyBVU4xj5eBgj1pkpSPCs4zjr6ihEj7dd/QA88Bfb3pHZQ24s2QO9Lav5agkcdBg84psxALqVABPHOR9KYFDUxlDlgQTn3I9RXbfCYj/hHAAc4lbnNcbf5jtgoKnIyx254rrvhC3/EgkA6LcNW2H/iG1Lc9f8Ahvn7R+New6T/AKlfpXjnw2P+k/jXsWkcwr9K9A6DQHSigdKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAr5N+MT7tfuvmxmd/yzX1keATXyL8VpGbXLnLAEyt+Iya5cVsjGtsjj1BbLhj8vBH8q5/WycbyzdTjnFdCxXaX5JJyOeRXPeJCqQFg3XGM9BXGYIdpP/HkkiqWYnOeoIrUQABSMg4wB/8AX9azdAYG2RY8468DH9a0kBMYAx8pG35vvfSgGXowzwosTAjPXHNSquwBSST0JHX6VBb4blUOD6Nx9MVLuAkU9l6A9qQh0YCS+Upweg47UMAZzIRk5x060KrKN5Jy2Me9MOA4XgEE5/8A1UwKOrsouA20MSduCeB+FLActgKWZuQtN1RQtyhAJGSOetCDfKgLghOh6fnSGWlCs248t6d/pUwfEYDybec9KYkSglmGSOMr3p5UxyLyrDHG48e/WkA4sqqQPXaRjn3/AKVDI6gZRQECkHnPPanMgKnce+WbNQkJ5b7zt9FA6+9MBgDK67gdvU+uKhlYGU53EHkDHAqWVgrAlQcgDA5H1FVgf3eAW2jkjtQBOmViBYEIw4wODUUjFmYAurd+wxTmYqhG8ncMEn+VMznDKvK/dAPt3FAEsI/fqNzMq45JxVyFXMJBGGJ+X2FVbZG3BSFwOW7c1dRwsW5RhmHXpQAwkCUZHTGQTjBqnMCZnVVbLdBjJ+n4VbcgckMzDqD0P+NV2iAzICBsBIPcHOOvegEVJpNqcgnd6iq1gR5/zYJ3c4bGBViVdy7ACGfBOW6/hUVtxKd2EPb5cgCgZddy1uzMOuByM4HqKr3LbSqli7Z4wOoqwQPLVSFY5+c84x6Zqo5Mt4gXcRnkY5oEXLRQFBGOXHOKbLJvbAydwxn/AOtUofMZXA54AAz0qJ22HhcZ4GW6UxFG/kVo2xuIwTlf89K674PMG0e4ABH7/v8ASuSu8qQshB28jHGfrXVfCIjyb1B0Eo5P0rah/ERtS3PYvhuf9M/GvZdH/wBSv0rxj4df8fuPevZtG/1C/SvQOg0R0opB0paACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigBk5xA59FP8AKvj/AOJUgbWZcrn96xH5mvr69OLOU+kbfyr468fSL/bMmeG3k8D3rkxXQxrbI5yTdtHBOAR97Nc/4rytpJknccAZ6V0LhQ7IAC2QRjsSOlc/4qZ/spwuMdSa5DFDtA3fYASwHGTgcj3rUidVi2KCQ2OM9KyfD7b7NRnIKjI/pWtAhkVWHG4hVFAmXVfILgcE8HpTrdlHGMbc596SM5URsMduR0pygov8J5yMf1oEPR8SArnO3tTghEoZs5PIH86aRiNWJO7HAXsaRN2QjDa3UHv9KAKWpsBPGT0D5AzimQ5Mi8AAnHPGPSn6rk3MakZIPJA6UIjAgMeMjHGcfhQMuQDkLIc575p05YjLqqAemDikAPlsxUKcfKMVHM5DbgmQ3QZ70hAJCHUs/wAr9zxu9qglZ928Mzdeh5pbqQKMK24YyeOh9qqyzkngDnnA6/8A1qdhiSyjBMankY9Mc96am0KpHO3PtzzVacOV+UYKnJ55NSIxX7o+U9m6UWGWnkVog20HH8POKbujI9cjPAqNcZyqkA9RmnA4kOOeeCR29aQi3alFJ+VsHkYGf51dIyMspYnk561QhxtIDfNnjb/WrqMWUgnvwO5GKAsMbBdWAxg9/SoL7mN4ixzvwcAVYU4cI2VXaSM9jVS/OGJJzhux60wK9xgyBSOOmOwqtAS8+xAB2yO4qxKVznaMKPX/AD61Wt97ySCMgkHK+/8AhQMvCRxAQFUHPB4IxVaDLSZ55Y7ux/CpZGyMYCbhglemahjA3hUIz6Z7ikIvbxghV4H8WfzFMZV8oyFiCG4H4UKpEYHG89MjgUyc8mMIBxznqc0ICvds4HHKjk55rovg+T9o1BSc5ZW+tc04AiPygBeCV5J9hXQ/CJj/AGpfD1RD1rag/wB4jWn8R7R8PT/xMPxr2fRT/o6/SvFfh+cagPwr2rQ+bZfpXonQaI6UtA6UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAEGqHGm3B9IW/ka+N/HEm7VWTHIckcdufWvsXXG26LeN6W7n/x018b+LWaTVX25BOc84wa48VujGt0MM4ZG2KQQuQx9R/nrWD4rObZgSXJOOP681vTqTllJHAJK8GsTxL88LfdB67getcpiiv4bP8AoYzlVB6jrn61twHYoY71HHA5wPpWH4Y3iHIY5U/d4xW7Ep8tfmznBwDjHtQJkyO4GCQM8kFu1TxSAcA4OeRjOaqRliG4GCehxnFTxmN28xcK2MdaBFuDI5JZ/QDFPhCGQYGcegJAqtA/BOQcc5A6/wCRUsL4Us4HHU460AUL1GluyEfaMFiM9aIAS6jhh156Him3LBrng8dW9RT42HBJIGD847UDLQdcgMDwOAOahlJ5wuAchTnPHvinu6hBnkL8pNVJmQl1j4B4OT1FADJ5lHEjKUU+vPT/APVVMMZI878hvv8AH3adPhmCYUlVB+Xj86bGihWOcjjPWmAmNr7CNv8Ac296lH3d2GK4xhT93/PNRozkcDHYZ649achPl7GHzLxnOP8AOeaQxw+aPgk4XjPFSRAqg3jBXjGKim3Egh/lxggjpT1YlBtbJBwRtoEX7UoMlgVDAbhn735fjViI8KzhSOvFQQfJF0YFv1/yMVPbsw4ySP5UgGEkuflIHYdfxqhM+ZGVccjHPOD71bupGLMZCVYjjC9RVJtpONjc859e+M0wRDIQ6nCbtuQOuPei1R1kZRINzDcf8mlkb5hgFS/OOwoiOxSpyu4fXIoGS3ah2VcKhHAUjp71GgXztwfnHTGR+FAwDvVQBjcAR179aYPklYhsYI59fpQBdRsKQOA33uM0y5yEJPOTjkmnogDBi2c/Tp60yXccIdoVh+lAitdDaNuTz2BHNbXwk3DxBdqSDuiBPqOe9Y9zGzSP8n8PzA9hWj8K3RPEzqh/1kNaUtJo0p/Ee3+AjjUF/Cva9C/49l+leJeBTjUV78CvbNA5tV+lekdJqDpRSDpS0AFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAGf4sbZ4Y1Bs4xbP8A+gmvjfxE2/UZ2AIC9Dyc+9fYHxAfy/BOqP6Wr/yr461gE3kjKSCDwc9fauPE/EjCt0KFwAAUJZvl54xXP63tdWUDAxwCeorflchXZi/pkHk/WsLUgZJum71IPT3rlMkVvCasWljGML830Nb7KBCrBxnbls96wPDJC3kq/fB9B/Ot5CPLQMGYg5GeDn0oEwThiF5APXtUtuAwJUnAOMY5/wD1VEGI+d2yD0wKntXC5zllVeMDgg0EluJFCAKV2jOff3pk8h8k+/8AOlSQBMBcg9eKr3JQndgnHI46g0MaK8hy23YMDv3NOAbyDyCrHGPU+lRSgHIfll+7g8CnRSqi7CFJBycjv60FE5BK42csO5xzVS6wmVKn5hk4qzuIQ7f4eAR3+lUbhyqkKxxnGcGgCIMHO5QCSckdOn9f/r09W3MMr/vY44pgjbaWO0ntgfrRJhQu5Y8enOTnvQARvlgAR8p6Z5FCHofLAZuRz1NKEJyyge23vQgIYODx93kdP84oAkO4vsx82c1OseQxYcnnioNr+XnLYPNWLbe+CTwTwM0CLkZTyhnPzjI9jUm8iIblBYnJJNRx8RhVYEDkbj0qN8rtXcACMgjvQAy5YGMksduRtIqt8xUKRwpznGc+9TM6lyBwFHLZFQP8w2ozDPQEdfamgI5md5Wwcr6noKa25XAzk46+g9KGKjJQEKeCCcE+2KjKkncSOeGBHFJ7gTocjbntkNnP4f59aYzAXezB6cjOSfahGQOwIIGOinikdh9pDlcIfQEmgZaJRAQw6HndxgZpcBowMk4H5U5QWV2Ckj39KYxKQOyxhu+CcGgRFfMGDFC3yrtIOATVj4buE8YRICCGjbGKp3akAsI8Ac5HXPpUngN9njm2UkEtu6e4q6fxJmkNz3zwL/yEkr23w/8A8ei/SvEfAv8AyEkr2/QP+PRPpXpnSaY6UtIOlLQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAc98VpPK+HerP/07Efyr5BvY1kmJYMDkgfNg19bfGqQR/DLVmPQw4/UV8mXGclh0HQHoO3+NcWJ+NHPW3Rl3n3tmegIJPAH+NYM5bzHQggHvjr7Vv6wQhO4HKkcDsfWucZ90rEjGTkn3rmM0M0YrHqEoMm0ADGOp59a2wyiDvnHD7vmXHr2NY9nhbnoNxU+/5VqqSxGcHc2eO/1oEywgDIC+3OcnqasQpiIckk/7VQ2/+qGVAOMH2qZTlcJgbTyx449qCSYA7CyDgEZ+vtVefhsfOSDgEHmrPmFk5wF6kGoJQAzfKcscZJ6UDRXzmNlAzlfyH9Kam4RYDYLHHX19adctzlMpjhSO4pIcMnOQAc0DHF/lCnO4D5R0z71TvGXzSWYqvXDc1bwNoGCcdMd/pVGbiT58kYOCeQfagYhLP/dxwGAGefQe1K5Ycx4OeNv9KYSoACck8naOhp/lYAcrg4+Y9TmgAh3FfmIGemePwpW2eaqMgzx904yaMjzBGRweRmk2scuGBCk5I749vrQA/JUFMKAF7VcskJCsSBsOVOKoiNd5bcpYAHnvV+3yIQ4PUYHPBxQIllA8g7s+y46CmEtvPyqMD06/4UPIGjPJVgnOeR/nrUMz7RkYGBQAOqt8rgFeoBOKjl+VCN2cjk/linIdzMMqcjoOSKhuGKnYo3diT0piITIjNtJKkEjk9cenpTjGpG8N7ZzxUasPvBMA9FA7VLExLAhDzweBzSKJVH7xgflwQQcH8qY5+VWRSDuwx7AU95MjbkLk9ex9zROxZRuHI6Bf5UgJldkVnXkMvcggUM7pGVCqMDHK5x+tR5WOIMcAdjnnNNdw2TgADj2PTkUxDLl0VFVkDHB45wTTPBjt/wAJvZZ6+Yc85HSmTNlsE7s5wR2pvhVmXxlZtkEGXjFVH4kXDc+hvAn/ACFEr2/QP+PVfpXiHgUf8TOOvb9A/wCPRPpXqHUaY6UUDpRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAcb8fXMfwt1EjHO0c/7wr5YnJEqDGMt1xnvX1D+0Qdvwsvj/tp+PzV8zywyRqbhiuxeuR976Vw4n4znrfEcv4ulP2l4kDZb7p9RWFg7wxyCPfofWtXVWe51F5HyqDPU496zb0hZAuTtI6jpXOZoSIfvVkODhu46VtQxERBdyqMZz3Gaoafbh3Alxg84BOTV5jhQQOVOF5680CZYBwVViFB/KrEZUqowMEdcVQZyw27eVycev41Y8uSIK65APYHpQSWlDCPjBY8A44qCcBX5XJY9cY3U4SbdrsScjJ561DLKmAXGSTwMZ5pjRFMxDHPPY8ce1MRWXCj5gw647Ac0TTBQcMVOPlbt75qONmEY64GcDdn8v1pMaJWdwCwbBU9x933qkwLliJC2GP3hgc8Z9qtTOjIQCeR1PGaggwoJY5dsnp0/CmMkijUKevBw4PUnNRzKWwSwJI6A5/8A1U6V0WMghnLdOnP1qNYxIvynDZ5OOvtikAuxi5IGCRnBINC+XnsCWzyKCFEgBHPTAFPXZs2EZYnkg9PagB0K4fe3l4bgKF6/TNXADswBjpntUNsiuTlgecBfwqZQxJyPukcqaBEY8zPQMy4G48H/AD0pGJJJGOQeduM//WqZ1bJJIY5yvOM++agbCtgNv44x/KgBY22oFUAEdW/wqq5EjHLYLDjd+nHaprmRQCc4I/hHb6VXkcOjSgYJGRjoKLAOU/Jhzls4wDx9KlCFsPu2N3IHBpkSguH2kfKDx6VJJcwpwB8pByPSmMbIxVtrkAKOBjJP1qW1IU7WDEsMtgY3H69qh3F1DeVgMSQT/T8qV93mhAdqgZ4OBn1pCJsPG2wo2AP4h61FMpXO5FVk6D09vwpqz+WSDkg8nnr7VFLdylSBEMgfnQhkcu47GBHHfpT/AA6M+KtPwR/rQeKhkdZGEjsAuM7aXw2yDxTYyjIUyjqPeqjuio7n0R4F/wCQlHXt+g/8eifSvEvAa/8AEyj9a9u0MYtU+leodRpDpRQOlFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQBxnx6TzPhzcpnGZY+/vXy942ujsS0iPyA/Mc96+qvjRbfafh5eptVtu18MOODXyJ4niK6g8bLGoXnrXDifjOeqtTHuUkjtyWQFidvPasmZWkugijIGNxJrS1KKZISZI4yecZY/5xVGDTikYkMMQZhnBy2K5zMvW4VSmRzt429+adI3OX6r0X1GahtEKxFdkIOePl6etI1pLM5O2A85CgEbaBWLlsvnXQyc9RyOK1JSh+UOQFAAyM5qhb2wt8MyIRjAwxHP5VZWB2AaNpVb/pnNkH8DmgQXJZYlAjRscc+lVpWIUrgDcDnHOfpTpjcIwTfIR/FuCEj9Ka7MgYyAnnP+rP6YoQyBQixnBO3oQe9RHJPO3AGRnnj0qeWReWDwepDNgfTFVZZ8uWIhwFxxKADzQMY5OeuB+H601Pl3YIBx1DdRTLifaMqil+wWQHIps84RMSRkkDnoD+dO4WJAAQgO4KByV6+lSvGSVKbjj+7warLMcDlNpwGLP0PYZqQXCk5MsCD1BOR9fWhgSFgJAoYHnJ7CnAqqAs+SCcgf0qC4kRWyzRsuM5VWO38h/Oqy3iFwjmPBHTcQfbikOxsQyJtKnKkH5cd/rUglzk4AbGeaoRzbkyu1jnBIUnIqRGzhwpDLgY8tuRQFiy7lom+UjI4XOM5/yajDyfMCFC9j2qBXkZ9rI6npjyzj2/rTmkUtgMMIThSjZoFYa43sAEHHbFSbDkArtUnpjripoLeZlB2TLngEIFz+dSPDJsYFJcjrufj17UXCxXQH+EN84/CntaeWQd+5ieCalNvlg4t8AY5aU/r6UpiYx5FvCSTgDlsGgCqQwG+Q5287d3TFMZ1Ks7SKT1xnrViS2YsMmBWI6hTn8s81G9ptOBNHtbOCIRn+dAWK0sirIG3KwHI+bofSonkjDgrKuATxuqeWJyzFrkZHQCJBmq/lnzWYzE7VyMBOfY8UARyCORtnmrhTg4/nUdpNDHrdoYmLEToMrnLfMKzPE+sXNjcwadpml6lqt3NGZPLsbcOVUHHIVCe/XpVbwbqOtS+ONKtdZ8KXunRTXyRmW7ZkZWzkDYcfyrVU5OPMaRg97aH134FhI1CMkelez6MMWy/SvLvDUKJqKBR0r1TSh/o6/SvROgujpRQOlFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQBT1/TotW0a406Z2RLhNpZeq+9eK+M/ghBCTcxaxLMCc7Xtxx+te7VHcRJNGVcZFRKnGW6E4p7nyfqHw22SlZL5mIP/ADx/+v8AWq//AAryM/f1ObHT5YgP619M6n4atZ2LeWOfas4eELfd/qx+VT7Gn2J9nHsfPVt8MbQuxW9uiX9IxmtDT/hFcCNfKublgH35MQzmvoWw8NWsRB8tePatm2sYIkwIx+VHsafYOSPY+bB8ItRbP+lSHJ4DQ/8A16enwl1WCMmKcFtpALRkc19LiCMfwj8qDBERyg/Kj2FPsHs49j5M1D4W+KFuC4a0YenmFT+orOvfAHi2BCf7MZwB1jdZP5Gvrq70u2mHMY/Ksu58OQMSUXFS8PAXsonyJc6Fr0L7JtJvVGMH/RziqUmi37Ft+nz8jkm3OB+lfW934dkXJRm/A1lXWk3sZO13/OoeFXcXsl3PlC60cuu2SxkQDuYSD/Kq39hhrlVSzmYkcgoTivqybTr9gQfmz6jNVjoF5I2doH0Wl9V8w9l5nzfDpV40KxrpcgLnBxEeD69KtLpGrFABpd31wAIjyPc4r6Ki8LXLn5twrQtPBjMPnZvzp/VV3D2S7nzQ2ga2y86VdnJH/LI01vCmsTAF9GuGZTwTHX1Vb+CoP4s/jV2DwdZAYK0/qse4eyR8kx+EPEKj5dGnxnjKE1aj8I66qELo8/I4/dng19Zp4TsAP9WKRvCdjnIjFH1aPcPZI+Rz4M8SZbZo1xlj82eOKIPAPirfuGmEAZwDJg/jntX1q3hKz7JUMnhG37LR9Wh3D2SPmKy8CeLZJT58FvHH6vcAkfTFalv8PNXJDSXVohxg8luPbivoKTwjGPuiq8vhTB4BqlhqY/ZRPDB8M5HUCbVI+BjAjbj9ak/4VnbkYk1VyMdof/r17UfC59CaYfDBz901XsKfYfJHseMH4a6cAA2pXHAwNsag0D4c6Oq7WvL5h6blGf0r2X/hGP8AYNKvhcf3P0p+yp9h8kex4wvw48Pr1F4/qTMP6CpY/hx4cKhfsdye3Nw2a9oi8LL/AHKt2/hiMc7B+VP2cOw+VdjwGX4QWL6v9v0fXtf0Jnt/s8y6fcAecm4NgswJxkDj2q94b+DHh/TNdg1i5vNe1i7tpfOi/tK+8yNZMY3bAoBP1r3638PQoPuCrcWiQDqgq1orBZHD+HLKf7erFDjvXpOmqRAoPpUNrpsMRyqCr8aBRgUDHUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAEUm0elFFACgCiiigAooooAKKKKAGsikciopLaNuqiiigCI6fF/dFKljEP4RRRQBItrGP4RUixqvQCiigBwApaKKACiiigAowKKKAEKg9qaY1PYUUUAIYV9BSeQnoKKKAE+zp6Cl+zp6CiigBRCo7ClEa+goooAUKBS4FFFAC0UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAf/2Q==",
                "rotate": 45,
                "format": "jpeg"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "output": {
                      "type": "object",
                      "properties": {
                        "image": {
                          "type": "string"
                        },
                        "format": {
                          "$ref": "#/components/schemas/FileFormat"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "success",
                  "output": {
                    "image": "/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAG4AbgDASIAAhEBAxEB/8QAHAABAAICAwEAAAAAAAAAAAAAAAIDAQQFBgcI/8QAPxABAAEDAgUBBQYDBwQCAwEAAREAAiEDMQQFEkFRYQYicYGREzKhscHwB9HhFBUjM0JS8SQ0YnIWJUNjkqL/xAAYAQEBAQEBAAAAAAAAAAAAAAAAAQIDBP/EACMRAQEAAgICAgMAAwAAAAAAAAABAhEDMRIhE0EiMlFCYYH/2gAMAwEAAhEDEQA/APqmlKUClKUClKUClKUClKUClKUClKUClKwob7UGaVw3M/aLl/AW3desal9u9tjMfFrofPP4iaupOny8LLWQutz/AP6cfSsXORLlI9G5lzXguW2jxnEWabcgW7q/Deur+0Xt3w3BcBxOpy+y7Vv0tO67rvItIF+e1eW8dzDiuI17dbiNW5b7xYykIkrneKr9pL3iOQ8eWXlrdw94nfZrleW31GPLfTQ/h9/F32g4nX4nU5hxmlxNrqNxp6tpFtrsCQh9a9d5T/E7lPEltvH2avCXv+qOuz6mT6V8e+xGvbpccBqFrtDtO1es6D1WCJARJn4pUuVxW3T6W4HnnK+OtHheP4fUHONQmt+3Vsu+7fa/Br5e+6lxjsRI1s6XHa+nPRxGtaGzbfcDHbetTl/qef8Ap9NSeaSea+av725jbcmnx3EpGF1Lo+O9Ru5tzK6Z47XQNvtX+dX5ovnH0rdq2W/evsPi1pcVzjl3C/8Accdw2n/7agV82a/H8TfNt/Ea9xEZvXP1rWvtu1AUvuTy5p8p5vfeYfxC9neCP+8+3v8A9uja3fjtXS+cfxe1rm6zlHLiw7X690v0Mfi15k6WopgtZ7/veo36RaP2upYQTA5ms3ktTy23ub+3PO+O4m3U4njuMm26bbNG907bU8FqT85rvnIP4n8dwxbpcw4c4qxBsZ6byc5xDvFeU6vGaGlcmhpOpqkKpW1ocRqavG8MMdd1lt1x4mYKzMrPcTenvnKf4i8s4q77PjdPU4TUhy+9ax6mT6V2vgeacDx1o8JxWjqn/jcV83X6Oi6zIlxOS5JcY3rY09XU4e627Q1dTSuO4rmtTls7amb6WpXh/KPbvnHL4tv1P7VpWwRfnHx3K7vyf+IvLeMC3jLb+H1NlPetn866TklWZSu80rV4Lj+F46zr4TiNPWI/03T9StqujRSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlcTzXn3ActtfttYv1e2lp+9c/Lt86luuxy1afMOY8JwFnVxevZpnYXL8DevOeefxB1l+y4S10lx06YX3/AF2Pj28103iOY8Zxl7fq6jY3S3Jd13x63OPoVzy5JOmLnp6Vzj2+4fhZOH0y2fu36zHV6lplrpfNPa/mfMJC68se9/u2x/6mfq11/T07LFutHrTN1ytz8VZaKXRCjG372rllnaxcrTXu1uI1F4jUdU3BQtPgGColpdduBg9BrKhcgOIM1nqnuSOFiaxtENVnTcsyxHdGf0rOu2a3C3WsRdaj6iVjpYVRHPj0/lVWjeaeo6dwszcHp+5oPC+J4G/lftFxHD3iOnqIdsLI/Rr0jk+rfdw9oXXOIjeK0f4l8n6mzm3D2K6YWa0d7ey/Db6Vqey3MLbtMsucxEtdN7m2r7jtlurxFt+VYwnasnG6hdN1p0m4x2pp9N2mfdjbGKzZbbKOBj1hqM7ZOL1kXT0HUtmbYi5juJMibfzqP2/Eof8ARXiP+w/OajdoR1e7nyv4fKsHCrbdcC2Wx1OUJ700u4n/AGnidPOvZZp27vUhd5gCVfSoX8XxV2nNvTbJv5zk2rBoRMWh8IM/Ko3QJKsYjc+dNJb/ABr6pr6mdTV336c1TdoWrK3XpsXOFrbUtVhnYYkqMSMCD3IM+PWrJBRp6K6lmnYQ3oB5V/rXJ8p0rXj+J4m7Nlvu2ZxAQP61DhdNts1NS2CMWo4bkynwJ+tbXTbocJbp2HvXsRvjvPyqX+ES4dv1bi4l62VPrW3fDfG52BPzqjhzoDpFJnJGKtv3BSU7OR2rB9lqgDg3E71K8tvPeBfMR281hZ6TB6mPpWW6RtATfP73pBfw3FcVwmqX8LxF9l8CSonwd/OK7byX+I/MeDCzmVhxGl/uu3//AKD8yulN1xYt1xF0RaYiO9FLvugx3VmPFamVnVWZWPduTe2XKeZ22xrmhq3bWauB+F2zXYrbi4G1Ee5XzMWBcti6au9rE/E2fjXK8p9peccrT+ycVc2H/wCO5936Mn0rpjy/1uZvoaaV5byj+KERZzbhEcDdp4T5OH5Nd65N7R8r5xaf2LirLr3ey5i4+VdZlL01LtzFKCO1K0pSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBXD899oOA5LpN3F6tvWbWDmtP2v9oP7n4e3S4a22/jNU90XFp5a8f5hr8Rx2tdq6+o/aXXLF2WfK92f0rlnnr1GMstOx899vON4+6/T4LTu0tLYJ6Z+Lu/KK6pr36/FXt3E691w5bLJttn5Zfm1U6d7m648Y7/ABqxG1JZI3O9cbbbuudtvZp2WlhaFoYwGNqy3ADZmPGGO9YGDqSe0ww+KLcjnbv6VnaMDjEjEeZpaXBNv3vCdisi7EA5R/SsXLbcSz6mKDKSGBN5aheu9tuNvl5KyGQBcYnFZGbVGPQ3KCCNpEszERtVevplx1WkNuSe/pVyqzduePNRd5mPQJoSta6y3iNJ09QL7LxLrbiREhGvM+c8q1fZ7mPXol13Aalz9ndv0f8Aivp2816Zr6TZc3Wyl24fmfyqrW0dHitF0Ney3W0NQi624w/12qy6XenW+U8dZq6QTE4CuXtumJyu0k1wnEeznEcv1HV5W3a+hMmjc+/b6C7n41dwnF9XuajfZqmG28hHwjW97LHqXsL7MaPOfZvm+rrwcRfcaehqXMGm2xco+rE+hXNX+y2jpcBwGjy3jLDhL+h1LrtPr/tF110Td3LQmD5zNdK9kOe820NfS5fy7jtOzS1r2009a0bJd1ns12I4Tneno36Jqcutt09MssbZW4LmA8EmK3G8dNH2x5No8JyvieLvbLf7PxFuhp26ek2AIoM7hG7n4157ddbLMmD6+a7t7Za/NTl2jpcyu4Lp1dSX7GW7qtMTJjDXRwhYId1cVnJnLv0y3CgbHYzWxw+hfxGqW2wLluNrQ3mp8Pweprhe2lml3vf0O7W+tuhpOloiSSsyz5fWs266Z7VXW2lx02+5Zi3ser8/0qrS6uIvIRsFCO53f0qGo/aPRYKH3rh7+Ct/Q07dO0DeMB6bFYtVbbEYcxk8RtVaN10vS5+eKkF3TMZ7bzS5bfuwr2fj2+tAJtuItkfOY9aw3AnUmWdslZi3q3B2Deo3IuDJhI3zQSRY6lJGO7UQYNj1Ht4qVtlySwdPcz8qXQTMAgx+dBi8iBRYmZ2KhLKME5feqUDhInCuD+lYi0H3RM7mZ/c0GLblIcphjA/zq7Tuv07zV0LrtHUIbb7LoR8+vwqJba3MSA7Bvio8RqXaenaWs33YsU/F+FUelew/t3q8RccHzNtbz3bdU/1J2fWvTOH17NfTL7LhHxXzfYFnD2OiFrY7953n1716R7Be0/2gcNxN0XkGe55rtx579V1xy+q9OpUNK8vsLhwk1OuzRSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBWtx3FaXBcLq8RrIaemNzWzXnX8Q+c/a8TZyzQZ07Eu1ke/YrOWXjNpbp1fnHMNXmfG6vFagl2opaT9202PSuA4zXNLmJZAWFoXej5/T6Vykl2pIwGYrr/Mro0tTUuRu1LgBMxNeXe7txt23i4tubTZJjMlLwbi5m7E4jNa2nc6cW3MpELuj/XFbI+6Tm2djv8KiM9MxB6mex5/GsWCpgtJxBQsVjKw5OxvmpMkLdJ5iflQVXELF0q+IzROseqX/AMTapuGSFjZxTa5ns5jv2aCpJQhfBtWP9wYiVEx9amsTDL4ctZuJTKoG/f0oKpmYyPcPSsF0Oz+FLjGZMzisDApMehQZWYm0PTEVrXW9K3AWvfOH+VXir26fU+tRuv6rwNto7/8ANDaqzVFbb4F9O/pWdbT0OIB4jSsvdhutF+TvWdTQtuVmExEYqq7R1S1bLmY2Ge3rRUbeXcNbDZfq6bMTbdJPwZrd4O/+yaepYXaOqX7utpdd1u5hkjztvXHrrWpa2j32T6+Haq3X1C6Oi1j1f5VZaddL7uB4bqTU1tW6O0kZ7TmrLLeE4dnS4cbhSbpuZ+daTqa9z7thjBMsVK3h+I1ZluthyWkfj3p/00nxPFz968tjAH6Fa8anEXFpNtmcxDceucHxrb0uCttnq87DKx3Vra6S2C0A8vep6Ntbh+Ht05bumQMGQxEf1q+C6DJ3h2cVm25htQGcpS64MXdnZ80Nq0uHqUjyGKnCxMdkjsP5UgAkFcx59flUburrwoxl8n7KDNizst24H8/hWbJC64i0WKKA+9c5jbc8VKwAUtTvD+lBIi0ZkXCnjv8ArULgXDjtvirCAGVXMEE/yqOQDdWPl4oivpCJlDGaXXQJbvOAay9I4E7D8e1Stmbolbe/pRWLbYiMI5MpUdC41eJVhLRLRMerH4VPXU0b23NyFp8XB+/Sq+BB4niemE0m3TJ7wS/nQXaaXad9rhl2xFV8LxGpw/EW6ukxfYzM1KwTX1R6QfejwVragl10ChlO31qkr2j2I9o7OO4a2zUuOswi9/Fd3teq2Svm7kvMtTlnG26tqgw3A4j+de4ey/OdPmHCWJeKgjNejDPy9OuN3HYqUGaV0aKUpQKUpQKUpQKUpQKUpQKUpQKUpQcV7Sc0s5RyrV4m6G/7unb/ALrnYrx7W1dW66/V1GdXUVuXKqzPwrnfbnm/9583NLSu6uF4ZbbYcXXd39Cuu66oRt+KV5eTLdcc7v0qvQtSJnCHauF5sl1tkDBOAnauX1kLGLZ2iWfwrhtY+21by1BLRDf6VhlZ1N/BW6ik6bC94cP6VscLc36TkU2YxWlwN0N+hcII4HDJDUeR6tzqcRosN1uFnsMY/Cg5Q6rQFMMxtD+ysiC2pHfEuaT7lxIDmT4f1p/qIUgczQEEVlnGfH77ViRXMPk8OPlUrWMXS+H+tYu7Fx3Txv3PSgjdiAZPEdvNRQz1dV0bv9asi23bL4clRULgkFwm/wBKCq4MzbDPmTv6VgYRSEMd5alE3GVAWJy+v6VG5bkQT4bfMoIXSiL39ai3RakvnGJ8NTDqtUVO76eKjdazAQEgucfKgxNzL1E7evxisjmRRBwkNRttfIxLHdKW3feUYWIdiglf92FQPPie34VhsYIZO2IalMbxMMed6WwRNwsZneghAT1XChEE7elStIepWHYMvwqIArKQO21TW5tG5F7IwnbNTassMrEbEYc/pSQWSVJWKwoi437UmL0zkxOzQQhuWbS1gyePh9KXZexHcJf0qV6xtJEQvpv+NBZGGYiGqiKwnvMRu1FG4MZzuv5xUpi5EJfhNZF6cbwO3aisWi2xOFjO40tR232l7vmljFzDBkECfxoEKw24xJQSukGIQ8flWAmS5U3/AB8Um3q6p9IZrJBgd5YXNERRJGOn65/SpWCwBLEHoeGkxgMB5/OrNGyb8wC4Tegp1UeJ0tNi2JuiMqYD835VTy5beJ4+xJuNUuIeyFLLi/jb7gZt1C1zsQh+M1XpXdHOuICIu0xlxtRY2OJenXEGW2J2K19XVuLrhMH0jFbPEEaoHTcEyP8AOtW+4+0IyrGcExQjHTNyek75xXZPY/nl/LuLLL700bk37P6FdavSC77zMMsVguZEQFyD28Ulsu4stnt9Kcn46zi+HtuLhYzXJb1457A+0N2ldbw+vfkxarMn8yvXOF17dfSL7WRr145eU3HWXftfSlK0pSlKBSlKBSlKBSlKBSlKBXWvbjnP918qbNK/p4jX9y1P9J3f0+LXYtTUt0tO6++4tttFV7FeL+1fNf725tq60rpWzZYH+0/c1z5MtTUZyunFl0LErsZ/Oo6lymUj82sXMkMB52zUGUAiI3MQV5XFDWf8O6Ry4PX1rh7NS6zmiMQ2Jg7n/NctxbGl6bYrrfEX3W8dp32odpJj97UWOTu6TXs1LRFc5netXhZ0PaTXtVC+wuCN+z+lbekW6iXSyHnFavGrp8+5fqTi+y6xgkUBh+jViOZsGSVh8/j+VTiMIno+artuiUhJTGe1SUQRyTBH4TQBM9jYj8aSOSSYek29Ki91hY9cfhRRgukU3aDClzCTBBGPnUBHKs9pKlKMISeUrC9onEw4CgXPTkFHeez3rFzC9WFzBSIBZky4xPzpcSwJEzlj8KCHVlFIfWiLc9IiqIFC3OA3iJzWW0F2HIzd8v50FbbddKowec1WMR1MTsNWQA9TbO+CU8E1HpxlCXy0Gbr8Q57B2ahAp2x4nPxqwstLZB+cR5KXXARaPkk/GoI2t3fLt6/1qV0dQExHeo23AsQ+E8VnMCrKfHun5UVkS3ASuZfHpWLoYQU2qQIiyxBDvn40iEiS3ZnzQYtPeTMwEzilqHvG+2XvUoAJCJnZhI8/KsMNsKE+kselEQtEi1JZyO9Yib4Fzj1ankESfDOaxe7JPU4Z7Pb9KKjqGza5PJ9KjczDKuxPf1rMMq+6Mwb/ALKe83LODY8ek96CUNtriZx8qnB02ojLv+lQtliCZYxUrNwJGZjfPeZqolarckEbQFW6JF5upmquktRMLiDerZjTvubhi1ZmO351BwfJ9U1eO5oKvRqWGM5hf1rZ4pjnOlGV0kY8D3ri/Y6/7TjuczlOICDGC3euU5iOnzPh7hYhJPhtVX7bHELKEDuu6+lcTxGsmqEvurtvNcpxN7ppfDL3WPjXCa776pDLvt8T8aQjb0267SVRXPx+NZ0Uubn7xMQeacKF2ld0rgj5+nmtS1TVbWZnYYKDmOF1L9HXL7LkvsjpTHevXfYj2gOI0bLdS4HZHs140XdKKSYdsVy3JOZanAcZbqHUWOLo2Tz8a3x5eNaxy0+jdO8vtEZKnXWvZnm9nF8PYNwqGfJXZLWSvU6s0pSgUpSgUpSgUpSgUpVHG8Tp8HwmrxGshp6drcrQdT/iLzj+zcCcDoXhra2bo7W15hfdMSo5MR4mtznfH38y5lrcRrMN6J3g2A+VcdqPYlAhryZ5eV245XaXVjyepGKwtsok/DDUbkLTpziJTb0qKzddAAbeCsMq+MY0sxHmuscTcvEIXYnPb6/zrsfMH/CFwzsYK6vq6n/VXWv+rwVYscxwGoXafTkcx43pzK2OK5ZeSNut0uJ3tuPxxWvyu5Lrhm6JBra5gdV3AG0cTbjzM5/OpO0+3I2ZsnuenbtisttwZF2381HRRt6iZ2j+VWJZaBcGDaNqog2pfEdILAuKn1LaLu/z7UCboMzs/vtRemJjLMUGLgLVYx23n5maxsYFXeGpKQplnd/lUVAZSDKEz8qA3MQgS7fvyFRlDpuA+PcqTsXSRDnx2+tVzaWu6vZ/Ogk2s/6Xq27RHaajaDMsZZHEtSELZIGI32qCDaiTKyHagjcwskziH8msXMgdt4KK3TiP1rMy4w7GN6gwuJbc+mYI+mKxdmGBXEhgrKzc5xthiiTbBdHVOPT1oI2YTz2wwfSpxF7MBAhGPnUbS5XoRgQhwVlu6ewg9s/soJXNysAg+M0sEUQ2yPmozsswG73qRBe9UImwYooSQ7GMdvjmorGDHapNsGY8QvrWMEGcGzRFd0KZuRkXH5RRktd/Ar+EVlMEIhjO8+aruJxbhQx4miwQTDK5z+VBkLe52c0e84naBmgLazJDljNNiy25LVTD38NSttmbgYcSsVjTxDdAd+/0rIN0zmY70FluLszIj8/0prvTw2pMXMJESbVm0DtKMrt+FV8ShbdvF1qfspv2mnVfYa7q5v7QWqQcRb8ptrnub3dPE8Pex7tx5rrvsKpz72jHtrabL6212PmtpcWbmZ8w1elvaHEt6tzKYUckVxXFEsuYJe9ctxVw6Vu8gYriNdIYl8vb4UI3OXag2AERvJhrW4g+y4ovNpymz8at5Uzdd1S4mJ2ac0Fi4z0wzFIfbd0nq0y5ZkjBipWrKLB2DM1Ry691NELt9sVdqW3F83QW7580Ha/Y/nN/Ba9mjqXRZMWM9/H8q9k5Tx1nFaFqIsV8623BF0ym1xXoXsR7QKW6ercl9sFw4k7Nd+PP/GumGW/VeuDNK1eD4i3W0i61HFbVdmylKUClKUClKUCvPP4k85zbyzRu7dWrD33D9fpXcue8xs5VyzW4rUibSLB/1XdivEOM4vU4zitXW1L7rr71uXdlZkrjy5a9RjO6UmXLLusZfFRvZZYdypE2igrEy+KpuuG7KPl9K87kXE3EBMkpOfSsCruj3krCJkggwLOZ3qRi1nJAzDQavMlt4dZnfB5rqGtd/wBeQh1OfSu3cxF4Z3Y8bQ/1rpN90cysiCXxVix2DQvNDU0r2UbonbDia5HiS67X4c36b7tRT0tQ/G4rR4vSuu4Kxt2tyYn8K2NG9ut+0MjpIL5Un8qRPtyfDdTpWxbLG8Ympr1ENuO2axwaGlaWoBu4+s9v6VC67qXKOXsS/rQSubmbbum3vJhh9ayrswSQ/wDNUyqO55l/CgygsuyPb/mgt6cspPkrChOUdoiZ9Kkwx1EvjsRUC731hRwJ6UGSC3MwCtYCYiPhE4onV1dKJOTfE7VG4Bcw4ifyiglcgdUEGJ70XBcpCsztFREbXLK7fvasIFhcjHp+f41BhARiXxHfzUbhF8742qTJO8r38eKwbluCMz3+lFYQLvRyz3xUotNpV7VgeySuM/vesgXW2io5ZM0BktggO6PfzFAekiR3HeayEWRbHhnxWLskOx2WMveqM7QwKNZLRgYAZaWkKxcCee3jahaAHvRJiRjeoIuRLSXushj+lYItyWj6qxU4IEkN8/od6hdgWQmPFBFZTEeh3qOoYbnKoQ/hU70LXZNu9QvQDLPV5mgg3TBdMeFipLj3rpM4wfKq7mQmPAO5Vg9sqggHf0oFoijcBEzMx6VYEZVCO/ZqtZcpO8eX9xUpBBmCfh/xQXWAmLsvh71HiS5PeFIylZEjddshtTVW+y46naX6Pig6d7LXHD+2fPdFkNTT09W3zibX9K7Vxfv3QsAfKuo8JrWv8SdJ0k6r+CuL/RESWu2cSTfMk+HtVvZWrrIaZE9j1iuN4lEm1MQJNb2u3wCA7REJWjqCSuR7+r2qwiXLLw1G2JZjFbnG6Y2XdUR8a47l98cUGYfG0elcxxdtyKATKgRj+VT7HHco1AvbLnNrEVynED0TKRO/euD050eOxgd/C/GueuLdTh2IA3nMvil7Kr0WdOJFnD4ra4TiL+F4qzV0kEZj0ezWlw8BMkTCTt86veqCfu+ezTZvT1/2Q55br6Nk3Yu7PZ7ld60tQvtEa+evZ3md3A8WF1yaVyHwfNeyezvMzX0i25Jr1YZeUdsbuOzUqNtwk1KtqUpSgUpXV/brnf8AdfLvsdC7/quIm23/AMbe7Ut17qW6dR/iJzs4zjThtFnQ0VMOG7u/pXTbS5uGTEk/hTX1HV195jyzmZrNrEWqTswfv0ryZXd3XG3bF502qJHce9UjmItR9CCp6mdOQEy4chWuXTAxMQdioi226bmIkiW30/ZWerqTszOc1CxhlsxMYxNZuS0Y2e3ioKOPk4ZgXvIROK6HrScxt2w13zjnq4e4BcbldF1Ru5hbBtdEuNmrFjutmmX8HbJakYE2xVHBW3W6OrpmbWEnDK1t8vg4ayF2wO9YttLXVUggkNt6iNzhbbGyYT3YzVOr7t6KDHY/CruDLTRW5RufERWlroa7naCH8fnVGeo6pwpmHarLfeFFnYfX+VUrapBDnLirtPATuEq7UF5NpFvaNnFQvW57nbGCal1WloWvjf02qNygWpIpgctQZSAtiCTb61BZuW6JRwYJqUWu0GN2ZjsfGoswdUMlUMj1bOMVG5WQzuxHanvNxEnZmlyl4jhxJUERV6LRjw7UJzMBECFYhtuSIQzvJ61kkS/eNjakUDqWUIJl323azaQKIJnHwqLcKJCMb7npWQDBB5PSgWq3lpLJAO/xqTjFyHaFzWBC1By58sZx6VGYWLRg7NBbcWnZLTxmsOJm0e8TWLZBgV3ntWRep6XJv61UZlUwmNpzUfdc73LuzvTcXE9yd2X9Kj0sxl74zQYLZlyHef0qNwX25wbfh2rKpgIF7uaINn3RRZCoqq5bU74iVM/1isWp2EJiFrGq9K2u89zvWNO64ZLSX8/hQXiJiRiFPz9MUtZYRTs/OsWODqITK7befSpGIyA5oLLEDYe0zn51LUxo3dYdUIJg9KjZaXIZHvjtVmtcmmigxKxRHm3Jb7j+Jd+ndEnC3Wk/H+ld/wBcC2Zklma8/wCGPsf4n6V0h9poXh9T+deg8RnRBc75rV7ay+nE66TEqu+Nq1W22Ec53nb1rZ17oUYHy4Z+Na94W2oKziGqjX4JHiRSScY/GuxaouiNwZBzmuucNd08TJa5xO812WG/hSZwNZ6pXX+YW3WpqCLbmB/Gua5fqW63DAqdVu4bvcrj+JtL7LrZPXH4VHlOt9lqGldIf6ZNmlG9oM3tmJGYe5V9rIqwEh8PQrUE0+L1bbmFyRv8fSrrLrrrWwJXYfFBZpPVpyxjuFdz9j+c3adxpal3v2bZ3P5ldQtsLNFW4AFbnBVOlr6mlq2X6NzZcM43uz67Faxy8buLjdV9Hcp4y3iNIRFrkxxXmnsZzk4jStZC4gvtnZ9PSvROF1jV0xGa9Uu5t2l22KUpVFPGcRp8Jw2rr61xbp6drdc+leF8/wCb6nNOc8TxWo3Yxp2+LfFd3/ifza627Q5doajaP+JqsSf+I+nf6V5tq51feCX/AFTJXn5ct+nLO/TOhpoN7m5zlx86k3SNpMxPy9YqoLrd1TBj86ssOolB3QNmuTCN2LVEhxO34Vp23CXBaK9zPz8Vt3vuIm448VqNyXZtbZzHZoLtO4QnZyefWp3oBkgxE1Ros2k/CavDOCMTtM/OoKeLZ4TVQg2nb5V0RX+8L5lbcb+td44sHRvSXt6M/wDFdJ0bG7mfERIGPWrFnTunAN39ltLoLo3GYrYtuL7dQCb+mEYPnWjyzUHhrbbph2e3zrc4ZLtXXHPu49MlEbGidGh7sB4cy1x+tcGoXk5Zh2rkE6dIjYxDsfvNcbxepFpuOw7MvaKEZ+0bly3Z7wz4q6xSE3cpJ32c1p23XZAk9PO1bOgRsCXAQ9qDdFMWkOcruVi9g7ysT3+TTaJywGcRS656RtJzB8KgjcAr1MSE7dt/hVZIQMyzUroLiWc7Rn50icXIRmO9Bi5J6kgw471hZutXE4xTLcxCxg9f5VFRwGHz2oD7qWqs7sjLUdm1w+d5iosSb+Xv9KDaLdhxt2qiz/QRgndzDUbUbmQ8BFG46tsmRD08VK2cjBOY8VFLhWG4U3nvWcGLmHJFYAJUQCFnEeaKEhcJ2T9KqM3MyrHjGKySIO89sNLHdMnas2Tcpsmx4agzcpIrJ28+JagoEEme7kfFSvFC1gd5TFVygRbCu7RWVVm7C93+dYvcIpGMEDPbFYhBll9DesXgBdg2JjvQa17d1syrudj19ala9SSSGIkP+Kr1rluIkVn5lWad0wtpPiKC4BC53jK/lipJIkRO2JqFhEwOyhsTvvU4mYQDv2aC7SJjMRgXz5zTiohWRmJhwU0lVgHuzs+ahqq4lMdnaiPPOZP9m/iFyrUxGpbfbIYcDXfLodLqYh2lmug+2dzoe03ItYULdZt8bn9K71p33PDtzE7np/Or/Gq4vi83qxPnvVWobEMmc/pVuuDexk3ntVareCu0SMZrURq8O9PFkhDnDGa7RpzdoEQz+Hy7V1W2244siJnE12ngrV0wc4+ZWaVx+qe9gHKIm7XHa59jr2aoMWOzNctcN3EXSK7QbejVHE8PNt02u2EzWiMlxq8RZqsEmYfyrd0TMspPug5+FcZw+hcadlktyzAen6VyXD6eoRZYyJ7zaY+BWbTSzUbr79wRzOQ9Dy1HS0F1LbbS5uvZcS3djG7WzwXBavFa5o8La33rnxaeV7Fd45NybS5faX3P2mukN6beh4K3hhclxxta3s3ynW4BdbXvbb7iDTOx6vd+Fd+5JxqRZc5rgbLepAJa5jlXB3F5czNenHGSajrPXqO2ad3VbNKhw9rbaTSqryr2x9nebaXG8Rx1xdxWlqXN7fpktpOBt3IIMeK6XcXK9MDuj3+VfRzXW+e+yPLeadd9tn9m4l//ACaRE/E2a45cW/cYuH8eKpdY3N2DDjJt9SsW3ZhC3sI4fhXZOfezHHcmuuu1rG/Q2t1dMm35nb57+a642e5cWNobtrkn9+K4WWeq52WeqjqopN0obG7WukyEXPjdmrobWAVdh2j0u7/Oqb7y69li5xDhHaglYSsBbG3f61Nufl2j8qpxbN1tsPmIJq1962FVe5UGNQHSvSYhxM10vgbevjuOuMw5PFdzZC+yZ91UO1dW5Tpzqcz1FVL0zvtVhOnL8u1D+y2v+kwKVyXBWjrX3W7Ngz864vktpqcDeSqqmP3FbvKNew43W4UuW80y9BmBY/SiVyWp9xnadq4jmDFhEz28/OuZ1MWtu6nwneU9a4XjMCTJO6p+HpQivRVCcPcmPkVv6CSMynpHatHSbgsTJ5MHiuQ0OltJ3Xd/XvRauZicqee3rS4eoxPcIxUrQbIzHlYajfJjCHacvwqIi93IDvPimo2uFLbYMz3+NNtjspOxmoX3TD1EGYjf0qjERvMx2cVG4NjJ5qXVKJGfSarv1OpbhZiX4/SiijFtgC4U8lZBxBE7M5PVqtzdIpj5/Wp2w2oS3O3f61BK2IciEyzElS6nqAhE7tQCTML2O3fHrU490brQu38fCgTIqgfnQEYIczn84rBKwgT6SnzqcoM3T2I+sUQZVBJPH73oCyDDvC7fGsREFosdjDWQW7CDGUopdkEjLldtt6wR0ZTuRil2Iu6hnG05N/wpae6q7GI7/OgxbBbiB7jVaW22uXyBLFXIuVEex2PjVOrdvGUY8fOg0eIOnWFk7Hlq7Qi6wjqE9Yj41r8WxBdPbZGr9HARdjEd2g2BMdOSfOF8VItXeQ7jjFYsY+6RG2dv6zS097puu3JySLRF+jFue2YrGssIFpOXtSxhgGYzWNS61uG6WZUmYmg86/iUNn936xI2cRaj38frXdNF6uEsukBsGflXWfb3hLeK4Oy1YuLy7GYRma5zg9e3U5bw93VaxaEGcx3rdl1tr6V62bnMD3fD3qqXqm0CcR3qV93+Ikg+N2p6lpbba257o4aI09Vf7TYnu5jNdj4O7/DJ6ch830rgOIf8XSuy53Xt8K5rhbgtsm1G6c/0rNKlbb/1V76RH6VVxMi2geG5yH82rtS5NS901tLmJMq+D12nxWdPRekuvCewZCd/n5ojT0tK6y625bizq+6uXHf09K57lHA6/MOIvt0LS2wYuvTFh+r6VdyTkV/ME1NcdLhLcCMXXvcPTtP0rvHC6GlwujbpaFltmnbsW/m+X1rphx2+63jjv3VfLeX6HLuHNLQtZ3uvd7nutb2lpXarFox5qzg+Hu17yZiuycDy8tBQr0Sa9R1aPL+XbNxXYOH4c07SCp6WkWhEVeEVQCKUpQKUpQRvttvtbbgbXCOa6b7Q+wnB8c36/LU4XiHLaHuXPw7PqV3SkVm4y9pZt4Hznk/F8q1fseP0brBxbck2r5HauF4jR6b5u6ricXH3j+fzr6O43hOH43h7tHi9KzV0rsNtxNea+1fsHrcPbfxHJerW0sroP3j4eT03rhlx2dOdw17jzW9bbZuZsIC/t8E7VZZdFx0sAbvmnEl2ncwFt0xcXYyYRGqgbtJLZ6jLa7h5PJXJlfcxKG5Gdq4TkulHAcxucN2rcfFrlbdWdILu0z2+da+jZZw/J7lgNW666N93+VUa3KtU0OD1m7AKq7Vq+xWnqa/O+acdrLb9rZZZZadrRU+tUXal/EH2FkmlZm9Dd7Fdk9muAv0OF1OIutizWuLRfB/zXSY/j5VrWpuuQ4lS1YFMR2iuF44YYwLs5zXMcUsuMZYMZwVxHFp0rsOyuK5sRRoIGMBgB39a5PQEJYXYK4rQZuCJzk2+lcpw8QW3KjnG5ii1sgEm4fvFQu+7gQ8xWbXqHpCVll/KpslooPo9oqIru95u3JzHbbNV32+GUzHeKs1DcNzecZ/cVTc3Cyw7yUEZAfdWXssxUW4SUDdl8+lZvuSUZnDUZS2S4d5PFFQ083EWpOZfNW25VkuPD3fBVdrMWsAmTf8AGrCwkgyyCUE2JMLbEEORqUS7piM7/KokwTO0/CKTKhnbO00EgiIuk9GGsg3XPYnf+dQk7IQbd6KWm5nGO/pQSFuuxPxXtWG+5uWQHEH6Utfd7neYmo9TAxPqbRRElW4BjMvh9anZMkbeTvUbbeoD9fnV02tuLZ9Riiqbrm2TEPbZ9M1XqImRnED+vpVj0kzkaq1UbHLGN+/xoOP4tHUVt6u++I+FbPCk9K2ybPb5Vq8TdFzsnk3+tbHCqWCbTMn73ofTZi7dly479qzaWgyMGSc1lQGJDZkl+NZLZhxH5tEXWpBHwkxmqdaOrcgMp2e0VdaShcwECneqbmOpYxkPrQda9p9IussD1z5rjOA+10bi21S1THafNc5zjT69fSCUlFK19HhYuMeK9PHJcdV1xm57S1bW2+LrS13Dskb1bfb1cMNsrOPNd95Z7O6HPOWW6d/+Hr22/wCHqm9r4TueldU5nyvi+Ua2vwPMNJ0tQOq25PdvNhte5+Vc88LixljY4fVOrRIczsE5rluHbjS0xWMCm8+D1rjtIWxGYOxuvgrlOC037LqugvBM7Wng/nXOou6dxx2xgDwevlrkvZ7lepzbWb7hs4Cxi64w6idjweWquU8m4jmnFWGra6fLrJb71i7V8W2m8eX6V3/R07NHSs0tCws07ALbbcAHau3Hhv3W8cfurNOy3TstsstLbLQACADtV+hpXat4ExVnCcJfq3EjDXYuA5eWgpXd0Y5XwhZaSVzmnYAY7VHS0i0I7VdQAilKUClKUClKUClKUClKUHUfbL2M4Tn2lqauh08Px6Y1Axcm3UfrvXkPHcu4nlevdwvMdG7T4ixcqZOyPcfJX0ZXEe0XIuE55wbo8VbF4e5qh71j5K5Z8e/cYuO3z5r6H2pd1e7c+GC709GuM5nqXaupocFw82dNp1zvaG6+a7b7Rch5hybjbeB1NG7Wv1ro0LrLVNR9PXyVwuvynX5drXWcULr3s3XRPyHwVyw47b7THH37a/KeVvFcTpcLw9iCwp+K16R7R8qs5ZyflmhZaCl0+u1Wfw65B0xxOtZ712cm1ct/Eu3ps4AJOkv2+VduT1i1l08x44i9gF7lcXxZ7jcMPg/OuS4z3r4HKxBXF8XdddZclsx3nY8V5nGNPRlTaZ3N4a5nQhtAETEhEFcNw+OmALzyTH9a5fSVCEHZ7Z80Wr7cOIhxJWbnEZk3DM/OoWpIgIJnxVluDADL6R8aiIXXEzKu+IHxiqckTuMxP7irwVAyx3Yds1RcRHuiJ28UVVerODO2f0quVS3Ay7fl8KndOQ37YqOmK2jkuzhzjtmgzbbOWc5a2ABgweHBPrUbBgm2OxHf1qTp9UJC+DvVEUgdux4rINx7wqMouxWICSZBYI+k1m0BJ8zJv/xURlAVtnu4YmgSqh2YDz6VFtgcqi9u1JuhBxHneipJsbkdyPlUdMLrvegg2MzR961ZnGWKlbBhnA75qos7fe6liZ+ePX+lSsYOohxmPT0qsZMkpjGH0/Wp2uIIDO5UFdyCw4XC/wA6qv8Aet6s2psePnU7kFYgNu+ajqh0ws2wpDBRXFcV1OCCTOcx52rd4TpNIuBMQm35VpcSxcOZjM1ucJjTMi91oVurd0GVu7w9n9xS0tCBUO+w+nrUIubl3xJFJftCHO1EXWE2vVE5hj6VXqMxKnrH5VZaRAqvdNo/nUNU6XEDKb71RxnH6c8Vw0m9zvW3Zwp1ElUcSTxmgsPvlc9paM3GK78PTth07r7GafTp2EV3DnXs/wAHz/ljwvG2o72alp72mxuP6V1r2TsiyzHiu/8ACkWldbJZqtWbfO3tD7Ncb7N8y+x46wv0bl+y1rbfdvPTwxuVzfJfZ7V1dOzjOK0brNBh07LiG/1Tx4O9e3cbwfDcbpGnxehp62mJcW3kgneqOP4CzXsTpDEEVicUl2zMZLt55p2QhaekBXM8t5ddqXF1xXKaHJSzVlJrmuG4W3TtAAro01+D4I07TBXI2WAEFSLQrNApSlApSlApSlApSlApSlApSlApSlBXqaVmpHXbatuRSY+Fdd5x7M8Nx2vbqXWEjNdmpQaPLeCs4TQtstAAiuofxNJeD/8AW79K77XQv4mQ3cKO3RdXPk/VnLp5XxWL0YtRUSuK4mbbQCZFxvNctxQfaS2423w1xfFXWolwAKxOK82nGNLRUhVLXt6+a5nh/e02RcYjeuJtC2Ibomd+1ctoE2CTCRmD8fjRatHASgsYNoalexBgJzOPpVWS4BV8u81ZEhLuxkKiIs9LcKCw1Tq2xezh3g7Vf72YQyP/AB4qrUBVLh9V/CKqqbs2BMG896xplqnSR5E796Nk3fdh2Id2s2uWTPbLjfuVBcito4lw+nlqU229wTEH86jY3dQQBv6VIRluRjGcyUETEYGDtWB6p6YU27MetZELgbYO45+ZHbFC6bu0BBO8+n86CNtwrgjZ8tIypMfg1m4m7IR5DNLguIAEx5qoW3XZjAeTFZsVXZBjBu0FQCTvjB+NJSQgQlQ/WgsWCWEAn0ayPubA75xLVQ3XHum+GasO8LG0v55qCtuJZfRqu5W26A7b4rN6m4xhHOKrvSHPaDw0Vx3EorkLh+Nb3CJ9mkkm72rj9eG9hhN4+G3mt3gyLAYScnn+tNjbhFcrj1p1KE4l79n1oyKwmMQgz4oI3CtzBuMM0RZaNqzCOZGo3kKMTEYI/GpQ7AGCTf61HViVMm4r+dUaHFTbxPDGZ+0MJmPjXa9KzJFdS4z/ADtJRY1BE75/Ku5aBMfKu/D9uuHTu3swe7b8q7zw33SukezO1td34b7pXZtsUpSgx0lZiKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFeffxOzrcKOToWPnXoNedfxNZ4zQP/1/q1z5P1Zy6eZ8ae8kx2hxmuI1npuUFHec1yvMGFty3eN8fH61xeoKiRA7h2rzOMUWYvlGNoTZ81ymizo2yZ3CISuPsAve8LnzW5pL9kXLPaO0UWtjSOq5nbGZ3+NXOWO2+ap4fvlcee9WXIXZtU+O/pUQuG5SBO1x4rX1BbjKEsKb1ddedLDAOJxPpiqrzGUWNooqpXrICImXalgWpDJnC/vNYVtUJDGHb4UtZuN2gs6hi1UcYmpXWrEWpOzvWLXquN19fxqXUy2gAuTutAi0HqkTcO1LV6WVTbJigTvagsANEW3BHxf1oDb7xNoeajcYm2MEyMIVIuG4Il8mahcKD0kP5/ufpQZlDZVJlyTS1hcJDOcVG2boCY8RUyUkSTODeiLJOliWSU7Hr+X0rFirgWO1Op6RIHIxvFYsZT6JVEL0ELmSYjvVesBppAb+v0/CrLupvZCPDn6VXrD9izBbkkKiuL1d8o9nzW5wVwBBCYIzBWrcraqQz8ZjxW1wSlogTv4oNrwsPie+alaLcRCTIu1RuWGMkzBWBG/Exj0+dBeGQzPTMFV6iN0Qno5/fash7+GGsawL1WsO0BvRGjxFw9D0pFwzMxkrunD5BPBXSeK+6obRnzmu68IzpWPm0/Ku/D9uuDunsy4trvPDfdK6H7Mu1d74X7hXdts0pSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgV5x/Et/6/Tjf7Mz82vR681/iRdHMcJPRb+tc+X9Wc+nmfMbv8YG1Scyww+PSuPvZmWLdp9fhW7xKqzcTOzmT4/WtLWepAnpJiCfrXmclQQ2jCPcIrc0hbAZRe8zWnFw4DDiMQ1tcPLbLJjD2oNzTOlnCfH+lTuRZSPwiq9K6LBPmG5Ui7qSGFZ2qIjeLAnSKf8FRvAtkZuHYgqSpc9UpKR2KrvQX128tKquVnFq/i/Ko23Wt2xazl8+KlekpgN5N6jaTdbdbbmIy9pxQW4LhJhdjD9anJDhPEZxUC0kServP5VaPuOwzIfD17UAbS3HUx5l+G0VHbGWO3lpajdEhOZWWpJFiDmTNBAlvLUx/41FLQAlBgR2ams3sQWmIqOqyA7THigyCKYe2EGKjb1RkVnAGWn+kLu3p2rIhYA4MR/KqJZuFtMbep5rDAgztLOCsyII4ZwdmKjbMwyBmXxQIW5vOnLDOKr4uTTCSMIC/hVkf4hEJ5Xf5VTxSEWuc7LPf8Kg0L7T7NC2E3m5mtnl4trML5xWvr5scSzMLGdpq7l77s7tpQb09NjCIki74x+lVpEdSrIONqzczEywiwARWLQZbgB7JmPSguDJmX8fTtUdRGUScO0Hzz5rNqk9Mlvrv6VG992d3L/SrBp66dN1rAmZcTXceXs8NpPmwfwrpnEYmSSHZ713Hlb1cFoXJlsPyrtw910wdy9mnJXfeFzYV0H2acld+4TNhXdts0pSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgV5f8AxJu/+1YWem34bV6hXlH8Rmec6m0FoOY7Vy5emM+nnnFI33WiDvnxWj0ykyDu962uKffdvTzD3/GtZZBwYWO0eX1rzubHSdb47r5ra4aTAKG8Gz5rULlTqhY3rZ4c6bLklHZoNizE9KjkTz86nKEEQbhlquyWIB7ybz++1TRUzjujFEOlZYYcVC+2Ccz2VxHirOqAy4kR8VDVUye8TED2orXvb+mVDMA96jYrDu5D4VLVfeS73fl8KjpwJlbUJnfftQXxFlsXZnK1Y9QCo95/GoAG0vlPPxqcrHugPn9agxvdMIXQkxEfzzUrg7zmWZpCPTbu+Ic/OsBF07TiGcUEFyRvvM4+NY1VyLH41nWFuuiOrG+ceKqZIHfKJtPignIWyXKm+e/8qzFrtlTYqFrazur32+dZfdbZFXfOfjQSN4/ZHaionUYmN5ms3vSoK4+Mf1qstG+AYCd81RfpW++twmPFaesTrJ2ZZJ7VvWQFyiv0+VaV7N92BJYnB+4qEanEPuoEmYY9e5VvAnuIiZw+nmo64IhnvJn8alwV3XYETG8TQbUzMBK79jHes3ZujA5z58VE+6tr3iZqa9FpIyj6fOqhYdUAhGPnWL0tnu5XMd6zau2DeJ2ajexPUQd0NqK0+MQMwiRHrXbuRM8s4Zf9gV1HiR+xBul8m2fWu1+zqvKeGnfph+tdeG+28Hd/Zp94+Nd+4T7hXQPZn758a7/wn3CvQ6NqlKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUBryL+IN//AN3xLu2wfDBXrrXjnt0jznjcyFz8q5cvTGfTovEpde4UWUj8619QkRtIZJ8FX6txdOJZj0rV11LjB6SxHxrzucCAiJ8TuR+VbGgJLjG0Y/5rX02LlwuyvfvV9l3VMSZx6en40K2RW4S2NqmwBaBIxB5+NUBPTGJzM1dNqkSoURkbpI7GTv8AuaheSo3Qby4pa9Vywndz9CsX3TcDCmBO9BTqA32qT9P1qFgCCSY7+tZ1Sb4ZOkwu1NJW5mF2HseairofdIkzIdv3isy52x2nP/FRhNTIz4asg9Q7hu1Rmy+XbefG/rWbmd5BIg3rB0tz0wRKJ4qGookIHddigjqF3VGEfWq1UQmd4TMxFTbVSLm57Q4Khczbsj42h9P60EtIUJUtIJKm/e3un1MR8Khp3LbDATiGlzNzMTth/GgkvSlzCwZCmi9V2FHbNV6l0BkPj+NW6JAqzGfjNQX9fToraEeJy1p9UrIJlmcb71sauNEt77z6ela+odMBb2lN2kGtrC2zaERErmaxy9DrD3UYqWrBYSYfqfCo8DgutELsyx2qjbAZG4jLWS6666R7YVZaxA2mSO6dqw3II7sQ/wAqiJTcPSw9j4Vi8ZIHxDRSSJIiR71jUEcKoTnbeqrV4suRlHu47V2f2XZ5RoJ2k/Gus8SjporHnxXZfZZnldhO1yfjXTi7bw7d79mvvlegcJ90rz72axqBXoPCfc+Vel0bNKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoDXivtxcHNeMuWB1HvGzXtTXiHtldPMeLcM6l0S+sTXHm6Yz6dQhVZ3zn9+K0eMPeBzGcxHx9a5DpcI7DmM1x/H6j1ECpiTFcHOJ2pbvEYXEh6VdawN1rHr6+K1tFXTVY3kmIrastDpWJd6I2rLXpHHkX8oqWnaMzJ5Zk+Oajp3MdTG+Xv4iakIKrsdsrNBFEvYSHAPp5qNxF3U3AxtVlpbC3B7zhGX51FEuYUTaO5Qa+rm6CW6JIzM+BrNsY6SF9MetR4v8AzLI2iIjIVm0tEhU3Ph+VFW3iMrMwzJkqeC4gDbJmKiKXQdOcq96ml3UpCJKvbGaDEQFrCM5O/wAKrYViY3O7FWAyrMBkioXsCgb4AzFRFepLcRMH0h8Vi+S2EPADmKzcolwS7s9qjcw5uHMznbNFWWYsxgnE1DUEmUHBBimmXNuHB47Vi+HDCbkH61Qbn7Qhxs+D61saItl0wB37ta2nLqQCj5/StjRIthRhwAJREr4bgcuIzgK19eSUnDI+nhq++3qv6lJ74qjVgue59PWiqdQLbZuwwkSgtVcN964tDaZF/Gat1BBLpe12MVRwofaI/dXzgPOaDesBIuUjKuy+B+FYbpJLHeJIj5xS5uAGI7bQnmo3pbA3ZjfyUiJaZ1bQ52PT1ooMqz600rukFMbYcxWL2OoQCcdz4UGrxRNrkSZ9U8ldk9k0/u4hmL3M117iJt0gwySsTiue9kH/AOvvDY1GunH+zeD0D2b/AMz516Dwn3D4V557Nv8Ai16FwmbD4V6XVtUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgd68J9sbp4/XzE33fSa91a8E9q7l47WlBb36S1x5nPPp18FlFxhPyriuOX7yu7HauWUhcrv61xPMktsUd4idq4MRnhP8m24FZmdyK3rQISRiA/r5rT4BnStLZjfBH61uWi2gRiIzv8AChWzaN1lpYiTvGamHSAqu0m/wqvThyWsejj4RU5i48Gw0Rm06bukw7GO1EG9ucsxtvQEJVliPWosCGBln/ig1uMQ1BgVxC4PlWbGXAq5Co8UBqWoMSmd6B1X2zcJb32+tFXgLLl8d/hVhdFp1XRmajbYCqSmJKlDZcZE7S49d6gyoDHmE7+v6VXdcBNoFoI989qk2yM/FZqtDpu6mPQN/WqIgiTMbvmKrvRvZlNw7VO5hFB2IMnxKpn3YFgzHagttksFEtTsYaruZUG4e/bFSWB96ZxL+VRmYQybA+ncoJ2H+IEqEZcVsWC2MkLt6FUadrIMRu9s1slwWyYXvtQRWLyTxIsQ1r3i33AMvbd+Hyq+5DKKm47P86qbIm4ggUe8zG/ehFF90GRZ8lU8OnXmFnMMQVbeSdII3Qsu/wAqhpYvZi17YkCg2Lrl01fQyTjyVVqsQK3PaDtVsHSCCz7zmI8TVFy361oSk7Rmg2NIgIjKZrF93U4lkif6VMum1IPEBO1Quel2icZdqI1de4bWJSFk/e1c/wCx7PB6oCf4nf4VwOtIhcjGSMT8a5z2Qfc4m026jL8K6cf7N4PQfZt/xvnXonB/cPhXnXs5/nxXonB/5Z8K9Lq26UKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUEb8WXfCvn/2luHjb5J95T6te/a2NLU/9Wvn3n9x/bb5w9S4+NceZjPpw90wYXCbzXFc2xo3ys4M7Vy1wFzaQsjjsptXFc1bvsmCI3WuDnGeAn+zkoYlgyetbttwWQSjHetHl71aIbiEn6VvadrcCYlAKFbJdM3Bh77VnTQxERM0tcFqR2yVkG07OZI/WiJW3RcJMx2rPSlwszuH51hItFmYwHmsWzJakO49/hQa/FIali7dUhtUbJbjAExnEeKlxWdWwSUcobULUQdsdpj5UVsWGxdme9Z1FSbgtPSGsB7qoDGCKjfcjISPae9EC5LhbsPdxPpVV6zIrvs5rOrcGzJE7bPpVF+pLgPMG/wDSmlYvvwto7R4jPesEARmJ9M5qnUFMEJl8tTGNjD2dqaF11w2DAx2zFYm19ZzgqBHYQe01IYuYz4Xx5oL9JBcMOSM/nWykkorvnetWyIQcziP1rYtVEX4HdIoaRYbhMZ7+Kr1823WKz1QxFWjFwMhC581RxGFlnPagp1Ibgdto7FU6a3anTaB2k7lXXJMwQfv9ap0+q66/pRRk9f5UGz1JpsAM4cJFU2S3Tndns/Kp3M4xbOJNpqu0JC1J8T3KDa6t4MHf8yoodLcqI4PlQEtDHU7SYKje5bS0MZndmkFOqoYyGc5rl/Y9ftOLHORrhrgLHABhTK+hXLeyL/1XE+ttrvW+O/k1j29G9nn/AKj516JwT/hnwrzn2fY4g+VejcDnTPhXqdW4UpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgUpSgq4rHD63/AKP5V89c8uni22Mly/LPmvoPjmOD4h8ad35V89c2W7irokWZ7Q1w5mM3GsNr0iITL5P3vXF82Z0kZuXGP1zXKXiykmBkw1xvM/esdh3ka4ucU8tf8EmQ8m8/GuSsekF6gxgzB8K43lnUWSLI7YiuTsPdMzswMR6UKsLkMoTmF7Vbbd2MM5N5rXtVHaJ2YmKttbbnqIGIoi/TxlW70IqVgNxBMeBSqbLsLIxnHf8AZVll0C3Rjdjeg1da1v1UtYIVJ3ppi3Gyb522qOqzq4cbvmpWpiZCH3jtRV5cYmdtjNV3u8EDIMzj1ipXXAE5DC1Rei3FuDZl3KCOpqB95G09c7f8Vry3Wz1SP3sbVm+FLYFAcY+tYttAXcx5rQxEXdKR/tjvU+05SIgdv3moiu2OxO8eayPu9LuYmY/c5rIyZtwuDvip2CWnVhMRFQvlSLsRENSGQhl2iKDa0kJUQQk8/T51bY4G4E3xVWn7tncX8f2RVumpjKUEVm5xB43+dat903IRnHnPrV+rcqt0inY3K12H/S5zPnvE0Irui4YtmJDePWmlbcXIXEpL+2lzkwjdmOxS16RGSfnJQWawXIYtTEJt61C0OuRz43PlQgeoAImE+e9RPdvYYhM+fhQbNrAhgd8TUdWS1nMsZmpW2gisz8NvNRvlgYBPwoKdUgiXPYSuR9kZOYa4wzYPrv3rj9S1brvd7ZHsVt+ytxbzO4tfvWVvD1k1j29K5CxxB8q9I4H/ACj4V5tyJjiDvgr0jgM6R8K9Tq3aUKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUGpzZ6eWcU+NK78q+euYvVxOqggbOWfWvoD2gu6eScbd40rvyr584wXWvRRHD59K4cvbnm1dQARlxntXFcbFwgQRgXcrlL7oLl6vEjn51xnEjdf59R29a4sRTykVvtIgz8GuVQLBLiYlnvXFcsg1rz7w+P1rlBOm0RUZJwz4oUtwoZPPap6ZIwsbRGf+KgMZuZO0FW6V0TMoGI7jRF9toWgJGf+ajfd7j+81m24LYCR3qnVRZhe5jcaUiq5ljpIO/esw9DsjiPL4qFxM9WU2hrNl5adKC758+aKtSSOnKd2M1Rq+7IjklirpS1jtiTv8K1dS5BBYmJhoIT1MgKsptt+v8AWpDKSfGMYqJawrC9o/Ol0ESWx4zOe9AtulAjDtOSlrt7oLnfvWS1ZQPlS0RLhxtk2/cUEmW7pjMzVpbIzvvVUXdMyw5q7Sm6F2diaDYtbegmc5PRqXUlhIKsqtRtxaAybku1QuxBIDkTvQR1UbVVjEJVOUB2GZifnVjcKhgDLiqnOLVJ7Pf0qwRvW65jJ5dqiyXHdj6HiihLaIOEcPwioxOWM4RMVL2LBxE+o7/L9+aisa3TDttMr6UtbS5EQjY2pcn2opFr4FaC5S0ZNnviCazA2hlishJcgp6+Kirbp3JaPeFhoIa6Itq4IRgWrfZu4t5xYCI2sRWvqiSlsBmTefFT5Dd0880RhWdvUrWPe2se3qfIv+5tr0nl/wDlHwrzXkX/AHNtelcv/wAm34V63VulKFKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKBSlKDifau7o9nePf/ANbXgOvaXXsyMoZhr3n21u6PZnj1/wBn614RqTKmxsdvH864cvblydtHW3jxIrgP51xd69VwyHnz6VyvGPSsjImDs+a4hum5kiWV9a4sxHgot4i+boCIjdz5rkpCzvMYunJHns1x+jBq9ph9fpW8KxOZZx3+NCrQG06omZ7tW2WxaZVfWq9P7pIDENWDJFsEO7jHpRFgPStu2Pr6VVqYf9S7Sb1d1SZiN4aquIXDKxK0IqmbUCZPofpWLZLImFY38+azqOfdm3sJ3KxZCZkDNFS6sAzPY2n1rX1k62VDeHNXwQGWPHf4VrX4u96Yhhcj6UGJbvEYECc+D0rNymbYe0fpUVCC3Lvjs1LogFM93dmgWSmUJ2nHyo9PWWtpONmJaT7xa7OSaQs3CITk7x6fGglKDbAAdq2NG1YWCMjFavSdSyLA571taclgniD1igsuP8NmfQjtUVepwEem/wDKjcNruPT3yfveq77oJIMUBBxdCbg4qF2LUmZMv0isjKkj6GWq9Rhgz2V2rSK+q1YVEUy+PHipNonUPpPaoD3CDweKnYykWucbGayqwPeZxEI5+lRXA2iMwvYKk3TjBnft8Wl7ISZNg/KgsLm0bjIndEo3XW2oAQRkmPxqEltgsB5nM1i66Z2Db07ZKCOrcACC5xmFqPJbn+/OGnfqZzJtUb2WFmZyVHlSnOeHZEb+1ana49vWuQ/91bXpXL/8q34V5ryI/wCpsr0rgP8AJt+Fet2blKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoFKUoOu+31zb7LcZEdvzrxHUUvtIjO8T3r2r+IbHstxPxt/OvG7tO60dRTpN57/CvPy9uWfbhOb3/AOLdZaMuz6Vxke8LI/HZ81vcUurxN110lpO7HrWnrsXBmI3Nq5Mxi094uYYe5tXI2WPQEgRM981q8PpdVwXxG8CzW0sAm5g9c0KtGEFAfpVtqIEEPeK1W5SIySx5+dXdN1gJIPYoi4EtxC7T2qu8BySveImsl8Rcq4lqu6+3DcSzg3zWiIXsLOez49KiCQGR7x2DNL9QJhRjD29ZqFqlpvGYJn6fjWasTbklGEe5t61rp1LFy5dyDOJ9KuvuG1ifi4quyCZzcy7bfKtCVloDvjCO8zUbxYlFTYZ/4rN1wWozcu2341AtLjGHu+fSKyM9K3MEKTDDQ6fQVnJRAuBM7QFSI6elJZ3H8KDNhF0vTDiA3+E1sAxARt6VXpWl0yjmI+VWAsz2TJQROrwKQS4f3tWFlYjM5iJ/pViMsou5mJ9ZqpgcPVjt+VBm1i0ABN3+VUXJcsuUxP4Y7VZq3ALMPg7fCqrri61uMKSRtTQyOPeyzEDj4VZ0zDPS+Tao2ApdCYHHipXa1lu2yMnitDFyjFyAbESvxqekhhFUljEvx7VXLcD0QMov6fSs3T1gYtCcME+ayLIuteltY9fWoXkTNoNux+nyqJqdMzKOX+VQu17kYtJpBC+XpRMd9qly4nmvCQn3hqu64uS65A3is8tbTmvDXmBvN/jWp3Fnb1vkX/c2V6VwH+Tb8K825Cf9TZ5r0ngSNK2vW7NylKUClKUClKUClKUClKUClKUClKUClKUClKUClKUClKUHXfb23q9nNYne63868U53re7bo2fdN31r3D2z0vtvZ7iSBiLofRrwTmdicRdaloGd68/L255uP1bbrdNW0VYz2rQvG7VLTIRK1ucTZfbYt1tq53X9xWtp8K22lzZYKTDLFcmGzpgNs7x2+NZuf925seSar0rUsSLB+H1o6F+pcsab3AkihpsaZ9pqk53MmK3bkcFyAATma1dPSNKFttjbCmfpVxp3MNreP/jfI/JmiGqpYRba9vlVNygkBIzGZ+FZvdS1LZuTvJav5Vi5bZbhcz91/CKRVQBaxMbI96gyuYgJznHirbrjKOn5ywfCKou1JuV6ICMXgOaCNy+YPl+NYtxMIPke1R1NSCQG7sFw4qN+oW2+9ar32H61dmk4ktmQN038VNtlG2WPGKpNRxm2GBW7v2Jqf2oub9O08kz8/NKJqFwCPfwVkQtFZZcH6VVqXWjK2pEyCx9D86pNe1uC7piNpR9MVF05Cy4hGRNo/Wpl8zgGJrVt1JJIWYUFxU7WYuBEgjpdqGlzctjhMYNpn9tQ6rszAee1VF1yw23DtHSx6frUm4WBIJgbWaJpG46kgMdqn07SQTt5irNPSvQYvJwJaH51O7TuhkvnvN3z7U2aUg9h94+VSdDpTMq4WrHSlLjTwRlvfx8U6Ftxp2KsRlzQUombsxmJ2iotwjc3C7xNW3aSpLpj5Bn6TmoOjGC+2GYSwn86GlN9wXDIhnfv4qF11pcRcQLiatvsulXVJNgttJqnpepW9YJI6fo4qiNxbc9PWQYY/OoaOpZbxug2KvXaSTLkrS5px2rw+rpcNwnC8Vxmvfa3dPD6ZcgMZC1e++1U8m4rjb+ecDpcfynX4Wy/Xttb9ZbUZkOlj8q1MbZtqS9vfeRaacRYp4r0XgyNIrpPLNO23iLQNq7xwp/hnwr1OrYpSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlBrcw4W3jeD1eH1Lm23UthTcrznnP8AD3TsnVs4y+8WYu0z+denzUNSy2+1LiSs3GXtLNvCuI9k+m9LtdU/8P6/Gqv/AIva/e4m+NsWh+tezcTynS1FekrUOR6c/dKnhinjHk2l7IaTcxrayvi0mtvh/YfULTo1dVOrqltJmvWOH5TpWR7piuR0+HssILT6U8MTxjx09h+JZ/xbn42f1qR7E8Vp2vRqCwgtqZr2Q07TsUdOx7FPjxPGPCOI9juaGoo6KeOpH8StTX9meb6dq/2VuA3tS78mvfNbg9LU3tK0tTlWmy2kVPixPCPAtXl3H6bGpwmuG3+WxWtdy/XZ6uH1M93TY/KvetbldxLavyrR1eC17ZhurN4YnhHherwLcRdoXWnlsR/Kqf7unUC3RvXuNq17lfwvEIjn4k1S8s1rnYPgU+E8Hj9nBazYWnC3Dcxixw+dqvOB4tA/sut4AtdvVivXLOTalzmStvR5Av3l+tPhPB408s41M8JrOT/Q1h5LxmoDdwWqo4W2vcdP2f0+8/OtmzkOiYSr8MPCPBbeR8wDHB6kTibVq+3kfHghwep//Lhr3e3kvDh90o8l0JktKfFDwjwR5BzKXp4PVlc9sUs9mua9UnCoEwN0PzntXvLyTR7W1XdyPT7FPih4R4toeznN7r37TT0rbPN2oL8ord0/Zfi2G7V0bWId3HpivV7uR2mxVV3JY2GrOLFfCPMv/iN1wGpxVuCILXH41P8A+I6bi7i7k9LP616M8nfC1F5R6NX48Txjzt9k+GAHidXGMWg0PZXgwh1uITxIT+Feh/3P/wCLWTk//j+FXwxXxjzo9lOXm/293q3n6FTt9lOXIH2Oq9s6jNejWcmP9tX6fKLTsU8Yajyu/wBhtC7jP7RwPH8y5c3af2V5w2oHXbIwqLEhj0rZ5b7A8v4TjtLjNXW5jx2vp3/aWf2rX6rS6InpAF+NeqafK7Lf9JWxZy/TN7StT16HWeW8Pqf2gUY713HhhLAar0uEsscWlbVtoFFZpSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApSlApBSlApSlApSlApSlBhtHeoXaVruFKUFf9ms8FZOHsOxSlBM0bTsVItDsUpQSgpSlApSlApFKUCCo9I+KUoHQeKx9nb4pSgx9lbWfs7fFKUGSw8U6TwUpQZgKzFKUClKUClKUClKUClKUClKUClKUClKUH//Z",
                    "format": "jpeg"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
